[2020-12-27 18:49] Nivedita967 opened #1 "Hackerrank problems"
Add Hackerrank problems with the solution code in respective languages.

[2021-01-14 04:04] kmryashasvi commented on #1
Can I add general problems which are of beginner levels (not on data-structures and algorithms)

[2021-01-14 11:50] Nivedita967 commented on #1
Hey @kmryashasvi , Which type of questions you want add?

[2021-01-16 03:52] kmryashasvi commented on #1
Easy  level questions of individual "practice" sections of different languages.
message me on instagram @sqlyash to know more.

@Nivedita967

[2021-01-16 10:48] Nivedita967 commented on #1
@kmryashasvi Sure, go for it.

[2021-01-23 17:00] Nivedita967 commented on #1
@kmryashasvi Are you still working on it?

[2021-01-24 04:09] kmryashasvi commented on #1
@Nivedita967
I am in btech 1st year
I have my exams on 27th to 30th january
I will surely try to add something after that

[2021-01-24 06:42] Nivedita967 commented on #1
No Problem @kmryashasvi

[2021-01-30 07:38] Nivedita967 opened #3 "Leetcode Problems"
Add Leetcode problems with the solution code and proper comments in respective languages.

[2021-01-30 07:41] Nivedita967 opened #4 "Codechef Problems"
Add Codechef problems with solution code in respective languages. Starting from beginner level.

[2021-02-07 15:22] #4 closed

[2021-02-07 15:22] #3 closed

[2021-02-07 15:23] #1 closed

[2021-02-12 09:38] Nivedita967 opened #21 "Discussion: Feel free to add new issue related to Problem Solving and always get the issue assigned to you first."
1. If you want to add new Algorithm code, feel free to create issue. Please add problem link (that you want to code) in the issue.
2. Make sure to join Gitter Channel - https://gitter.im/Data-Structure-and-Algorithms-Nivedita/community
3. And always get the issue assigned to you first, before working on that.
4. Don't forget to follow [Contribution Guidelines](https://github.com/Nivedita967/Data-S

[2021-02-12 09:44] Nivedita967 opened #22 "2D Array - DS"
Problem Link- https://www.hackerrank.com/challenges/2d-array/problem from HackerRank.
Add code in different languages.

[2021-02-12 09:57] Nivedita967 opened #23 "Pull Request Template"
Pull request template should contain issue number and language used.

[2021-02-12 10:01] Nivedita967 opened #24 "Issue Template"
Issue Template should contain Problem link along with Coding Platform name.

[2021-02-12 10:05] Nivedita967 opened #25 "XOR Operation in an Array"
Problem Link- https://leetcode.com/problems/xor-operation-in-an-array from Leetcode.

[2021-02-12 10:14] Nivedita967 opened #26 "Subsets"
Problem link- https://leetcode.com/problems/subsets/ from Leetcode

[2021-02-12 12:47] Mahindra-7 commented on #25
@Nivedita967 as i am participant of crossWoc please assign it to me

[2021-02-12 12:50] Mahindra-7 commented on #26
@Nivedita967 as i am participant of crossWoc please assign it to me

[2021-02-12 12:51] Mahindra-7 commented on #22
@Nivedita967 as i am participant of crossWoc please assign it to me

[2021-02-12 15:29] Sloth-Panda commented on #23
plz assign to me

[2021-02-12 15:30] Sloth-Panda commented on #24
plz assign to me

[2021-02-12 15:45] 96RadhikaJadhav commented on #24
@Nivedita967 I'm a crossWoc participant and would like to work on this issue.

[2021-02-12 15:46] 96RadhikaJadhav commented on #23
@Nivedita967 I would like to work on this too as a crossWoc participant.

[2021-02-12 17:27] deephunt3r opened #27 "Long Factorial"
Problem link  https://www.hackerrank.com/challenges/extra-long-factorials/problem from Hackerrank using Arrays.

[2021-02-12 17:28] deephunt3r commented on #27
@Nivedita967 can you please verify and assign it to me under CrossWoc

[2021-02-13 02:45] kmryashasvi opened #31 "I want to add comments to all the files"
comments are very necessary
the make us understand the codes easily
there are very less fines in your repo which have comments in them,
comments have too much importance in coding tests of many companies,
thats why I have choosen this issue.

[2021-02-13 02:53] kmryashasvi commented on #31
This is under crosswoc
i dont know how to add labels on issues

[2021-02-13 05:28] Nivedita967 opened #47 "Before Creating pull request, Always get the issue assigned to you."
Make sure to join Gitter Channel -  https://gitter.im/Data-Structure-and-Algorithms-Nivedita/community
And always get the issue assigned to you first, before working on that.
Don't forget to follow [Contribution Guidelines](https://github.com/Nivedita967/Data-Structure-and-Algorithms/blob/main/.github/contributing.md)

[2021-02-13 05:44] Nivedita967 commented on #22
@Mahindra-7 in which language you want to code?

[2021-02-13 05:46] Nivedita967 commented on #23
@Sloth-Panda Go for it.

[2021-02-13 05:46] Nivedita967 commented on #24
@96RadhikaJadhav Go for it.

[2021-02-13 05:51] Nivedita967 commented on #27
@deephunt3r Go for it.

[2021-02-13 06:02] Nivedita967 commented on #31
@kmryashasvi Add comments to existing code in this repository .

[2021-02-13 06:06] kmryashasvi opened #48 "I want to add some solutions of hackerrank and codechef"

[2021-02-13 06:17] deephunt3r commented on #27
sure @Nivedita967

[2021-02-13 06:20] Nivedita967 commented on #48
Give the link of Problem you want to work on, after completing one you can work on another.

[2021-02-13 06:35] kmryashasvi commented on #48
I have to add solutions of approximately 10 problems
their java solution are already present in your repo
i will just add C and C++ version of the solution
it will be messy if i provide link of all the problems and then work on it,
they are large in number

[2021-02-13 06:43] Nivedita967 commented on #48
Join the Gitter channel- https://gitter.im/Data-Structure-and-Algorithms-Nivedita/community
You can't work on all the problems. Everyone will work on particular problem on particular language.

[2021-02-13 06:48] Nivedita967 opened #50 "Left Rotation"
Problem link- https://www.hackerrank.com/challenges/array-left-rotation/problem from HackerRank.

[2021-02-13 06:50] kmryashasvi commented on #50
I will provide its solution in c++

[2021-02-13 06:56] Nivedita967 commented on #50
@kmryashasvi Sure, go for it.

[2021-02-13 07:24] hardikchitkara commented on #50
i will provide you solution in java.

[2021-02-13 07:26] hardikchitkara commented on #26
i am participant of crossWoc. I will provide the solution for the same in java or c++.

[2021-02-13 07:27] hardikchitkara commented on #25
@Nivedita967 i can provide you solution in c++ or java for sure.

[2021-02-13 07:42] hardikchitkara commented on #31
i can add comments in any language, please assign this task to me

[2021-02-13 07:47] kmryashasvi commented on #31
My comments are also for any of the languages
 i am adding comments to all the files irrespective to any language or platform

[2021-02-13 08:03] #48 closed

[2021-02-13 08:04] Nivedita967 commented on #50
@hardikchitkara Go for it.

[2021-02-13 08:59] hardikchitkara commented on #27
i can provide solution of this in all three languages. Please give me a chance.

[2021-02-13 09:09] deephunt3r commented on #27
@hardikchitkara if @Nivedita967 accepted your request you can contribute in java and python. I have no issues.

[2021-02-13 09:24] Amit366 commented on #50
@Nivedita967  can i work on this issue??

[2021-02-13 09:36] kmryashasvi opened #71 "Number Mirror problem of codechef"
I would add solutions in C and in C++ both
(Only small differences are there in both the languages, so they can be submitted simultaneously)
Under crosswoc

[2021-02-13 10:25] Nivedita967 commented on #50
@Amit366 Sure, In which language you want to work ?

[2021-02-13 10:37] Nivedita967 commented on #27
@hardikchitkara Java and Python.

[2021-02-13 10:41] Nivedita967 commented on #71
@kmryashasvi Please provide link to the problem you want to work.

[2021-02-13 10:59] TechSpiritSS commented on #25
I am new to coding and I feel confident to be able to solve this issue. I am also in DS disocrd group of CrossWoC

[2021-02-13 10:59] TechSpiritSS commented on #25
@Nivedita967  I can code in C and C++

[2021-02-13 11:01] Archna29 commented on #22
@Nivedita967 I am a participant of crosswoc i want to do this issue in java language

[2021-02-13 11:11] Archna29 commented on #50
@Nivedita967 can i work on this issue in java language

[2021-02-13 11:26] kmryashasvi commented on #71
sorry, I forgot to mention that
[Number Mirror](https://www.codechef.com/problems/START01)

[2021-02-13 11:57] greenblade29 commented on #26
Can I work on this issue? I am a participant of CrossWoc

[2021-02-13 12:01] Manikant25 commented on #27
Can I contribute in C++?

[2021-02-13 12:02] Nivedita967 commented on #50
@Archna29 Java is already taken.

[2021-02-13 12:04] Nivedita967 commented on #27
@deephunt3r In which language are you working ?

[2021-02-13 12:05] Nivedita967 commented on #26
@greenblade29 Go for it. Please join Gitter Channel.

[2021-02-13 12:06] greenblade29 opened #73 "House Robber"
Problem link : https://leetcode.com/problems/house-robber/ from Leetcode using Dynamic Programming

Programming Language:
- [ ] C
- [x] C++
- [x] Java
- [ ] Python

[2021-02-13 12:07] greenblade29 commented on #73
@Nivedita967 can you please verify it and assign it to me

[2021-02-13 12:08] deephunt3r commented on #27
@Nivedita967 I will contribute in C. you can assign @Manikant25 in CPP.
open source is for everyone

[2021-02-13 12:08] Nivedita967 commented on #25
@TechSpiritSS Please join Gitter channel- https://gitter.im/Data-Structure-and-Algorithms-Nivedita/community
And C++ is already taken. You can go with C :)

[2021-02-13 12:09] kmryashasvi commented on #71
I have added the files
i have nothing to do more
can we now close this issue?

[2021-02-13 12:09] saksham-s1ngh commented on #26
Can I work on this issue in Python, for participation in CrossWoc?

[2021-02-13 12:10] Nivedita967 commented on #22
@Archna29 Sure, Go for it. Join the Gitter channel :)

[2021-02-13 12:34] saksham-s1ngh commented on #50
Can I work on this issue in Python?

[2021-02-13 12:35] Nivedita967 commented on #27
Sure.

[2021-02-13 12:36] Nivedita967 commented on #27
@Manikant25 Go for it.

[2021-02-13 12:37] Amit366 commented on #50
I can work on C++.

[2021-02-13 12:44] Nivedita967 commented on #71
This issue is open for python.

[2021-02-13 12:44] kmryashasvi opened #77 "Sum Of Digits problem on codechef"
I would like to add C and C++ Solution of  [Sum Of Dogits](https://www.codechef.com/problems/FLOW006) Problem

[2021-02-13 12:46] Nivedita967 commented on #50
@saksham-s1ngh Go for it.

[2021-02-13 12:47] Nivedita967 commented on #50
@Amit366 C++ is already done. You can do it in C.

[2021-02-13 12:49] Mahindra-7 commented on #22
@Nivedita967  i can solve using c++ as well as java

[2021-02-13 12:49] kmryashasvi commented on #71
I would like to add its python code,
It will not take much time Just two lines of code is required to execute it

[2021-02-13 12:52] kavania2002 opened #79 "Contributing.md [Enter Your Email]"
In contributing.md, there is written [Enter Your Email]. I think you should change it.

[2021-02-13 12:53] Amit366 commented on #50
Ok

[2021-02-13 12:53] Nivedita967 commented on #26
Java is done.

[2021-02-13 12:56] Nivedita967 commented on #31
@kmryashasvi Have you commented all the code ?

[2021-02-13 12:58] Nivedita967 commented on #22
@Mahindra-7 Please add code in C++.

[2021-02-13 13:00] Nivedita967 commented on #25
@Mahindra-7 -> Java
@hardikchitkara -> C++
@TechSpiritSS -> C
Open for Python.

[2021-02-13 13:11] Amit366 commented on #50
Should I create a separate function or can I do it in Main itself?

[2021-02-13 13:11] Nivedita967 commented on #73
@greenblade29 Go for it. In which language you are doing ?

[2021-02-13 13:12] greenblade29 commented on #73
I am doing it int Java

[2021-02-13 13:18] Mahindra-7 opened #80 "Rest in Peace (Hacker Rank)"
https://www.hackerearth.com/practice/algorithms/searching/linear-search/practice-problems/algorithm/rest-in-peace-21-1/
@Nivedita967 i would like to work on  this problem using C++

[2021-02-13 13:19] kmryashasvi commented on #31
Yes,
but if you agree,
I want to let this issue open so that, i can add comments to all future submissions,
even after the announcement of results of crosswoc

[2021-02-13 13:20] kmryashasvi commented on #31
yes,
I have added comments to all the present files,
you can close this issue if you want

[2021-02-13 13:23] kmryashasvi commented on #71
Can i go ahead to app python code @Nivedita967

[2021-02-13 13:26] Sloth-Panda opened #81 "creation of issue and pr templates"
There are not any issue and pr templates in this project that will help describing the issues and pr Let me know I would like to add them as part of cwoc. Thank you!!

[2021-02-13 13:29] kmryashasvi commented on #71
Done

[2021-02-13 13:37] greenblade29 opened #85 "Burst Balloons"
Problem link : https://leetcode.com/problems/burst-balloons/ from Leetcode using Dynamic Programming

Programming Languages:
- [x] C
- [x] C++
- [x] Java
- [ ] Python

[2021-02-13 13:38] greenblade29 commented on #85
@Nivedita967 please verify the issue and assign it to me. I will be using Java

[2021-02-13 13:58] Nivedita967 commented on #77
Java is also done .

[2021-02-13 14:00] Nivedita967 commented on #79
Hey @kavania2002, Do you want to work on this ?

[2021-02-13 14:03] Nivedita967 commented on #80
but this problem is from HackerEarth.

[2021-02-13 14:05] Nivedita967 commented on #81
But I have opened two issues for this, have a look at issue #23 and #24 .

[2021-02-13 14:05] Mahindra-7 commented on #80
@Nivedita967  i have noticed right now , i will close this issue

[2021-02-13 14:06] #80 closed

[2021-02-13 14:06] Nivedita967 commented on #85
@greenblade29 go for it.

[2021-02-13 14:07] Mahindra-7 commented on #77
@Nivedita967  i would like to go with python

[2021-02-13 14:10] #71 closed

[2021-02-13 14:53] #81 closed

[2021-02-13 14:53] Nivedita967 commented on #77
@Mahindra-7 Go for it.

[2021-02-13 15:16] TechSpiritSS commented on #50
Is this issue still open for C or C++

[2021-02-13 15:18] Nivedita967 commented on #50
Anything you want.

[2021-02-13 15:19] Nivedita967 commented on #50
No.

[2021-02-13 15:20] Nivedita967 commented on #31
You will later open this.

[2021-02-13 15:20] #31 closed

[2021-02-13 15:23] Nivedita967 commented on #26
@saksham-s1ngh Sure, go for it.
@hardikchitkara -> C++
Open for C.

[2021-02-13 15:39] Archna29 commented on #27
Can i work on this issue in java language

[2021-02-13 16:41] muthuannamalai12 opened #95 "Palindrome Number"
Problem Link: https://leetcode.com/problems/palindrome-number/ I would love to solve this in C and Python Language as a part of Cross-Woc. Kindly assign it to me.

[2021-02-13 16:47] kmryashasvi opened #96 "Add two numbers problem on codechef"
Please be kind enough to let me work on [AddTwoNumbers](https://www.codechef.com/problems/FLOW001),
I will be adding its source code in C as well as in C++
(They have a very slight difference, hence they can be done simultaneously)

Thank you

[2021-02-13 16:49] JASKAMAL22 commented on #25
hello @Nivedita967 , I would be happy to work on it using python. Can you please assign it to me!!

[2021-02-13 16:51] kavania2002 commented on #79
How can I work? I mean I don't have your email so I can't add that.

[2021-02-13 16:55] kavania2002 opened #99 "Day of the Programmer"
Day of the Programmer : Hackerrank - https://www.hackerrank.com/challenges/day-of-the-programmer/problem

I will do it in Python3

[2021-02-13 16:55] Sloth-Panda opened #100 "Removing duplicates from an array"
Would like to implement this using java .

[2021-02-13 16:57] JASKAMAL22 commented on #22
I would like to work on it using python. Can you please assign it to me!!

[2021-02-13 16:57] kavania2002 opened #101 "Merge the Tools"
Merge the Tools : HackerRank : https://www.hackerrank.com/challenges/merge-the-tools/problem

This is a Python Problem.

[2021-02-13 16:58] Sloth-Panda opened #102 "Reversing a linkedlist without recursion"
would like to implement this using java

[2021-02-13 16:58] kavania2002 opened #103 "The Minion Game"
The Minion Game : HacerRank : https://www.hackerrank.com/challenges/the-minion-game/problem

It's a Python Problem

[2021-02-13 17:00] kavania2002 opened #104 "Point of Impact"
Point of Impact : Codechef : https://www.codechef.com/problems/BILLRD

I will do it in Python

[2021-02-13 17:02] sujal111 commented on #102
Allow me to solve this

[2021-02-13 17:02] kavania2002 opened #105 "Prime Tuples"
Prime Tuples : CodeChef : https://www.codechef.com/problems/PTUPLES

I will do it in C++

[2021-02-13 17:04] Sloth-Panda commented on #102
@sujal111 bro you can make another issue for a different type of problem and go on with the same . Let me solve this if not happens you will do

[2021-02-13 17:15] TechSpiritSS commented on #77
Is this code open for C or C++

[2021-02-13 17:19] kmryashasvi commented on #77
@TechSpiritSS  I have added solutions in c and c++

[2021-02-13 17:23] TechSpiritSS commented on #77
Well that's great but use one language so that I can also contribute 😂

[2021-02-13 18:06] ShudhanshuSingh opened #108 "Factorial Trailing Zeroes (LeetCode)"
https://leetcode.com/problems/factorial-trailing-zeroes/

I would like to contribute to this problem in C++/Java

[2021-02-13 18:42] jasmine1601 opened #109 "Jumping on the Clouds"
Problem link: https://www.hackerrank.com/challenges/jumping-on-the-clouds/problem.
I will solve it in Java.

[2021-02-13 19:34] Abhichal18 commented on #22
I am a Crosswoc participant, i would like to add code in python. Can you please assign it to me?

[2021-02-13 19:55] greenblade29 opened #111 "Coin Change"
Problem Link : https://leetcode.com/problems/coin-change/ on Leetcode using dynamic programming

[2021-02-13 19:55] greenblade29 commented on #111
@Nivedita967 Please verify the problem and assign it to me

[2021-02-13 20:15] greenblade29 opened #112 "Target Sum"
Problem Link: https://leetcode.com/problems/target-sum/ on Leetcode using dynamic programming

Programming Languages:
- [ ] C
- [x] C++
- [x] Java
- [x] Python

[2021-02-13 20:15] greenblade29 commented on #112
@Nivedita967 Please verify the question and assign it to me

[2021-02-14 03:44] deeqakkk commented on #95
I would like to solve this in C and C++ ,if u will assign this to me.

[2021-02-14 03:54] Akash20x opened #113 "Rank Transform of an Array"
Problem Link:
https://leetcode.com/problems/rank-transform-of-an-array/description/
Please verify this problem and assign it to me

[2021-02-14 04:01] Akash20x opened #114 "Shortest Path In Binary Matrix"
Problem Link:
https://leetcode.com/problems/shortest-path-in-binary-matrix/description/
Please verify this problem and assign it to me

[2021-02-14 04:31] gopichandpuli9 commented on #100
I would like to implement this in python and C++.

[2021-02-14 04:40] gopichandpuli9 commented on #108
I would like to contribute for this in python

[2021-02-14 04:41] gopichandpuli9 commented on #95
I would love to solve this in python and C++

[2021-02-14 05:18] gopichandpuli9 opened #115 "Count Primes"
I would like to implement this in python,C++

[2021-02-14 06:05] gh4abhi opened #117 "Maximise Function"
Problem Link - https://www.codechef.com/FEB21B/problems/MAXFUN

[2021-02-14 06:05] gh4abhi commented on #117
Please verify this problem and assign this to me.

[2021-02-14 06:08] Nivedita967 commented on #25
@JASKAMAL22 Sure, Go for it.

[2021-02-14 06:12] Nivedita967 commented on #27
@Archna29 Java is taken.

[2021-02-14 06:15] Nivedita967 commented on #73
Open in C, C++ and Python.

[2021-02-14 06:17] Nivedita967 commented on #79
My email is available in github profile.

[2021-02-14 06:17] greenblade29 commented on #73
I will do it in C++ @Nivedita967

[2021-02-14 06:18] Nivedita967 commented on #85
Open for C, C++ and Python.

[2021-02-14 06:21] Nivedita967 commented on #95
@muthuannamalai12 -> Python.
@deeqakkk -> C
@gopichandpuli9 -> C++

[2021-02-14 06:31] Nivedita967 commented on #73
@greenblade29 Sure.

[2021-02-14 06:32] gopichandpuli9 commented on #95
I've completed and made a pull request @Nivedita967

[2021-02-14 06:34] Nivedita967 commented on #99
@kavania2002 Go for it :)

[2021-02-14 06:35] Nivedita967 commented on #100
@Sloth-Panda Please provide problem link.

[2021-02-14 06:39] Nivedita967 commented on #102
@Sloth-Panda Please Provide problem link and platform name in all your issues.
And here different languages are allowed, so every can solve one issue at the same time in different languages.

[2021-02-14 06:41] Nivedita967 commented on #104
Kindly solve previous assigned issues first.

[2021-02-14 06:43] Nivedita967 commented on #109
@jasmine1601 Go for it :)

[2021-02-14 06:46] Nivedita967 commented on #111
@greenblade29 In which language you are coding this problem ?

[2021-02-14 06:46] greenblade29 commented on #111
I will be doing both Java and C++ solutions

[2021-02-14 06:48] kavania2002 commented on #79
Yeah ohk, please assign me so I can work upon it.

[2021-02-14 06:56] gopichandpuli9 commented on #111
hey @Nivedita967  can I do it in python?

[2021-02-14 06:59] Nivedita967 commented on #113
@Akash20x Please mention the language in which you want to code and Join Gitter channel :)

[2021-02-14 07:01] Nivedita967 commented on #114
@Akash20x Language ?

[2021-02-14 07:02] Nivedita967 commented on #115
Please provide problem link.

[2021-02-14 07:04] Nivedita967 commented on #117
Kindly join Gitter channel and do mention the language in which you want to code :)

[2021-02-14 07:08] gopichandpuli9 commented on #115
https://leetcode.com/problems/count-primes/

[2021-02-14 07:10] Sloth-Panda commented on #102
@Nivedita967 I was practicing this randomly so is there any need for the problem link? I mean I will be explaining it in the pr only
Let me know

[2021-02-14 07:11] #79 closed

[2021-02-14 07:11] gopichandpuli9 commented on #85
I'll implement in C++ and python

[2021-02-14 07:12] Nivedita967 commented on #115
@gopichandpuli9 go for it.

[2021-02-14 07:21] muthuannamalai12 opened #124 "Update Contribution.md and Code of Conduct"
In Contribution.md file We can add the following
1.We can add Github documentation links for
i). Getting started with Git and GitHub
ii). Forking a Repo
iiI). Cloning a Repo
iv). How to create a Pull Request
2.Also, we can give the links for git installation
3.We can also add Style Guides for Git Commit Messages
These things will help people new to opensource understand clearly on how to create an

[2021-02-14 07:21] muthuannamalai12 commented on #124
I would love to work on the issue as a part of Cross Woc. Kindly assign it to me.

[2021-02-14 07:23] kmryashasvi commented on #96
for this problem:

- [ ] C

- [ ] C++

- [ ] Java

- [ ] Python

[2021-02-14 07:24] kmryashasvi commented on #96
I can add its python code too, if you allow

[2021-02-14 07:25] kavania2002 opened #126 "cout>> error"
Someone made error in the code.

This the link: https://github.com/Nivedita967/Data-Structure-and-Algorithms/blob/main/Codechef/Number%20Mirror/Number%20Mirror.cpp

This is the image
![errorcout](https://user-images.githubusercontent.com/72624080/107871021-f4d1cb80-6ec3-11eb-82d6-b0bfc9cf334d.PNG)

[2021-02-14 07:26] kavania2002 commented on #126
I want to correct it.

[2021-02-14 07:38] simonnepinto commented on #105
Can I implement it in Java?

[2021-02-14 07:58] Nivedita967 commented on #124
@muthuannamalai12 Yes, this will be helpful :)

[2021-02-14 07:59] Nivedita967 commented on #126
@kavania2002 Sure.

[2021-02-14 08:03] Nivedita967 commented on #105
@simonnepinto Sure, Go for it.
Also join Gitter channel- https://gitter.im/Data-Structure-and-Algorithms-Nivedita/community

[2021-02-14 08:05] Nivedita967 commented on #102
Yes, Problem link is needed. Kindly search this problem on coding platform, this is famous one.

[2021-02-14 08:06] TechSpiritSS commented on #109
Can I do this in C?

[2021-02-14 08:08] TechSpiritSS commented on #117
Can I do this Que in C or C++?

[2021-02-14 08:09] m-code12 opened #127 "Add a welcome bot"
**Is your feature request related to a problem? Please describe.**
This bot would help a first time contributor so that that contributor can follow this project's contribution guidelines.We can link our issue template, pull request template and code of conduct here.It will contain newIssue Welcome comment, newPR Welcome comment, firstPR welcome comment,etc.

We can use a GitHub App built with prob

[2021-02-14 08:10] m-code12 commented on #127
I would like to implement this as a part of CrossWoc 2021.

[2021-02-14 08:33] #101 closed

[2021-02-14 08:33] #103 closed

[2021-02-14 08:34] #126 closed

[2021-02-14 08:37] Nivedita967 commented on #22
@JASKAMAL22 Go for it.

[2021-02-14 08:38] deephunt3r commented on #127
@m-code12 could please don't mind that I have discussed this idea with @Nivedita967 yesterday night. she said to raise the issue.
when came to create an issue I have seen your issue. Can you please confirm that you only create a welcome bot? or open up an issue or pull-request also?

[2021-02-14 08:39] Nivedita967 commented on #22
@Abhichal18 Look for another issue and Join Gitter channel -https://gitter.im/Data-Structure-and-Algorithms-Nivedita/community

[2021-02-14 08:40] Nivedita967 commented on #22
@TechSpiritSS add code in C.

[2021-02-14 08:42] deephunt3r commented on #112
@Nivedita967 can you please assign it to me
I will solve this in python

[2021-02-14 08:43] Akash20x commented on #114
In java language

[2021-02-14 08:44] Nivedita967 commented on #26
@TechSpiritSS This issue is also open for C.

[2021-02-14 08:44] Akash20x commented on #113
I will solve it in java language and thanks for
assigning me.

[2021-02-14 08:45] Akash20x commented on #113
I will solve it in java language and thanks for
assigning me

[2021-02-14 08:46] kmryashasvi commented on #96
Can I go forward?

[2021-02-14 08:46] m-code12 commented on #127
But @deephunt3r I was the first one to raise an issue on this topic.

[2021-02-14 08:50] Ayush7614 opened #129 "Add Cross WOC Banner or Poster"
## Is your feature request related to a problem? Please describe.
Add Cross WOC Banner or Poster

## Describe the solution you'd like
Add Cross WOC to  Banner or Poster

[2021-02-14 08:52] Nivedita967 commented on #85
@gopichandpuli9 Sure, Go for it.

[2021-02-14 08:53] TechSpiritSS commented on #22
Sure, I'm ready to code it in C : )

[2021-02-14 08:54] Nivedita967 commented on #99
@TechSpiritSS This issue is open for C and C++ both.

[2021-02-14 08:56] TechSpiritSS commented on #26
I am unable to solve this code, probably someone else will be able to do this

[2021-02-14 08:58] gh4abhi commented on #117
@Nivedita967  Sure! I will do it in C++.

[2021-02-14 08:58] Nivedita967 commented on #115
Open for Java and C.

[2021-02-14 09:01] Nivedita967 commented on #113
@Abhichal18 This issue is open for python.

[2021-02-14 09:02] Nivedita967 commented on #114
@Abhichal18 This issue is open for python.

[2021-02-14 09:03] Nivedita967 commented on #114
@TechSpiritSS Open for C and C++ also.

[2021-02-14 09:03] Nivedita967 commented on #113
@TechSpiritSS Open for C and C++ also.

[2021-02-14 09:04] kavania2002 commented on #104
Now can I start working on this and the #105 one.

[2021-02-14 09:04] Abhichal18 commented on #113
I would like to contribute

[2021-02-14 09:12] Nivedita967 commented on #117
Okay, @TechSpiritSS Go for C.

[2021-02-14 09:18] Nivedita967 commented on #105
@Abhichal18 This issue is also open for Python.

[2021-02-14 09:19] Nivedita967 commented on #104
Sure Go for it :)

[2021-02-14 09:19] Abhichal18 commented on #105
I would like to contribute this also.

[2021-02-14 09:22] Nivedita967 commented on #96
Let others try.

[2021-02-14 09:32] deephunt3r commented on #127
@m-code12 but  I have discussed with @Nivedita967 before creating the issue yesterday night. So you can create a welcome bot.
I will create open up an issue or pull-request templates. is it okay for you!

[2021-02-14 09:35] m-code12 commented on #127
Yeah @deephunt3r You can go ahead and create an issue for PR and issue template. Works for me.

[2021-02-14 09:39] TechSpiritSS commented on #99
I am not familiar with string manipulation to solve this one

[2021-02-14 09:48] Nivedita967 commented on #127
@m-code12 Please join Gitter Channel.

[2021-02-14 09:49] Nivedita967 commented on #129
@Ayush7614 Sure, Go for it.

[2021-02-14 09:50] kanak22 commented on #99
can i do this in c++?

[2021-02-14 10:18] deephunt3r commented on #127
@Nivedita967 I have seen that someone already created the templates.

[2021-02-14 10:25] gh4abhi opened #141 "Fair Elections Codechef"
Please verify the problem and assign it to me.

[2021-02-14 10:25] Abhichal18 commented on #96
@Nivedita967  Yeah, i would like to contribute

[2021-02-14 10:25] gh4abhi commented on #141
Problem Link - https://www.codechef.com/JAN21B/problems/FAIRELCT

[2021-02-14 10:25] gh4abhi commented on #141
I will do it in c++.

[2021-02-14 10:59] Archna29 opened #143 "Balanced Brackets"
https://www.hackerrank.com/challenges/balanced-brackets/problem

[2021-02-14 11:00] Archna29 commented on #143
I would like to work on this issue using java

[2021-02-14 11:25] TechSpiritSS commented on #115
May I submit for C?

[2021-02-14 11:50] gopichandpuli9 commented on #114
I'll work in python

[2021-02-14 11:53] Abhichal18 commented on #109
can i do it in python?

[2021-02-14 12:16] saksham-s1ngh commented on #115
May I be assigned to solve this in Java?

[2021-02-14 12:17] saksham-s1ngh commented on #73
Can I solve this using Python?

[2021-02-14 12:35] greenblade29 opened #146 "Partition Equal Subset Sum"
Problem Link: https://leetcode.com/problems/partition-equal-subset-sum/ from leetcode using dynamic programming

Programming Languages:
- [ ] C
- [x] C++
- [x] Java
- [ ] Python

[2021-02-14 12:36] greenblade29 commented on #146
@Nivedita967 Please verify the question and assign it to me. I will be using Java and C++

[2021-02-14 13:18] kmryashasvi opened #147 "Add code to ATM problem on codechef"
I will working on the solution in C /C++ of  [ATM](https://www.codechef.com/problems/HS08TEST)

[2021-02-14 14:57] Nivedita967 commented on #109
@Abhichal18 Go for it .

[2021-02-14 15:20] gh4abhi opened #151 "Hail XOR"
Problem Link - https://www.codechef.com/DEC20B/problems/HXOR

[2021-02-14 15:21] gh4abhi commented on #151
Please verify the problem and assign it to me. I will do it in c++.

[2021-02-14 15:24] Nivedita967 commented on #112
Open for C.

[2021-02-14 15:30] deeqakkk commented on #100
i can code it  in c++ as well as c.

[2021-02-14 15:50] Nivedita967 commented on #114
@gopichandpuli9 Go for it.

[2021-02-14 16:00] Sloth-Panda commented on #100
https://leetcode.com/problems/remove-duplicates-from-sorted-array/

Above is the link, can I do it in c/java @Nivedita967 ?

[2021-02-14 16:04] Abhichal18 commented on #117
@Nivedita967 i would like to contribute in python.

[2021-02-14 16:08] Abhichal18 commented on #151
@Nivedita967 i would like to contribute in python

[2021-02-14 16:09] Abhichal18 commented on #147
@Nivedita967  i would like to contribute in python

[2021-02-14 16:09] Abhichal18 commented on #143
@Nivedita967 I would like to contribute in python

[2021-02-14 16:10] Abhichal18 commented on #141
@Nivedita967 i would like to contribute in python

[2021-02-14 16:11] #47 closed

[2021-02-14 16:15] Nivedita967 commented on #102
@Sloth-Panda Should I close this issue ?

[2021-02-14 16:17] Sloth-Panda commented on #102
@Nivedita967 No I will be just putting the link from any coding platform keep it open . I mean its ur choice whatever u do

[2021-02-14 16:18] Nivedita967 commented on #100
@Sloth-Panda -> C, java
@gopichandpuli9 -> python
@deeqakkk -> C++

[2021-02-14 16:23] gh4abhi opened #153 "Positive Prefixes"
Problem Link - https://www.codechef.com/DEC20B/problems/POSPREFS

[2021-02-14 16:23] Nivedita967 commented on #102
Okay no problem.

[2021-02-14 16:23] gh4abhi commented on #153
Please verify the problem and assign this to me. I will do it in c++.

[2021-02-14 16:24] #23 closed

[2021-02-14 16:26] Nivedita967 commented on #26
Okay, No problem.

[2021-02-14 16:29] #77 closed

[2021-02-14 16:31] Nivedita967 commented on #95
Open for Java.

[2021-02-14 16:33] Nivedita967 commented on #99
@kanak22 Sure, Go for it. Also join Gitter channel.

[2021-02-14 16:34] Nivedita967 commented on #99
Open for C and Java.

[2021-02-14 16:36] muthuannamalai12 commented on #95
Can I do it as a part of Cross-Woc.

[2021-02-14 16:38] #124 closed

[2021-02-14 16:42] Nivedita967 commented on #147
Java is done.

[2021-02-14 16:46] Abhichal18 commented on #153
@Nivedita967 I would like to contribute in python

[2021-02-14 16:51] kavania2002 opened #156 "Chef and Division 3"
Codechef : https://www.codechef.com/problems/DIVTHREE

I would like to do in Python and C++.

[2021-02-14 16:53] #96 closed

[2021-02-14 16:57] kavania2002 opened #158 "Encoded String"
Link: https://www.codechef.com/problems/DECODEIT

I would like to do it in Python

[2021-02-14 17:12] gh4abhi opened #159 "Vaccine Distribution"
Problem Link - https://www.codechef.com/DEC20B/problems/VACCINE2

[2021-02-14 17:12] gh4abhi commented on #159
Please Verify the problem and assign it to me.

[2021-02-14 17:13] gh4abhi commented on #159
I will do it in c++.

[2021-02-14 17:14] gh4abhi opened #160 "Gasoline Introduction"
Problem Link - https://www.codechef.com/LTIME90B/problems/BEGGASOL

[2021-02-14 17:15] gh4abhi commented on #160
Please verify the problem and assign it to me. I will do it in c++.

[2021-02-14 17:19] gh4abhi opened #161 "Watermelon"
Problem Link - https://www.codechef.com/problems/WATMELON

[2021-02-14 17:19] gh4abhi commented on #161
Please verify the problem and assign it to me. I will do it in c++.

[2021-02-14 18:00] kmryashasvi commented on #147
I think this issue can be closed after merging

[2021-02-14 18:01] vivek286 commented on #156
please assign it to me i would like to do in java and C++

[2021-02-14 18:04] vivek286 opened #165 "Sherlock and His Device"
https://www.codechef.com/problems/MISSME
please assign it to  me  would like to  do it in C++

[2021-02-14 19:16] jasmine1601 opened #168 "Birthday Cake Candles"
Problem link : https://www.hackerrank.com/challenges/birthday-cake-candles/problem
I will solve it in Java.

[2021-02-14 20:00] gh4abhi opened #169 ""Hello World!" in C"
Problem Link - https://www.hackerrank.com/challenges/hello-world-c/problem

[2021-02-14 20:00] gh4abhi commented on #169
Please verify the problem and assign it to me. I will do it in C.

[2021-02-14 20:01] gh4abhi opened #170 "Playing With Characters"
Problem Link - https://www.hackerrank.com/challenges/playing-with-characters/problem

[2021-02-14 20:02] gh4abhi commented on #170
Please verify the problem and assign it to me. I will do it in C.

[2021-02-14 20:02] gh4abhi opened #171 "Sum and Difference of Two Numbers"
Problem Link - https://www.hackerrank.com/challenges/sum-numbers-c/problem

[2021-02-14 20:03] gh4abhi commented on #171
Please verify the problem and assign it to me. I will do it in C.

[2021-02-14 20:04] gh4abhi opened #173 "Functions in C"
Problem Link - https://www.hackerrank.com/challenges/functions-in-c/problem

[2021-02-14 20:04] gh4abhi commented on #173
Please verify the problem and assign it to me I will do it in C.

[2021-02-14 20:19] kanak22 commented on #99
from where i can join the gitter channel?

[2021-02-15 03:08] kavania2002 commented on #99
https://gitter.im/Data-Structure-and-Algorithms-Nivedita/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge
You can join from this link.

[2021-02-15 03:10] kavania2002 opened #174 "Three Different Branches"
I am not sure that but I think we don't need branches. So only main should be kept.

[2021-02-15 04:01] greenblade29 opened #175 "Push Dominoes"
Problem link: https://leetcode.com/problems/push-dominoes/ on Leetcode using dynamic programming

Programming Languages:
- [ ] C
- [x] C++
- [x] Java
- [ ] Python

[2021-02-15 04:07] TechSpiritSS commented on #156
I can do this in C

[2021-02-15 04:12] TechSpiritSS commented on #156
and C++ too

[2021-02-15 04:15] greenblade29 commented on #175
@Nivedita967 Please verify the question and assign It to me. I will be using Java and C++

[2021-02-15 05:20] TechSpiritSS commented on #158
I can do this in C++

[2021-02-15 06:11] TechSpiritSS commented on #159
I can do this in C

[2021-02-15 06:26] TechSpiritSS commented on #160
I can do this in C

[2021-02-15 06:33] TechSpiritSS commented on #161
I can do this in C

[2021-02-15 06:40] TechSpiritSS commented on #168
I can do this in C

[2021-02-15 07:16] ItsmeSauravSonu opened #177 "Symmetric tree"
https://leetcode.com/problems/symmetric-tree/
please verify the question

I can do it without recursion in iterative way.

[2021-02-15 07:19] ItsmeSauravSonu commented on #171
I will do it in java

[2021-02-15 07:26] kanak22 opened #178 "Chef and division"
problem : https://www.codechef.com/JAN21C/problems/DIVTHREE

I can do this in C++ kindly assign it to me .

[2021-02-15 08:51] muthuannamalai12 opened #180 "Armstrong Number"
Problem Link: https://leetcode.com/problems/armstrong-number/. I Would love to solve this in Python Language as a part of Cross-Woc. Kindly assign it to me.

[2021-02-15 09:42] TechSpiritSS commented on #178
I can do this in C

[2021-02-15 10:09] gh4abhi opened #183 "Frog Sort"
Problem Link - https://www.codechef.com/FEB21B/problems/FROGS
Please verify the problem and assign it to me. I will do it in C++.

[2021-02-15 10:10] gh4abhi opened #184 "Team Name"
Problem Link  - https://www.codechef.com/FEB21B/problems/TEAMNAME
Please verify the problem and assign it to me. I will do it in C++.

[2021-02-15 10:11] gh4abhi opened #185 "Prime Game"
Problem Link - https://www.codechef.com/FEB21B/problems/PRIGAME
Please verify the problem and assign it to me. I will do it in c++.

[2021-02-15 10:12] gh4abhi opened #186 "Multiple Games"
Problem Link - https://www.codechef.com/FEB21B/problems/MULGAME
Please verify the problem and assign it to me. I will do it in C++.

[2021-02-15 10:16] #108 closed

[2021-02-15 10:48] Nivedita967 commented on #104
Open for C, C++, Java.

[2021-02-15 10:50] Nivedita967 commented on #109
Open for C++

[2021-02-15 10:52] Nivedita967 commented on #143
Open for C and C++.

[2021-02-15 10:53] Nivedita967 commented on #146
Open for C and Python.

[2021-02-15 10:55] #147 closed

[2021-02-15 10:56] Nivedita967 commented on #151
Open for C and Java

[2021-02-15 10:56] Nivedita967 commented on #153
Open for C and Java.

[2021-02-15 10:59] Nivedita967 commented on #156
@kavania2002 ->Python
@vivek286 -> java
@TechSpiritSS -> C
and open for C++
lol.

[2021-02-15 11:03] Abhichal18 commented on #159
@Nivedita967 I would like to contribute in python

[2021-02-15 11:04] kavania2002 commented on #156
Very nice 😂

[2021-02-15 11:05] Nivedita967 commented on #161
@gh4abhi Complete your all previous tasks.

[2021-02-15 11:07] Nivedita967 commented on #165
@vivek286 Do join the Gitter Channel :)

[2021-02-15 11:12] Nivedita967 commented on #174
Actually those branches I have to test something :)

[2021-02-15 11:14] Nivedita967 commented on #177
In which language you want to code ?

[2021-02-15 11:17] Nivedita967 commented on #180
@muthuannamalai12 but this question is available for only premium member, every contributors can't solve this.

[2021-02-15 11:18] kavania2002 commented on #174
ohk.. no problem.

[2021-02-15 11:18] #174 closed

[2021-02-15 11:18] Nivedita967 commented on #178
@TechSpiritSS Complete all previous works :)

[2021-02-15 11:28] ItsmeSauravSonu commented on #177
Java

On Mon, Feb 15, 2021, 4:44 PM Nivedita Singh <notifications@github.com>
wrote:

[2021-02-15 11:30] muthuannamalai12 commented on #180
I did not notice that. I will close this issue and from now I will open a issue that everybody can solve. Sorry for Inconvenience.

[2021-02-15 11:30] #180 closed

[2021-02-15 11:33] TechSpiritSS commented on #156
All three of us can do it in C++ and C++ solution is pending 😂😂

[2021-02-15 11:34] TechSpiritSS commented on #161
I first write the code and after that ask for contribution. I'm only required to make PR for these issue.

[2021-02-15 11:34] Abhichal18 commented on #160
@Nivedita967  i would to contribute in python

[2021-02-15 11:35] Abhichal18 commented on #175
@Nivedita967 I would like to contribute in python

[2021-02-15 11:35] Abhichal18 commented on #178
@Nivedita967  i would like to contribute in python

[2021-02-15 11:36] Abhichal18 commented on #171
@Nivedita967 i would like to contribute in python

[2021-02-15 11:36] Abhichal18 commented on #168
@Nivedita967 i would like to contribute in python

[2021-02-15 11:37] Abhichal18 commented on #165
@Nivedita967 i would like to contribute in python

[2021-02-15 11:37] Abhichal18 commented on #161
@Nivedita967 i would like to contribute in python

[2021-02-15 11:39] ItsmeSauravSonu commented on #178
@Nivedita967 I would like to contribute in java

[2021-02-15 11:40] TechSpiritSS commented on #178
Done ; )

[2021-02-15 11:42] muthuannamalai12 opened #197 "Reverse Integer"
Problem Link : https://leetcode.com/problems/reverse-integer/ I would like to solve it in java as a part of Cross-Woc. Kindly assign it to me

[2021-02-15 11:46] kavania2002 commented on #178
isn't this same as #156 ?

[2021-02-15 11:47] muthuannamalai12 opened #200 "Valid Perfect Square"
Problem Link: https://leetcode.com/problems/valid-perfect-square/. I would love to work on this problem as a part of Cross-Woc in the python language. Kindly assign me this issue.

[2021-02-15 11:49] ItsmeSauravSonu commented on #200
I would like to contribute in java

[2021-02-15 11:50] TechSpiritSS commented on #178
Yes, this is the same question but from different link

[2021-02-15 12:01] TechSpiritSS commented on #200
I can do this in C and C++

[2021-02-15 12:09] gh4abhi commented on #161
@Nivedita967 I have completed my previous tasks now please assign this task to me.

[2021-02-15 12:10] Nivedita967 commented on #178
Yes, you are right. This issue is already open and happily @kanak22 wants to contribute in C++ and that issue is also open for C++ :)
@kanak22 please comment on the issue #156

[2021-02-15 12:11] kanak22 commented on #156
Can I contribute in c++?

[2021-02-15 12:12] kanak22 commented on #178
I commented 😊

[2021-02-15 12:14] #178 closed

[2021-02-15 12:18] TechSpiritSS commented on #197
I can do this in C and C++

[2021-02-15 13:04] kanak22 commented on #156
U closed this issue so when I will pull a request for my c++ code regarding
this issue what should I mention in the #issue number? Kindly tell me this
😊

On Mon, Feb 15, 2021, 6:28 PM Nivedita Singh <notifications@github.com>
wrote:

[2021-02-15 13:53] Nivedita967 commented on #156
Sorry for this. This is by mistake :)

[2021-02-15 13:57] kanak22 commented on #156
Thanks 😊

[2021-02-15 14:06] muthuannamalai12 commented on #95
@Nivedita967 Can I do it as a part of Cross-Woc? Kindly assign it to me

[2021-02-15 14:10] #127 closed

[2021-02-15 14:32] kmryashasvi opened #206 "Enormous Input test on codechef"
i will be working on the c and c++ code of [this](https://www.codechef.com/problems/INTEST) Problem

[2021-02-15 14:34] #129 closed

[2021-02-15 14:36] Nivedita967 commented on #115
@gopichandpuli9 you are going to implement it in C++ also ?

[2021-02-15 14:38] Nivedita967 commented on #117
Open for Java.

[2021-02-15 14:39] Nivedita967 commented on #158
Open for C and Java.

[2021-02-15 14:42] Nivedita967 commented on #165
@Abhichal18 Clear all previous works, then comment.

[2021-02-15 14:42] #114 closed

[2021-02-15 14:44] #113 closed

[2021-02-15 14:44] Nivedita967 commented on #169
@gh4abhi This program is already done in this project.

[2021-02-15 14:44] #169 closed

[2021-02-15 14:52] Nivedita967 commented on #177
Okay, Go for it. You can add or replace the code in the folder.

[2021-02-15 14:55] gh4abhi commented on #153
Please assign this task to me I have not yet added the code of this problem.

[2021-02-15 14:56] gh4abhi commented on #159
Please assign this task to me I have not yet added the code of this problem.

[2021-02-15 14:56] gh4abhi commented on #160
Please assign this task to me I have not yet added the code of this problem.

[2021-02-15 14:56] Nivedita967 commented on #206
Java is done.

[2021-02-15 15:06] Nivedita967 commented on #95
@muthuannamalai12 Sure.

[2021-02-15 15:13] Akash20x opened #210 "Maximum Number of Achievable Transfer Requests-Leetcode"
Problem Link:
https://leetcode.com/problems/maximum-number-of-achievable-transfer-requests/description/
Please verify this problem and assign it to me

I will solve this problem in python

[2021-02-15 15:13] kanak22 commented on #156
@Nivedita967  it is again closed 😐

[2021-02-15 15:20] kanak22 commented on #156
@Nivedita967  kindly check it 😊

[2021-02-15 15:36] Akash20x opened #213 "Merge k Sorted Lists on Leetcode"
Problem Link:
https://leetcode.com/problems/merge-k-sorted-lists/description/

Please verify this problem and assign it to me and I solve it in python

Problem Number 23 on Leetcode

[2021-02-15 16:02] TechSpiritSS commented on #115
I can do this in C++ too if required

[2021-02-15 16:28] TechSpiritSS commented on #158
I can submit for C too

[2021-02-15 16:29] TechSpiritSS commented on #114
this question is out of my reach :/

[2021-02-15 17:04] gh4abhi commented on #169
Ok

[2021-02-15 17:17] 96RadhikaJadhav commented on #158
@Nivedita967 Can I add the program in Java?

[2021-02-15 19:12] greenblade29 opened #220 "Divisor Game"
Problem Link: https://leetcode.com/problems/divisor-game/ on Leetcode using dynamic programming

Programming Languages:
- [x] C
- [x] C++
- [x] Java
- [ ] Python

[2021-02-15 19:12] greenblade29 commented on #220
@Nivedita967 Please verify the issue and assign it to me. I will be using Java and C++.

[2021-02-15 19:15] greenblade29 opened #221 "Best Time to Buy and Sell Stock"
Problem Link: https://leetcode.com/problems/best-time-to-buy-and-sell-stock/ on Leetcode using dynamic programming

Programming Language:
- [x] C
- [x] C++
- [x] Java
- [ ] Python

[2021-02-15 19:15] greenblade29 commented on #221
@Nivedita967 Please verify the issue and assign it to me. I will be using Java and C++.

[2021-02-15 19:17] greenblade29 commented on #143
@Nivedita967 I will do it in C++

[2021-02-15 21:21] gh4abhi opened #228 "Pointers in C"
Problem Link - https://www.hackerrank.com/challenges/pointer-in-c/problem

[2021-02-15 21:21] gh4abhi commented on #228
Please verify the problem and assign it to me. I will do it in C.

[2021-02-15 21:22] gh4abhi opened #229 "Conditional Statements in C"
Problem Link - https://www.hackerrank.com/challenges/conditional-statements-in-c/problem

[2021-02-15 21:22] gh4abhi commented on #229
Please verify the problem and assign it to me. I will do it in C.

[2021-02-15 21:23] gh4abhi opened #230 "For Loop in C"
Problem Link - https://www.hackerrank.com/challenges/for-loop-in-c/problem

[2021-02-15 21:23] gh4abhi commented on #230
Please verify the problem and assign it to me. I will do it in C.

[2021-02-15 21:24] gh4abhi opened #231 "Sum of Digits of a Five Digit Number"
### Problem Link
https://www.hackerrank.com/challenges/sum-of-digits-of-a-five-digit-number/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [x] Python

[2021-02-15 21:24] gh4abhi commented on #231
Please verify the problem and assign it to me I will do it in C.

[2021-02-15 21:26] gh4abhi opened #232 "Chef Likes Good Sequences"
Problem Link - https://www.codechef.com/problems/GSUB

[2021-02-15 21:26] gh4abhi commented on #232
Please verify the problem and assign it to me I will do it in C++.

[2021-02-16 05:03] TechSpiritSS commented on #220
I can do this in C and C++

[2021-02-16 05:51] TechSpiritSS commented on #221
I can do this in C

[2021-02-16 06:23] TechSpiritSS commented on #232
I am partially able to do this getting TLE of 0.01 seconds in some test cases. C language

[2021-02-16 09:08] ItsmeSauravSonu commented on #213
I will solve it in java

[2021-02-16 09:23] ishikabansal04 commented on #213
Please assign me this task. I want to do in C++.

[2021-02-16 09:24] weirdrag08 commented on #213
My preferred language is C++. Please assign me the task so that I can solve using C++.

[2021-02-16 09:29] ishikabansal04 commented on #143
@Nivedita967  I want to do this issue in C++.

[2021-02-16 09:30] weirdrag08 commented on #143
I wish to solve this task in C++. Please assign me this task.

[2021-02-16 09:31] weirdrag08 commented on #112
I want to solve this issue in C++. @Nivedita967 can i be assigned this task please.

[2021-02-16 09:37] greenblade29 commented on #112
Its already done in C++.. you can try in C

[2021-02-16 09:41] weirdrag08 commented on #112
Sure, @Nivedita967 please assign me this in C then.

[2021-02-16 09:55] Nivedita967 commented on #112
@weirdrag08 Sure, go for it.

[2021-02-16 10:21] Nivedita967 commented on #102
@Sloth-Panda ???

[2021-02-16 10:24] #111 closed

[2021-02-16 10:27] Nivedita967 commented on #115
Go for it.

[2021-02-16 10:28] Nivedita967 commented on #141
Open for C and Java

[2021-02-16 10:36] Nivedita967 commented on #143
@greenblade29 Let the new contributors work on this :)

[2021-02-16 10:41] Nivedita967 commented on #160
Open for Java.

[2021-02-16 10:42] Nivedita967 commented on #161
Open for Java.

[2021-02-16 10:43] Nivedita967 commented on #168
Open for C++

[2021-02-16 10:49] Nivedita967 commented on #213
@Akash20x You have given the link of solution lol.

[2021-02-16 10:52] Nivedita967 commented on #220
Work on one language at a time, you can work in another language after completing one.
@greenblade29 ->Java
@TechSpiritSS -> C
Open for C++ and python.

[2021-02-16 10:53] Nivedita967 commented on #221
@greenblade29 Complete in Java first. This is open in C++ for now.

[2021-02-16 11:01] Nivedita967 commented on #114
@Akash20x Why have you closed this issue ?

[2021-02-16 11:03] Nivedita967 commented on #113
@Akash20x C++ is not yet contributed in this. How you can close this ?

[2021-02-16 11:10] #24 closed

[2021-02-16 11:35] greenblade29 opened #240 "Min Cost Climbing Stairs"
Is your feature request related to a problem? Please describe.
It is a problem on Leetcode which can be solved using dynamic programming.

Describe the solution you'd like
I would like to solve it in Java.

 Additional context
Problem Link : https://leetcode.com/problems/min-cost-climbing-stairs/

Programming language:
- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-02-16 11:39] greenblade29 opened #241 "Is Subsequence"
Is your feature request related to a problem? Please describe.
It is a problem on Leetcode which can be solved using dynamic programming.

Describe the solution you'd like
I would like to solve it in Java

Additional context
Problem Link: https://leetcode.com/problems/is-subsequence/

Programming Language:
- [ ] C
- [x] C++
- [x] Java
- [ ] Python

[2021-02-16 12:54] ishikabansal04 opened #245 "Snakes And Ladders (The Quickest Way Up)"
### Problem Link
https://www.hackerrank.com/challenges/the-quickest-way-up/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-16 12:55] ishikabansal04 commented on #245
Please review this problem and assign me this issue in C++.

[2021-02-16 14:06] Sloth-Panda commented on #102
https://leetcode.com/problems/reverse-linked-list/  here @Nivedita967  will be sending pr sooner

[2021-02-16 14:42] Nivedita967 commented on #245
@ishikabansal04 Sure, go for it :)

[2021-02-16 15:01] muthuannamalai12 commented on #200
@Nivedita967 I have to do it in python can you reopen the issue.

[2021-02-16 15:22] kmryashasvi commented on #231
I will do it in C++

[2021-02-16 15:24] kmryashasvi opened #248 "Helping chef on codechef"
### Problem Link
https://www.codechef.com/problems/FLOW008

### Coding platform
Codechef

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

[2021-02-16 16:00] Nivedita967 commented on #221
@greenblade29 go for C++.

[2021-02-16 16:04] kanak22 opened #250 "Maximum Subarray sum problem"
### Problem Link
https://www.hackerrank.com/challenges/maximum-subarray-sum/problem

### Coding platform
hackerrank

### Programming language:

- [ ] C
- [x ] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-16 16:04] kanak22 commented on #250
@Nivedita967  I would like to work on this in c++. kindly assign it to me

[2021-02-16 16:07] kanak22 commented on #248
can I contribute its solution in c++?

[2021-02-16 16:09] greenblade29 commented on #221
Please assign it to me

[2021-02-16 16:17] greenblade29 commented on #245
@Nivedita967 I will do it in Java

[2021-02-16 16:18] Nivedita967 commented on #221
Open for Python.

[2021-02-16 16:22] Nivedita967 commented on #232
Try to optimize your code :)

[2021-02-16 16:25] Nivedita967 commented on #248
@kmryashasvi Do not check checkboxes. I will check them when completed.

[2021-02-16 16:27] Akash20x commented on #213
So sorry, I will correct the link

[2021-02-16 16:29] weirdrag08 opened #254 "Roads And Libraries"
### Problem Link
https://www.hackerrank.com/challenges/torque-and-development/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-16 16:30] weirdrag08 commented on #254
Please review this problem and assign me this issue in C++.

[2021-02-16 16:46] Nivedita967 commented on #254
@weirdrag08 Go for it :)

[2021-02-16 17:12] #143 closed

[2021-02-16 17:17] Nivedita967 commented on #22
@Mahindra-7 and @JASKAMAL22 Are you working on this ?

[2021-02-16 17:18] Nivedita967 commented on #25
@JASKAMAL22 Are you working in this ?

[2021-02-16 17:19] Nivedita967 commented on #26
@hardikchitkara Are you working on this ?

[2021-02-16 17:22] Nivedita967 commented on #27
@Manikant25 Are you working on this?
@hardikchitkara Are you going to add code for python also?

[2021-02-16 17:23] #50 closed

[2021-02-16 17:28] Manikant25 commented on #27
@Nivedita967  Yes I am working. I will send PR tonight.

[2021-02-16 17:29] #95 closed

[2021-02-16 17:31] Nivedita967 commented on #100
@Sloth-Panda Are you working on this ?

[2021-02-16 17:33] Nivedita967 commented on #102
@sujal111 Tell me your language in which you want to code.

[2021-02-16 17:34] Nivedita967 commented on #104
@weirdrag08

[2021-02-16 17:35] Mahindra-7 commented on #22
@Nivedita967  i m working on it

[2021-02-16 17:35] Nivedita967 commented on #109
@weirdrag08

[2021-02-16 17:37] Mahindra-7 commented on #22
@Nivedita967 in which language do you want me to do ?

[2021-02-16 17:42] Nivedita967 commented on #159
Open for Java

[2021-02-16 17:45] Nivedita967 commented on #168
@weirdrag08

[2021-02-16 17:46] Nivedita967 commented on #170
Open for C++ ,Python and Java

[2021-02-16 17:50] Nivedita967 commented on #197
Open for Python.

[2021-02-16 17:52] Nivedita967 commented on #210
Open for C, C++ and Java

[2021-02-16 18:12] JASKAMAL22 commented on #25
Yes @Nivedita967. It's my first contribution so little challenging tasks like commit and PR. :)

[2021-02-16 18:16] muthuannamalai12 commented on #197
@Nivedita967 Can I do it as a part of Cross-Woc

[2021-02-16 18:19] Nivedita967 commented on #22
Java

[2021-02-16 18:21] JASKAMAL22 commented on #22
Yes @Nivedita967. Sorry, it's my first contribution

[2021-02-16 18:21] JASKAMAL22 commented on #22
I have to code in python!!?

[2021-02-16 18:21] Nivedita967 commented on #25
Give it a try. I will help you further :)

[2021-02-16 18:22] Nivedita967 commented on #22
Yes :)

[2021-02-16 18:22] JASKAMAL22 commented on #22
But @Mahindra-7 upload .py file

[2021-02-16 18:35] #173 closed

[2021-02-17 02:24] kmryashasvi commented on #248
I have unchecked all checkboxes,
Please assign me for C and C++

[2021-02-17 04:23] Mahindra-7 commented on #175
@Nivedita967 please assign me  this question

[2021-02-17 05:07] Jatin2020-24 commented on #206
I can do it for python, please assign it to me.

[2021-02-17 05:13] TechSpiritSS commented on #248
Let me do this in C and @kmryashasvi in C++

[2021-02-17 05:17] kmryashasvi commented on #248
I have a question.
When more than one person are working an issue, Will the scores be divided, or they will be same?

[2021-02-17 05:19] TechSpiritSS commented on #248
We are working on different languages so I think that is divided accordingly

[2021-02-17 05:19] greenblade29 commented on #245
I am unable to solve this problem @Nivedita967 ... Please unassign me

[2021-02-17 05:54] kmryashasvi commented on #248
let @Nivedita967  answer @TechSpiritSS

[2021-02-17 06:51] saksham-s1ngh commented on #115
@Nivedita967 Hi, so I'm new to the OSS sphere, and the thing is my forked repo is 80 commits behind, and I did solve this, but I cannot ask to merge that, since it's also 80 commits behind. What to do?

[2021-02-17 06:59] muthuannamalai12 opened #265 "Power Of Two"
### Problem Link
Mention the problem on which you want to work on
https://leetcode.com/problems/power-of-two/
### Coding platform
Mention the coding platform from where you have picked the problem
LeetCode
### Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-17 07:00] muthuannamalai12 commented on #265
I would like to work on this issue in Java as a part of Cross-Woc

[2021-02-17 07:02] muthuannamalai12 opened #266 "Search Insert Position"
### Problem Link
Mention the problem on which you want to work on
https://leetcode.com/problems/search-insert-position/
### Coding platform
Mention the coding platform from where you have picked the problem
LeetCode
### Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-17 07:03] muthuannamalai12 commented on #266
I would love to work on this issue as a part of Cross-Woc in java

[2021-02-17 07:30] kanak22 commented on #266
can I do it in c++?

[2021-02-17 07:32] kanak22 commented on #265
can I do it in c++?

[2021-02-17 09:06] greenblade29 opened #268 "Climbing Stairs"
Problem Link
https://leetcode.com/problems/climbing-stairs/

Coding platform
Leetcode

Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

I want to solve this problem in C++ and Java

[2021-02-17 09:09] deepesh101 commented on #109
Hi @Nivedita967,
Can I do it in C++?

[2021-02-17 09:10] greenblade29 opened #269 "Range Sum Query - Immutable"
Problem Link
https://leetcode.com/problems/range-sum-query-immutable/

Coding platform
LeetCode

Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

I want to solve this question in C++ and Java

[2021-02-17 09:46] Abhinav0909 commented on #268
Hi, @greenblade29  I would like to solve this issue in java.

[2021-02-17 09:49] Abhinav0909 commented on #250
Hi, @Nivedita967  I would like to work on this issue in java.

[2021-02-17 09:52] greenblade29 commented on #268
OK then, you can get it assigned and use Java. I will code in C++ then

[2021-02-17 13:39] weirdrag08 commented on #168
Please assign me this question in C++

[2021-02-17 13:44] weirdrag08 commented on #220
Please assign me this in C++

[2021-02-17 14:01] weirdrag08 commented on #268
Please assign me this problem in C++

[2021-02-17 14:12] weirdrag08 commented on #245
Please assign me this problem in C++

[2021-02-17 14:42] #200 closed

[2021-02-17 15:08] #25 closed

[2021-02-17 15:30] Nivedita967 commented on #250
Sure @Abhinav0909 Go for it :)

[2021-02-17 15:39] Nivedita967 commented on #268
@weirdrag08 Try to add new issues

[2021-02-17 15:49] Nivedita967 commented on #248
will remain same as far I know.

[2021-02-17 15:51] Nivedita967 commented on #248
@kmryashasvi -> C
@kanak22 -> C++
@TechSpiritSS You are late

[2021-02-17 15:52] Nivedita967 commented on #248
Open for Java and Python

[2021-02-17 15:54] Nivedita967 commented on #220
@weirdrag08 Go for it :)

[2021-02-17 15:56] Nivedita967 commented on #206
Sure @Jatin2020-24 Go for it :)

[2021-02-17 15:57] Nivedita967 commented on #197
Sure @muthuannamalai12 .

[2021-02-17 15:58] Nivedita967 commented on #183
Open for C, C++ and Java

[2021-02-17 15:59] Nivedita967 commented on #177
Open for C, C++, Python.
@weirdrag08

[2021-02-17 15:59] Nivedita967 commented on #175
@Mahindra-7 Which language ?

[2021-02-17 16:01] Nivedita967 commented on #168
@Abhichal18 Are you working on this ?

[2021-02-17 16:07] Nivedita967 commented on #109
Sure @deepesh101 Go for it :)

[2021-02-17 16:09] Mahindra-7 commented on #175
@Nivedita967 java  or C++

[2021-02-17 16:10] Nivedita967 commented on #115
No problem @saksham-s1ngh , Just add your code to respective folder and try to create pull request.

[2021-02-17 16:10] greenblade29 commented on #175
Java and C++ are done... can you try doing it in C?

[2021-02-17 16:11] Mahindra-7 commented on #175
@Nivedita967  yeah i will do in C

[2021-02-17 16:11] greenblade29 commented on #175
Cool ... solve it in C.. @Nivedita967 will assign it to you

[2021-02-17 16:14] Mahindra-7 commented on #175
@Nivedita967  Thankyou

[2021-02-17 16:14] TechSpiritSS commented on #248
Well I asked first here but it's okay I am doing nptel assignment today 😂😂

[2021-02-17 16:47] kmryashasvi commented on #248
Sorry to say,
not we, You are late,
you have not assigned us,
what should have we done?

[2021-02-17 17:40] ishikabansal04 commented on #241
I want to do this question in C++ if available.

[2021-02-17 17:42] ishikabansal04 opened #280 "Dijkstra : Shortest Reach 2"
### Problem Link
https://www.hackerrank.com/challenges/dijkstrashortreach/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-17 17:43] ishikabansal04 commented on #280
Please review this problem and assign me in C++.

[2021-02-17 17:45] weirdrag08 opened #281 "Journey To The Moon"
### Problem Link
https://www.hackerrank.com/challenges/journey-to-the-moon/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-17 17:46] weirdrag08 commented on #281
@Nivedita967 Please check this issue and assign me in C++.

[2021-02-17 17:49] Jatin2020-24 commented on #206
#https://github.com/Nivedita967/Data-Structure-and-Algorithms/issues/206#issuecomment-780656440
Create Enormous Input Test.py https://github.com/Nivedita967/Data-Structure-and-Algorithms/pull/279/commits/3b29995f9af6e0b3170044138d644e9a81f57a37

[2021-02-17 19:18] TechSpiritSS commented on #265
I can do this in C

[2021-02-17 19:23] TechSpiritSS commented on #266
I can do this in C

[2021-02-17 19:34] TechSpiritSS commented on #268
I can do this in C , I got 100% faster for this code

[2021-02-17 20:35] gh4abhi commented on #184
Please assign this to me.

[2021-02-17 20:35] gh4abhi commented on #185
Please assign this to me.

[2021-02-17 20:35] gh4abhi commented on #186
Please assign this to me.

[2021-02-18 03:51] ishikabansal04 commented on #102
Is this problem open for C++? If yes, please assign me @Nivedita967

[2021-02-18 04:56] kanak22 commented on #281
I would like to do this in C.

[2021-02-18 05:10] Spidy-Coder opened #285 "Let me check out"
Before creating any pull request, make sure to add new issue on that problem or if that problem issue is open, do comment on it and get the issue assigned to you. After that you can create a pull request on that :)

_Originally posted by @Nivedita967 in https://github.com/Nivedita967/Data-Structure-and-Algorithms/issues/233#issuecomment-780604996_

[2021-02-18 05:12] Spidy-Coder opened #286 "Adding Sparse matrix problem solution from leetcode"
Adding a new file of sparse matrix in c++ language

[2021-02-18 05:13] Spidy-Coder commented on #286
Is it ok nivedita? Please reply for the same

[2021-02-18 06:33] deeqakkk commented on #286
also provide link to that particular problem.

[2021-02-18 06:36] deeqakkk commented on #230
i can code this , if you allow me to do so.

[2021-02-18 06:53] deeqakkk commented on #229
do assign this to me, i can solve this.

[2021-02-18 08:31] greenblade29 opened #289 "Count Sorted Vowel Strings"
Problem Link
https://leetcode.com/problems/count-sorted-vowel-strings/

Coding platform
Leetcode

Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

Additional context (OPTIONAL)
I want to solve it in C++ and Java

[2021-02-18 08:33] greenblade29 opened #290 "Matrix Block Sum"
Problem Link
https://leetcode.com/problems/matrix-block-sum/

Coding platform
Leetcode

Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

Additional context (OPTIONAL)
I want to solve it in C++ and Java

[2021-02-18 08:47] #197 closed

[2021-02-18 08:51] muthuannamalai12 opened #292 "Length of Last Word"
### Problem Link
Mention the problem on which you want to work on
https://leetcode.com/problems/length-of-last-word/
### Coding platform
Mention the coding platform from where you have picked the problem
LeetCode
### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-18 08:52] muthuannamalai12 opened #293 "Valid Anagram"
### Problem Link
Mention the problem on which you want to work on
https://leetcode.com/problems/valid-anagram/
### Coding platform
Mention the coding platform from where you have picked the problem
LeetCode
### Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-18 08:55] weirdrag08 commented on #293
Please assign me this problem in C++

[2021-02-18 09:09] muthuannamalai12 commented on #293
I would love to work on it java as a part of Cross-Woc

[2021-02-18 09:11] muthuannamalai12 commented on #292
I would love to work on this in java. Kindly assign me as a part of Cross-Woc.

[2021-02-18 09:18] Nivedita967 commented on #286
Please give the link of the problem.

[2021-02-18 09:30] Nivedita967 commented on #289
Work on one language first.

[2021-02-18 09:31] Nivedita967 commented on #290
Work on one language at a time for any issue.
You can work on other after completing one.

[2021-02-18 09:33] Mahindra-7 commented on #289
@Nivedita967  can you please assign this problem

[2021-02-18 09:34] #206 closed

[2021-02-18 09:48] Nivedita967 commented on #102
@ishikabansal04 Go for it :)

[2021-02-18 09:49] kmryashasvi opened #297 "Find Remainder on Codechef"
### Problem Link
https://www.codechef.com/problems/FLOW002
### Coding platform
Codechef
### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.
![image](https://user-images.githubusercontent.com/66861659/108338835-b35f5a00-71fc-11eb-8c35-23cb52503459.png)

[2021-02-18 09:51] #22 closed

[2021-02-18 10:04] saksham-s1ngh commented on #115
#298 Fixed problem in Java

[2021-02-18 10:39] TechSpiritSS commented on #293
I can do this in C

[2021-02-18 11:47] jasmine1601 commented on #159
@Nivedita967 I want to try this in Java

[2021-02-18 14:56] Sloth-Panda opened #302 "finding all substrings of a string"
### Problem Link
Mention the problem on which you want to work on
https://www.geeksforgeeks.org/program-print-substrings-given-string/
### Coding platform
Mention the coding platform from where you have picked the problem
GFG
### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-18 14:56] Sloth-Panda commented on #302
@Nivedita967 would like to work on this under cwoc. Please assign me

[2021-02-18 14:59] Sloth-Panda opened #303 "Finding the number occuring odd number of times in an array"
### Problem Link
Mention the problem on which you want to work on
https://www.geeksforgeeks.org/find-the-number-occurring-odd-number-of-times/
### Coding platform
Mention the coding platform from where you have picked the problem
GFG
### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request

[2021-02-18 14:59] Sloth-Panda commented on #303
@Nivedita967 would like to work on it using java

[2021-02-18 15:01] Sloth-Panda opened #304 "Finding the local minima in an array"
### Problem Link
Mention the problem on which you want to work on
https://www.geeksforgeeks.org/find-local-minima-array/
### Coding platform
Mention the coding platform from where you have picked the problem
GFG
### Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-18 15:01] Sloth-Panda commented on #304
@Nivedita967 would like to work this using Java

[2021-02-18 15:07] Sloth-Panda opened #305 "Find leaders in an array"
### Problem Link
Mention the problem on which you want to work on
https://www.geeksforgeeks.org/leaders-in-an-array/
### Coding platform
Mention the coding platform from where you have picked the problem

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-18 15:07] Sloth-Panda commented on #305
Would like to work on this using java

[2021-02-18 17:18] ishikabansal04 opened #308 "Minimum Path Sum"
### Problem Link
https://leetcode.com/problems/minimum-path-sum/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-18 17:19] ishikabansal04 commented on #308
Please review this problem issue and assign me in C++.

[2021-02-18 17:24] weirdrag08 opened #309 "Path with Maximum Gold"
### Problem Link
https://leetcode.com/problems/path-with-maximum-gold/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-18 17:25] weirdrag08 commented on #309
Please review this problem and assign me this in C++

[2021-02-18 17:27] ishikabansal04 opened #310 "Simple Text Editor"
### Problem Link
https://www.hackerrank.com/challenges/simple-text-editor/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-18 17:28] ishikabansal04 commented on #310
Please review this problem and assign me in C++.

[2021-02-18 17:28] weirdrag08 opened #311 "Find the Running Median"
### Problem Link
https://www.hackerrank.com/challenges/find-the-running-median/problem

### Coding platform
HackerRank

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-18 17:28] kanak22 commented on #305
I would like to work on this in c++

[2021-02-18 17:28] weirdrag08 commented on #311
Please review this problem and assign me this in C++

[2021-02-18 17:29] kanak22 commented on #304
I would like to work on this in c++

[2021-02-18 17:30] kanak22 commented on #297
I would like to work on this in c++

[2021-02-18 17:30] ishikabansal04 opened #312 "Kruskal MST"
### Problem Link
https://www.hackerrank.com/challenges/kruskalmstrsub/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-18 17:30] kanak22 commented on #289
I would like to work on this in c++

[2021-02-18 17:30] ishikabansal04 commented on #312
Please review this problem issue and assign me in C++.

[2021-02-18 17:31] weirdrag08 opened #313 "Prim's (MST) : Special Subtree"
### Problem Link
https://www.hackerrank.com/challenges/primsmstsub/problem

### Coding platform
HackerRank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-18 17:31] kanak22 commented on #290
can I do this in c++?

[2021-02-18 17:31] weirdrag08 commented on #313
Please review this problem and assign me this in C++

[2021-02-18 17:46] #109 closed

[2021-02-18 18:09] Nivedita967 commented on #302
@Sloth-Panda You have some incomplete works. I have tagged you and asked about it but you didn't answered.
So, first of all, clear all the works assigned to you.
Also try to add the problem from the existing coding platform in the project.

[2021-02-18 18:14] Nivedita967 commented on #289
Do mention language in which you want to code in the comment.

[2021-02-18 18:28] Sloth-Panda commented on #302
@Nivedita967 I actually I am feeling a litlle bit uncomfortable with that issue you can unassign me or close that one as per ur choice. And assign me others issue that I have raised will like to do that and I have updated the link too

[2021-02-18 18:35] TechSpiritSS commented on #297
I can do this in C

[2021-02-18 20:23] weirdrag08 commented on #292
Please assign me this problem in C++

[2021-02-18 20:59] Akash20x commented on #213
Please review this pull request

[2021-02-19 02:28] Mahindra-7 commented on #289
@Nivedita967 i would like to do in java

[2021-02-19 03:16] kmryashasvi commented on #297
I am doing it in C

[2021-02-19 03:37] Sloth-Panda commented on #100
@Nivedita967 hey sorry  I just forgot sending the pr super soon

[2021-02-19 06:12] ishikabansal04 commented on #248
Hi @Nivedita967  Is it still open in Java? I would like to solve this .

[2021-02-19 06:23] muthuannamalai12 opened #322 "Power of Three"
### Problem Link
Mention the problem on which you want to work on
https://leetcode.com/problems/power-of-three/
### Coding platform
Mention the coding platform from where you have picked the problem
LeetCode
### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-19 06:23] muthuannamalai12 commented on #322
I would like to work on this issue in java as a part of Cross-Woc. Kindly assign it to me.

[2021-02-19 06:24] muthuannamalai12 opened #323 "Two Sum"
### Problem Link
Mention the problem on which you want to work on
https://leetcode.com/problems/two-sum/
### Coding platform
Mention the coding platform from where you have picked the problem
LeetCode
### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-19 06:24] muthuannamalai12 commented on #323
I would love to work on this issue in python as a part of Cross-Woc.

[2021-02-19 06:25] muthuannamalai12 commented on #323
I would love to work on this issue in python as a part of Cross-Woc. Kindly assign it to me.

[2021-02-19 06:47] ishikabansal04 commented on #170
I can do this in C++. Please assign me

[2021-02-19 11:00] greenblade29 opened #326 "Count Square Submatrices with All Ones"
### Problem Link
https://leetcode.com/problems/count-square-submatrices-with-all-ones/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-02-19 11:01] greenblade29 opened #327 "Counting Bits"
Problem Link
https://leetcode.com/problems/counting-bits/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-02-19 11:38] kanak22 commented on #323
I would like to work on this in C++

[2021-02-19 14:18] Nivedita967 commented on #289
@Mahindra-7 Java is already done.

[2021-02-19 14:25] kanak22 commented on #327
I would like to do it in C++

[2021-02-19 14:38] Nivedita967 commented on #290
Sure @kanak22 go for it :)

[2021-02-19 15:11] Nivedita967 commented on #323
@kanak22 @muthuannamalai12 Java code is already present in this repo so add your code to that folder itself.

[2021-02-19 15:13] muthuannamalai12 commented on #323
Ok @Nivedita967

[2021-02-19 15:14] kanak22 commented on #323
okay @Nivedita967

[2021-02-19 15:22] #26 closed

[2021-02-19 15:24] #27 closed

[2021-02-19 15:26] Nivedita967 commented on #73
@saksham-s1ngh are you working on this?

[2021-02-19 15:26] Nivedita967 commented on #85
@gopichandpuli9 Are you working on this ?

[2021-02-19 15:27] #99 closed

[2021-02-19 15:29] saksham-s1ngh commented on #73
Yes, I'm sorry, the whole thing about my repo being behind, caused me to stop so as to not break the original repo.
I'll do a PR by tomorrow or tonight.

[2021-02-19 15:31] gopichandpuli9 commented on #85
Yeah I'll do it by tomorrow.

[2021-02-19 15:32] #102 closed

[2021-02-19 15:32] #104 closed

[2021-02-19 15:33] Nivedita967 commented on #105
@Abhichal18 Are you working on this ?

[2021-02-19 15:34] Nivedita967 commented on #112
@weirdrag08 Are you working on this ?

[2021-02-19 15:35] gopichandpuli9 commented on #311
Assign this to me in python

[2021-02-19 15:36] #141 closed

[2021-02-19 15:36] gopichandpuli9 commented on #280
I'll implement this in python. Assign it to me.

[2021-02-19 15:36] #146 closed

[2021-02-19 15:37] Nivedita967 commented on #156
@vivek286 Are you working on this ?

[2021-02-19 15:38] #153 closed

[2021-02-19 15:38] Nivedita967 commented on #159
Sure @jasmine1601 Go for it :)

[2021-02-19 15:39] Nivedita967 commented on #160
@Abhichal18 Are you working on this ?

[2021-02-19 15:40] Nivedita967 commented on #161
@Abhichal18 Are you working on this ?

[2021-02-19 15:40] Nivedita967 commented on #165
@vivek286 Are you working on this ?

[2021-02-19 15:42] Nivedita967 commented on #170
Sure @ishikabansal04 Go for it :)

[2021-02-19 15:43] Nivedita967 commented on #171
@Abhichal18 Are you working?

[2021-02-19 15:47] Nivedita967 commented on #175
open for python.

[2021-02-19 15:56] Abhichal18 commented on #161
yeah i am

[2021-02-19 16:05] #285 closed

[2021-02-19 16:09] Nivedita967 commented on #302
@Sloth-Panda Add an additional folder for GFG the add your code the respective folder.

[2021-02-19 16:11] Nivedita967 commented on #304
@Sloth-Panda @kanak22 Add your code by creating an additional folder for GFG.

[2021-02-19 16:13] Sloth-Panda commented on #302
@Nivedita967 yes will be making the folder and the prs soon

[2021-02-19 16:16] Nivedita967 commented on #248
Sure @ishikabansal04 go for it.

[2021-02-19 16:19] Abhichal18 commented on #105
yes

[2021-02-19 16:19] Nivedita967 commented on #228
@gh4abhi I have assigned you some of your opened issue. Work on them.

[2021-02-19 16:20] Nivedita967 commented on #229
@gh4abhi Are you working on this and others issues?

[2021-02-19 16:23] greenblade29 opened #341 "Minimum Cost Tree from Leaf Values"
### Problem Link
https://leetcode.com/problems/minimum-cost-tree-from-leaf-values/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-02-19 16:36] #230 closed

[2021-02-19 16:50] #105 closed

[2021-02-19 16:51] #168 closed

[2021-02-19 16:53] #159 closed

[2021-02-19 16:56] weirdrag08 commented on #112
I am facing issues on this one, you can unassign me :-\

[2021-02-19 16:58] Abhichal18 commented on #250
@Nivedita967 i would like to contribute in python

[2021-02-19 17:04] #112 closed

[2021-02-19 17:40] ItsmeSauravSonu commented on #308
I want to contribute using Java

[2021-02-19 17:43] ItsmeSauravSonu commented on #312
I want to contribute in java

[2021-02-19 17:45] ItsmeSauravSonu commented on #309
I want to contribute in java language, please assign to me

[2021-02-19 17:48] ItsmeSauravSonu commented on #297
I can do in Java, please assign to me

[2021-02-19 17:49] ItsmeSauravSonu commented on #304
I want to contribute in java

[2021-02-19 17:51] ItsmeSauravSonu commented on #311
I wanna contribute in java

[2021-02-20 02:26] kmryashasvi commented on #311
I will do it in C

[2021-02-20 02:34] kmryashasvi opened #350 "Finding Highest Divisor"
### Problem Link
https://www.codechef.com/FEB21C/problems/HDIVISR

### Coding platform
Codechef

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python 3

[2021-02-20 02:35] kmryashasvi commented on #350
I want to work on C on it

[2021-02-20 04:30] Akash20x commented on #248
Please assign me this issue, I will solve it in python

[2021-02-20 04:33] Akash20x commented on #326
Please assign me, I want to solve it in python

[2021-02-20 05:00] muthuannamalai12 opened #353 "Fibonacci Number"
### Problem Link
Mention the problem on which you want to work on
https://leetcode.com/problems/fibonacci-number/
### Coding platform
Mention the coding platform from where you have picked the problem
Leetcode
### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-20 05:00] muthuannamalai12 commented on #353
I would love to work on this issue in python as a part of Cross-Woc. Kindly assign it to me

[2021-02-20 05:01] muthuannamalai12 opened #354 "Square Root(x)"
### Problem Link
Mention the problem on which you want to work on
https://leetcode.com/problems/sqrtx/
### Coding platform
Mention the coding platform from where you have picked the problem
Leetcode
### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-20 05:08] muthuannamalai12 commented on #354
I would love to work on this issue in python as a part of Cross-Woc. Kindly assign it to me

[2021-02-20 05:15] JASKAMAL22 commented on #322
I would like to work it using python. Can you please assign it to?

[2021-02-20 05:23] JASKAMAL22 commented on #305
Hey @Nivedita967 ,I would like to work in python. :)

[2021-02-20 05:28] JASKAMAL22 commented on #303
Kindly, Please assign it to me . I would like to work in python!!

[2021-02-20 06:09] weirdrag08 commented on #353
Please assign me this in C++

[2021-02-20 08:05] JASKAMAL22 commented on #354
Hey @Nivedita967 ,I would like to work in python. Kindly assign me also!!

[2021-02-20 10:02] Jindalh2 commented on #354
i would like to work in C++

[2021-02-20 10:03] greenblade29 opened #361 "Partition Array for Maximum Sum"
### Problem Link
https://leetcode.com/problems/partition-array-for-maximum-sum/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-02-20 10:03] jayantjethi commented on #354
I would like to code on this issue in C++.Kindly Assign me

[2021-02-20 10:03] Jindalh2 commented on #353
Assign me in C++

[2021-02-20 10:04] jayantjethi commented on #353
I would like to code on this issue in C++.Kindly Assign me

[2021-02-20 10:05] Jindalh2 commented on #361
I want to solve in C++

[2021-02-20 10:05] Jindalh2 commented on #361
Assign me

[2021-02-20 10:05] jayantjethi commented on #361
I would like to code on this issue in C++.Kindly Assign me

[2021-02-20 10:13] jayantjethi commented on #350
I would like to code on this issue in C++.Kindly Assign me

[2021-02-20 10:13] Jindalh2 commented on #350
I would like to code on this issue in C++.Kindly Assign me

[2021-02-20 12:10] weirdrag08 opened #364 "BFS: (Shortest Reach In A Graph)"
### Problem Link
https://www.hackerrank.com/challenges/ctci-bfs-shortest-reach/problem?h_l=interview&playlist_slugs%5B%5D=interview-preparation-kit&playlist_slugs%5B%5D=graphs

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-20 12:10] weirdrag08 commented on #364
Please review this issue . I wish to do this in C++.

[2021-02-20 12:11] ishikabansal04 commented on #364
I want to solve this in Java.

[2021-02-20 12:12] weirdrag08 opened #365 "DFS: (Connected Cell in a Grid)"
### Problem Link
https://www.hackerrank.com/challenges/ctci-connected-cell-in-a-grid/problem?h_l=interview&playlist_slugs%5B%5D=interview-preparation-kit&playlist_slugs%5B%5D=graphs

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-20 12:13] weirdrag08 commented on #365
Please review this issue. I would like to solve this in C++ :)

[2021-02-20 12:13] ishikabansal04 commented on #365
Hey @Nivedita967 , Please assign me in Java .

[2021-02-20 12:15] ishikabansal04 opened #366 "Mark And Toys"
### Problem Link
https://www.hackerrank.com/challenges/mark-and-toys/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-20 12:15] ishikabansal04 commented on #366
Please review this problem and assign me in Java.

[2021-02-20 12:16] weirdrag08 commented on #366
I want to solve this question in C++ ;-)

[2021-02-20 15:24] muthuannamalai12 commented on #361
I would like to solve this in java as a part of Cross-Woc. Kindly assign it to me

[2021-02-20 15:25] muthuannamalai12 commented on #366
I would like to solve this in python as a part of Cross-Woc

[2021-02-20 16:31] jasmine1601 commented on #350
@Nivedita967 I want to solve this in Java :)

[2021-02-20 17:58] kanak22 commented on #322
I would like to work on this in C++

[2021-02-20 18:00] kanak22 commented on #303
I would like to work on this in C++

[2021-02-20 18:27] #100 closed

[2021-02-20 20:31] ItsmeSauravSonu commented on #354
I would like to code in java, please assign to me

[2021-02-21 03:49] muthuannamalai12 commented on #327
@Nivedita967 I would love to solve this problem in python as a part of Cross-Woc. Kindly assign it to me

[2021-02-21 03:55] muthuannamalai12 commented on #326
@Nivedita967 I would love to work on this issue in C++. Kindly assign it to me

[2021-02-21 05:32] Nivedita967 commented on #248
@Akash20x go for it.

[2021-02-21 06:04] Amit366 commented on #85
@Nivedita967 can I implement it using C??

[2021-02-21 06:07] Amit366 commented on #151
@Nivedita967 can I implement it using java??

[2021-02-21 06:07] Amit366 commented on #184
@Nivedita967 can I implement using Java??

[2021-02-21 06:15] #213 closed

[2021-02-21 07:17] Abhinav0909 commented on #313
Hi, @Nivedita967 I want to work on this issue in java

[2021-02-21 08:05] Nivedita967 commented on #305
@JASKAMAL22 Go for it :)

[2021-02-21 08:07] Nivedita967 commented on #304
@ItsmeSauravSonu Java is not open for this issue.

[2021-02-21 08:10] Nivedita967 commented on #303
@JASKAMAL22 @kanak22 Go for it :)

[2021-02-21 08:13] Nivedita967 commented on #327
@muthuannamalai12 Go for it.

[2021-02-21 08:59] Nivedita967 commented on #361
@jayantjethi Look for other issues

[2021-02-21 09:00] Nivedita967 commented on #361
Java is not open.

[2021-02-21 09:04] Nivedita967 commented on #354
@Jindalh2 @jayantjethi C++ is not open for this issue.

[2021-02-21 09:06] Nivedita967 commented on #350
@jayantjethi Go for it :)

[2021-02-21 09:10] muthuannamalai12 commented on #361
Ok

[2021-02-21 09:11] Nivedita967 commented on #326
@muthuannamalai12 Let the beginners try :)

[2021-02-21 09:11] Nivedita967 commented on #326
@jayantjethi This issue is open for C++.

[2021-02-21 09:12] Nivedita967 commented on #341
@Jindalh2 This issue is open for C++

[2021-02-21 09:14] Nivedita967 commented on #313
Sure @Abhinav0909 Go for it.

[2021-02-21 09:14] muthuannamalai12 commented on #326
Ok. Thank you

[2021-02-21 09:24] Nivedita967 commented on #250
@Abhichal18 Go for it :)

[2021-02-21 09:29] Jindalh2 commented on #341
Assign me in c++

[2021-02-21 09:30] jayantjethi commented on #341
I would like to code on this issue in C++.Kindly Assign me

[2021-02-21 09:32] jayantjethi commented on #302
I would like to code on this issue in C++.Kindly Assign me

[2021-02-21 09:32] #232 closed

[2021-02-21 09:32] jayantjethi commented on #308
I would like to code on this issue in C++.Kindly Assign me

[2021-02-21 09:35] Nivedita967 commented on #184
Sure @Amit366 Go for it.

[2021-02-21 09:39] #161 closed

[2021-02-21 09:39] #165 closed

[2021-02-21 09:40] #160 closed

[2021-02-21 09:42] #156 closed

[2021-02-21 09:42] kmryashasvi commented on #156
I can do it in java today itself

[2021-02-21 09:42] kmryashasvi commented on #156
If it is pending for Java

[2021-02-21 09:43] Nivedita967 commented on #151
@Amit366 Sure go for it.

[2021-02-21 09:43] Nivedita967 commented on #151
@Abhichal18 Are you working on this ?

[2021-02-21 09:44] Sloth-Panda commented on #365
@Nivedita967 Please assign it to me in C.

[2021-02-21 09:45] Sloth-Panda commented on #364
@Nivedita967 can I work on this using java?

[2021-02-21 09:46] Nivedita967 commented on #85
@Amit366 Sure :)

[2021-02-21 09:48] Sloth-Panda commented on #361
@Nivedita967 can I try this using c?

[2021-02-21 09:49] Sloth-Panda commented on #341
@Nivedita967 can you assign me this for c?

[2021-02-21 09:50] jayantjethi commented on #326
I would like to code on this issue in C++.Kindly Assign me

[2021-02-21 09:51] Sloth-Panda commented on #326
@Nivedita967 can I try it in C?

[2021-02-21 09:51] Nivedita967 commented on #341
@jayantjethi Check for the issue #326. I have tagged you there.

[2021-02-21 09:53] Nivedita967 commented on #341
@jayantjethi @Jindalh2 There are some issue open for C++. Check issues of some days ago.

[2021-02-21 09:58] kmryashasvi commented on #350
I will add my code(in C) after the above files are merged.

[2021-02-21 10:05] jayantjethi commented on #341
ok

[2021-02-21 10:08] jayantjethi commented on #171
I would like to code on this issue in C++.Kindly Assign me

[2021-02-21 10:11] Jindalh2 commented on #171
I can code it in C++

[2021-02-21 11:05] Sloth-Panda commented on #361
@Nivedita967 are you accepting prs in python as well?

[2021-02-21 12:41] Amit366 commented on #184
@Nivedita967 when I am cloning this repo it is showing an error

error: invalid path 'Hackerrank/Snakes And Ladders /Snakes_and_ladders.java'
fatal: unable to checkout working tree
warning: Clone succeeded, but checkout failed.
You can inspect what was checked out with 'git status'
and retry with 'git restore --source=HEAD :/'

[2021-02-21 16:09] kmryashasvi opened #388 "Smallest Number of notes on Codechef"
### Problem Link
https://www.codechef.com/problems/FLOW005

### Coding platform
Codechef

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

[2021-02-21 16:10] kmryashasvi commented on #388
I want to work for c and c++ on this solution,
since it is very easy and can be done simultaneously,
I want to do both the languages, c and c++

[2021-02-21 16:59] ishikabansal04 opened #392 "The Coin Change Problem"
### Problem Link
https://www.hackerrank.com/challenges/coin-change/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-21 16:59] ishikabansal04 commented on #392
Please review this problem and assign me in Java.

[2021-02-21 17:00] weirdrag08 commented on #392
I would like to solve this in C++.

[2021-02-21 17:01] weirdrag08 opened #393 "Knapsack"
### Problem Link
https://www.hackerrank.com/challenges/unbounded-knapsack/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-21 17:01] weirdrag08 commented on #393
I would like to solve this issue in C++.

[2021-02-21 17:02] ishikabansal04 commented on #393
Please assign me this in Java.

[2021-02-21 17:09] ishikabansal04 opened #394 "Pairs"
### Problem Link
https://www.hackerrank.com/challenges/pairs/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-21 17:10] ishikabansal04 commented on #394
Please review this problem and assign me in Java.

[2021-02-21 17:10] weirdrag08 commented on #394
I would like to solve this in C++.

[2021-02-21 17:27] greenblade29 opened #395 "Stone Game"
### Problem Link
https://leetcode.com/problems/stone-game/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-02-21 17:28] greenblade29 opened #396 "Stone Game II"
### Problem Link
https://leetcode.com/problems/stone-game-ii/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-02-22 02:22] kmryashasvi commented on #350
If you allow I can also provide python code for it

[2021-02-22 09:35] Nivedita967 commented on #361
Yes

[2021-02-22 12:05] Nivedita967 commented on #350
Sure go for it.

[2021-02-22 12:29] kmryashasvi commented on #350
After merging above pull request, this issue can be closed

[2021-02-22 12:34] Nivedita967 commented on #184
Is it okay now ?

[2021-02-22 12:36] Nivedita967 commented on #73
@saksham-s1ngh ???

[2021-02-22 12:37] Nivedita967 commented on #85
@gopichandpuli9 ???

[2021-02-22 12:39] Nivedita967 commented on #158
@96RadhikaJadhav ???

[2021-02-22 12:39] #170 closed

[2021-02-22 12:40] Nivedita967 commented on #171
@jayantjethi Go for it :)

[2021-02-22 12:40] gopichandpuli9 commented on #85
I already did it in C++.
JUst check

[2021-02-22 12:41] Nivedita967 commented on #175
@Mahindra-7 Are you working on this ?

[2021-02-22 12:41] #177 closed

[2021-02-22 12:42] #183 closed

[2021-02-22 12:44] Nivedita967 commented on #388
Work on one at a time.

[2021-02-22 12:45] Amit366 commented on #184
Yes

[2021-02-22 12:47] kmryashasvi commented on #388
They were easy, that's why I tried to do simultaneously
😊

[2021-02-22 13:01] Nivedita967 commented on #85
Are going to implement it in python also or not ?

[2021-02-22 13:03] #350 closed

[2021-02-22 13:07] #248 closed

[2021-02-22 13:16] ishikabansal04 commented on #304
Is this available in C? Please assign me if open.

[2021-02-22 14:29] Jatin2020-24 commented on #297
I can do in python, please assign  to me.

[2021-02-22 14:59] jasmine1601 opened #411 "Number of Islands"
### Problem Link
https://leetcode.com/problems/number-of-islands/

### Coding platform
LeetCode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve this in Java.

[2021-02-22 15:44] kanak22 commented on #396
I want to solve it in C++

[2021-02-22 15:45] kanak22 commented on #395
I would like to do this in C++.

[2021-02-22 15:46] kanak22 commented on #388
I would like to do this in C++ if @kmryashasvi would do this in only one language

[2021-02-22 15:48] kanak22 commented on #411
I would like to do this in C++

[2021-02-22 15:58] kmryashasvi commented on #388
oh, I pulled for c++,
you can do in C after getting assigned if you want
@kanak22

[2021-02-22 15:58] greenblade29 opened #415 "Minimum Falling Path Sum"
### Problem Link
https://leetcode.com/problems/minimum-falling-path-sum/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-02-22 15:59] kanak22 commented on #388
Sure @kmryashasvi 😊

[2021-02-22 17:57] greenblade29 opened #420 "Minimum Cost For Tickets"
### Problem Link
https://leetcode.com/problems/minimum-cost-for-tickets/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-02-22 18:39] Mansi3546 opened #421 "hey,..! @Nivedita967,.. I know this issue will be different from all other issues. but ,.. I would like to add one folder for ..all the major algorithms like sorting, searching etc.+ some complex math problems in only PYTHON. so that it can be easily available under one roof. so.. can you please assign this issue to me??for contribution in crosswoc"
### Problem Link
Mention the problem on which you want to work on

### Coding platform
Mention the coding platform from where you have picked the problem

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-22 19:04] Akash20x commented on #364
Please assign me this issue
I will solve it in python

[2021-02-22 19:16] weirdrag08 commented on #421
I guess it is not allowed. The repository's "About" clearly mentions that the questions will be platform specific and not topic specific :-)

[2021-02-23 08:09] 96RadhikaJadhav commented on #158
@Nivedita967 Sorry for the delay. I have added comments now. Please check.

[2021-02-23 08:25] kanak22 commented on #420
I would like to do this in C++

[2021-02-23 08:28] kanak22 commented on #415
I would like to do this in c++

[2021-02-23 10:52] muthuannamalai12 commented on #411
@Nivedita967 I would love to solve this in problem in python. Kindly assign me

[2021-02-23 10:53] muthuannamalai12 commented on #415
@Nivedita967 I would love to solve this problem in python. Kindly assign me

[2021-02-23 10:54] muthuannamalai12 commented on #392
@Nivedita967 I would like to solve this problem in python. Kindly assign me.

[2021-02-23 10:55] muthuannamalai12 commented on #420
@Nivedita967 I would like to solve this in python. Kindly assign me.

[2021-02-23 10:59] muthuannamalai12 commented on #395
@Nivedita967 I would like to solve this in python. Kindly assign it to me.

[2021-02-23 11:00] muthuannamalai12 commented on #396
@Nivedita967 I would like to solve this in python. Kindly assign it to me.

[2021-02-23 11:11] Nivedita967 commented on #388
Sure @kanak22 .

[2021-02-23 11:15] Riddhima-jain opened #424 "Longest Valid Parenthesis"
### Problem Link
https://leetcode.com/problems/longest-valid-parentheses/

### Coding platform
Leetcode

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I would like to solve this in C++

[2021-02-23 11:19] kmryashasvi commented on #421
I will be contributing in C++ for this issue, if assigned

[2021-02-23 11:23] kmryashasvi commented on #424
I will work on c for this issue, if assigned

[2021-02-23 11:45] kmryashasvi commented on #394
I can do it in c

[2021-02-23 11:47] #151 closed

[2021-02-23 12:04] subhamagrawal7 commented on #388
I would like to do this in Python

[2021-02-23 14:10] urvashiramdasani opened #426 "N-Queens Problem"
### Problem Link
https://leetcode.com/problems/n-queens/

### Coding platform
LeetCode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve this problem in C++ as a part of CrossWoC.

[2021-02-23 15:42] Nivedita967 commented on #421
Yes, You are right @weirdrag08.
@Mansi3546 This project is to provide coding platform specific problems under one roof and this project supports many different languages not only python. So, I can't assign you :(

[2021-02-23 15:45] Nivedita967 commented on #424
@kmryashasvi @Riddhima-jain Go for it :)

[2021-02-23 15:46] Nivedita967 commented on #426
@urvashiramdasani Go for it :)

[2021-02-23 15:49] Nivedita967 commented on #388
Sure @subhamagrawal7 Go for it :)

[2021-02-23 15:53] Nivedita967 commented on #311
@ItsmeSauravSonu Are you working?

[2021-02-23 15:55] Nivedita967 commented on #304
Sure @ishikabansal04

[2021-02-23 15:56] Nivedita967 commented on #302
Sure @jayantjethi Go for it :)

[2021-02-23 15:57] Nivedita967 commented on #297
Sure @Jatin2020-24 Go for it :)

[2021-02-23 15:57] Nivedita967 commented on #297
@ItsmeSauravSonu Are you working ?

[2021-02-23 16:00] #254 closed

[2021-02-23 16:01] Nivedita967 commented on #250
@Abhichal18 @Abhinav0909 Are you working on this ?

[2021-02-23 16:02] #241 closed

[2021-02-23 16:03] #210 closed

[2021-02-23 16:04] #229 closed

[2021-02-23 16:04] #228 closed

[2021-02-23 16:04] #186 closed

[2021-02-23 16:04] #185 closed

[2021-02-23 16:08] #158 closed

[2021-02-23 16:09] Nivedita967 commented on #115
@saksham-s1ngh ???

[2021-02-23 16:10] #85 closed

[2021-02-23 16:26] jasmine1601 commented on #426
@Nivedita967 I want to try this in Java.

[2021-02-23 16:28] saksham-s1ngh commented on #115
@Nivedita967 I'm sorry, I messaged on twitter. My computer broke, and I don't have a system right now. If anyone wants to solve, you can assign it to them. ;-;

[2021-02-23 16:29] saksham-s1ngh commented on #115
Do I have to add comments? Don't have a computer right now, sorry. :(

[2021-02-23 16:37] ItsmeSauravSonu commented on #297
Yes

On Tue, Feb 23, 2021, 9:28 PM Nivedita Singh <notifications@github.com>
wrote:

[2021-02-23 16:47] saimanoharhm opened #428 "Printing Pattern Using Loops"
### Problem Link
https://www.hackerrank.com/challenges/printing-pattern-2/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++
- [x] Python

### Additional context (OPTIONAL)
I would like work on c,c++ and java

[2021-02-23 16:49] saimanoharhm commented on #428
I would like to work on c

[2021-02-23 17:49] Akash20x commented on #426
Please assign me, I have to solve this in python

[2021-02-23 18:38] Jatin2020-24 commented on #184
@Nivedita967  can I code it using python.

[2021-02-23 18:48] greenblade29 opened #433 "Airplane Seat Assignment Probability"
### Problem Link
https://leetcode.com/problems/airplane-seat-assignment-probability/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-02-23 18:50] greenblade29 opened #434 "Palindromic Substrings"
### Problem Link
https://leetcode.com/problems/palindromic-substrings/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-02-23 18:53] jayantjethi commented on #302
Mam Please check my this file as well I have them All in the same PR

[2021-02-24 04:25] subhamagrawal7 commented on #388
Please do review @Nivedita967 I have made the PR

[2021-02-24 07:03] kmryashasvi commented on #388
If no one shows interest in java, I can provide solution of java also....

[2021-02-24 08:28] #171 closed

[2021-02-24 08:37] Nivedita967 commented on #297
But Java solution is already present. Sorry for inconvenience.

[2021-02-24 08:49] saimanoharhm commented on #428
@Nivedita967 Could you pls assign this for me

[2021-02-24 09:05] Nivedita967 commented on #388
Sure @kmryashasvi Go for it.

[2021-02-24 09:10] #297 closed

[2021-02-24 09:13] #265 closed

[2021-02-24 09:13] #266 closed

[2021-02-24 09:14] #269 closed

[2021-02-24 09:14] #281 closed

[2021-02-24 09:14] #289 closed

[2021-02-24 09:16] #322 closed

[2021-02-24 09:17] Nivedita967 commented on #428
@saimanoharhm You can work on one language at a time.

[2021-02-24 09:18] saimanoharhm commented on #428
@Nivedita967 ok. I will work on c

[2021-02-24 09:19] Nivedita967 commented on #428
Sure go for it :)

[2021-02-24 09:21] #421 closed

[2021-02-24 10:02] jayantjethi commented on #433
I would like to code on this issue in C++.Kindly Assign me

[2021-02-24 10:07] jayantjethi opened #443 "Chef and Meetings"
### Problem Link
https://www.codechef.com/FEB21C/problems/MEET/

### Coding platform
Codechef

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-24 10:10] jayantjethi commented on #443
I would like to code on this issue in C++.Kindly Assign me

[2021-02-24 10:46] kmryashasvi commented on #388
This issue can be closed after merging the above PR

[2021-02-24 13:11] Sriram-bb63 commented on #310
I would like to solve this in python, kindly assign me

ps-This is going to be my first open source contribution :)

[2021-02-24 15:01] Jatin2020-24 commented on #443
I can do this issue in python. Kindly assign me.

[2021-02-25 00:09] swetakb15 commented on #393
I would like to solve this issue in Python.

[2021-02-25 04:10] Akash20x commented on #433
I want to solve it in python,
Kindly assign me

[2021-02-25 04:11] Akash20x commented on #364
Please check my pull request

[2021-02-25 04:23] Amit366 commented on #424
@Nivedita967 can I work on this issue using Java??

[2021-02-25 04:26] sameeksha1317 commented on #305
hey @Nivedita967! I would like to code it in java, can I?

[2021-02-25 04:29] ItsmeSauravSonu commented on #311
Yes

On Tue, Feb 23, 2021, 9:24 PM Nivedita Singh <notifications@github.com>
wrote:

[2021-02-25 04:30] sameeksha1317 commented on #293
hey @Nivedita967! i would like to code it in java.Can I?

[2021-02-25 06:09] AbhipsaGuru1012 commented on #354
@Nivedita967 can I work on this in java?

[2021-02-25 06:56] AbhipsaGuru1012 commented on #353
@Nivedita967 I would like to work on this in java. Please assign it to me.

[2021-02-25 07:45] kmryashasvi opened #461 "Add a readme file for explaining every question"
### Problem Link
NA

### Coding platform
All platforms

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

[2021-02-25 08:13] greenblade29 opened #463 "Ways to Make a Fair Array"
### Problem Link
https://leetcode.com/problems/ways-to-make-a-fair-array/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-02-25 08:16] greenblade29 opened #464 "Count Submatrices With All Ones"
### Problem Link
https://leetcode.com/problems/count-submatrices-with-all-ones/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-02-25 11:33] Riddhima-jain commented on #434
I'd like to solve this in C++ and Python

[2021-02-25 11:43] Riddhima-jain commented on #428
I'd like to solve this in C++
Can you assign me this?

[2021-02-25 11:44] dcs-soni commented on #434
Hi. If not assigned to anyone I would like to solve this problem in C++.

[2021-02-25 15:46] Nivedita967 commented on #443
@jayantjethi @Jatin2020-24 Go for it.

[2021-02-25 15:50] Nivedita967 commented on #461
@kmryashasvi I don't think that this is required. There will be so many questions from different platform and every time adding readme for added problem, this will not be covered.

[2021-02-25 15:53] kmryashasvi commented on #461
Ok I got it.

[2021-02-25 15:53] #461 closed

[2021-02-25 15:55] Nivedita967 commented on #428
Sure @Riddhima-jain Go for it :)

[2021-02-25 15:56] Nivedita967 commented on #424
Sure @Amit366 Go for it.

[2021-02-25 15:58] Nivedita967 commented on #393
Sure @swetakb15 Go for it :)

[2021-02-25 16:04] Nivedita967 commented on #354
@AbhipsaGuru1012 Java is not open for this issue, please look for other issue.

[2021-02-25 16:04] Akash20x commented on #433
Please merge this pull request

BFS: (Shortest Reach In A Graph) #449

[2021-02-25 16:05] Nivedita967 commented on #353
Yeah Sure @AbhipsaGuru1012 Go for it :)

[2021-02-25 16:07] Akash20x commented on #433
Please merge pending pull request
BFS: (Shortest Reach In A Graph) #449

[2021-02-25 16:08] Nivedita967 commented on #310
Sure @Sriram-bb63 Go for it :)

[2021-02-25 16:09] Nivedita967 commented on #309
@weirdrag08 @ItsmeSauravSonu Working on this ?

[2021-02-25 16:10] Nivedita967 commented on #308
Sure @jayantjethi Go for it :)

[2021-02-25 16:10] ItsmeSauravSonu commented on #309
Yes

[2021-02-25 16:12] Nivedita967 commented on #305
@sameeksha1317 Java is already done for this issue, please look for other issues.

[2021-02-25 16:13] weirdrag08 commented on #309
Yeah, I am working on it. Please give me some time :-)

[2021-02-25 16:15] Nivedita967 commented on #293
@sameeksha1317 Look the checkboxes in each issues. If checkbox is checked for particular language which means that language is already contributed for this issue.

[2021-02-25 16:16] #286 closed

[2021-02-25 16:17] Nivedita967 commented on #268
@Abhinav0909 Check your PR.

[2021-02-25 16:18] Nivedita967 commented on #184
Sure @Jatin2020-24 Go for it.

[2021-02-25 16:19] ishikabansal04 commented on #392
Hey @Nivedita967. If possible , could you please check community channel once. I am facing an issue and wanted to discuss.
Thankyou.

[2021-02-25 16:24] #115 closed

[2021-02-25 16:33] saimanoharhm opened #466 "Permutations of Strings"
### Problem Link
https://www.hackerrank.com/challenges/permutations-of-strings/problem

### Coding platform
Hacker Rank

### Programming language

- [x] C
- [ ] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-25 16:33] saimanoharhm commented on #466
@Nivedita967 Could you assign this for me. I would like contribute on c

[2021-02-25 16:35] saimanoharhm opened #467 "Variadic functions in C"
### Problem Link
https://www.hackerrank.com/challenges/variadic-functions-in-c/problem

### Coding platform
Hacker rank

### Programming language

- [x] C

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-25 16:36] saimanoharhm commented on #467
@Nivedita967 Could you pls assign this for me. I would like to work on c

[2021-02-25 16:52] #388 closed

[2021-02-25 17:30] sameeksha1317 commented on #293
@Nivedita967 okay,

[2021-02-25 17:30] sameeksha1317 commented on #305
@Nivedita967 okay

[2021-02-25 17:39] #311 closed

[2021-02-25 17:43] Mansi3546 commented on #424
@Nivedita967 hey..!! Can I work on this issue ,..using Python??

[2021-02-25 17:46] Nivedita967 commented on #424
Sure @Mansi3546 Go for it :)

[2021-02-25 17:52] jayantjethi commented on #433
Mam Should i try this Issue in c++

[2021-02-25 19:42] zenilharia26 commented on #117
I would like to contribute to the solution in Java.

[2021-02-25 20:26] Ayush7614 opened #473 "Array Manipulation"
### Problem Link
https://www.hackerrank.com/challenges/crush/problem

### Coding platform
Hackerank

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-25 20:27] Ayush7614 commented on #473
@Nivedita967 plss assign me this issue

[2021-02-25 20:31] Ayush7614 opened #474 "Sparse Arrays"
### Problem Link
https://www.hackerrank.com/challenges/sparse-arrays/problem

### Coding platform
Hackerank

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-25 20:32] Ayush7614 commented on #474
@Nivedita967 plss assign me this issue under Crosswoc

[2021-02-25 20:33] Ayush7614 opened #475 "Dynamic Array"
### Problem Link
https://www.hackerrank.com/challenges/dynamic-array/problem

### Coding platform
Hackerank

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-25 20:34] Ayush7614 commented on #475
@Nivedita967 plss assign me this issue under Crosswoc

[2021-02-25 20:38] Ayush7614 opened #476 "Print the Elements of a Linked List"
### Problem Link
https://www.hackerrank.com/challenges/print-the-elements-of-a-linked-list/problem

### Coding platform
Hackerank

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-25 20:43] Ayush7614 commented on #476
Assign me under Crosswoc

[2021-02-25 20:48] Ayush7614 opened #477 "Insert a Node at the Tail of a Linked List"
### Problem Link
https://www.hackerrank.com/challenges/insert-a-node-at-the-tail-of-a-linked-list/problem

### Coding platform
Hackerank

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-25 20:49] Ayush7614 commented on #477
@Nivedita967 plss assign me under crosswoc

[2021-02-25 20:51] Ayush7614 opened #478 "Prime Game"
### Problem Link
https://www.codechef.com/FEB21C/problems/PRIGAME

### Coding platform
Codechef

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-25 20:52] Ayush7614 commented on #478
assign me under crosswoc @Nivedita967

[2021-02-25 20:55] Ayush7614 opened #479 "Chef and Meetings"
### Problem Link
https://www.codechef.com/FEB21C/problems/MEET

### Coding platform
Codechef

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-25 20:56] Ayush7614 commented on #479
@Nivedita967 plss assign me under crosswoc

[2021-02-25 20:59] Ayush7614 opened #480 "Vaccine Production"
### Problem Link
https://www.codechef.com/problems/VACCINE1

### Coding platform
Codechef

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-25 20:59] Ayush7614 commented on #480
@Nivedita967 plss assign me under Crosswoc

[2021-02-26 01:55] kmryashasvi commented on #480
I want to work on C for this issue

[2021-02-26 05:43] AbhipsaGuru1012 commented on #353
@Nivedita967 I made the PR. Please review.

[2021-02-26 06:59] ishikabansal04 opened #487 "Goldmine Problem"
### Problem Link
https://www.geeksforgeeks.org/gold-mine-problem/

### Coding platform
GeeksforGeeks

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-26 07:00] ishikabansal04 commented on #487
Please review this problem and assign me in Java.

[2021-02-26 07:00] weirdrag08 commented on #487
I would like to work on this issue in C++.

[2021-02-26 07:02] weirdrag08 opened #488 "Maximum sum such that no two elements are adjacent"
### Problem Link
https://www.geeksforgeeks.org/maximum-sum-such-that-no-two-elements-are-adjacent/

### Coding platform
GeeksforGeeks

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-26 07:02] weirdrag08 commented on #488
I would like to work on this in C++.

[2021-02-26 07:03] ishikabansal04 commented on #488
Please assign me in Java.

[2021-02-26 08:36] Divitgoel13 opened #490 "EVENSUM Problem"
### Problem Link
https://www.codechef.com/problems/EVENGAME

### Coding platform
CodeChef

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-26 08:36] Divitgoel13 commented on #490
I would like to work on this in C++

[2021-02-26 09:34] ishikabansal04 opened #491 "Decode Ways"
### Problem Link
https://leetcode.com/problems/decode-ways/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-26 09:34] ishikabansal04 commented on #491
Please review this issue and assign me in Java.

[2021-02-26 09:35] weirdrag08 commented on #491
I want to do this in C++.

[2021-02-26 12:00] kiruba-r11 opened #496 "Stuck Keyboard"
### Problem Link
[Problem Link](https://binarysearch.com/problems/Stuck-Keyboard)

### Coding platform

[Binary Search](https://binarysearch.com)

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-26 12:02] kiruba-r11 commented on #496
Please review this issue and assign me in C++. Binary Search is also one of the popular coding and problem-solving platform.

[2021-02-26 12:31] kiruba-r11 opened #497 "Balanced Brackets Sequel"
### Problem Link
[Problem Link](https://binarysearch.com/problems/Balanced-Brackets-Sequel)

### Coding platform
[Binary Search](https://binarysearch.com)

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-26 12:31] kiruba-r11 commented on #497
Please review this issue and assign me in C++.

[2021-02-26 12:34] kiruba-r11 opened #498 "Palindromic Anagram"
### Problem Link
[Problem Link](https://binarysearch.com/problems/Palindromic-Anagram)

### Coding platform
[Binary Search](https://binarysearch.com)

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-26 12:34] kiruba-r11 commented on #498
Please review this issue and assign me in C++.

[2021-02-26 17:02] #117 closed

[2021-02-26 17:56] Nivedita967 commented on #184
@Jatin2020-24 Are you working on this ?

[2021-02-26 17:57] Nivedita967 commented on #280
@gopichandpuli9 Are you working on this ?

[2021-02-26 18:00] Nivedita967 commented on #473
@Ayush7614 Work on one language at a time.

[2021-02-26 18:01] Nivedita967 commented on #474
@Ayush7614 Work on one language at a time.

[2021-02-26 18:04] Nivedita967 commented on #479
@Ayush7614 Check all previous issues before creating new. This issue is already open.

[2021-02-26 18:04] #479 closed

[2021-02-26 18:10] Nivedita967 commented on #496
Hey @kiruba-r11 Please select one existing coding platform because this platform is not used by maximum.

[2021-02-26 18:12] Nivedita967 commented on #498
@kiruba-r11 Please change the problem link to familiar platform problem link so that every one can participate.

[2021-02-26 18:12] kiruba-r11 commented on #496
@Nivedita967 Shall I close these issues?

[2021-02-26 18:13] weirdrag08 commented on #473
@Nivedita967 , Can I do in c++ , if @Ayush7614 can work in python.

[2021-02-26 18:16] ishikabansal04 commented on #473
I want to work on this issue in Java.

[2021-02-26 18:17] Ayush7614 commented on #473
Okk so i work in python

[2021-02-26 18:17] kiruba-r11 opened #502 "Chef and Trump Cards"
### Problem Link
[Problem Link](https://www.codechef.com/SEPT20B/problems/CRDGAME2)

### Coding platform
[CodeChef](https://www.codechef.com)

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-26 18:18] kiruba-r11 commented on #502
@Nivedita967 Please assign this issue to me

[2021-02-26 18:18] #496 closed

[2021-02-26 18:18] #498 closed

[2021-02-26 18:18] #497 closed

[2021-02-26 18:21] kiruba-r11 commented on #292
@Nivedita967 Can I work on this issue in Python and C

[2021-02-26 18:21] Ayush7614 commented on #474
okk @Nivedita967 i have to work on c++ plss level it assign me

[2021-02-26 18:24] Ayush7614 commented on #475
okk @Nivedita967 i have to work in c++ for this issue plss assign me

[2021-02-26 18:26] Ayush7614 commented on #476
work in c++ plss assign me

[2021-02-26 18:27] Ayush7614 commented on #477
working in c++ plss assign me

[2021-02-26 21:26] Akash20x commented on #491
I want to solve it in python
Kindly assign me

[2021-02-27 02:38] kmryashasvi commented on #490
I will do it in C

[2021-02-27 02:44] kmryashasvi commented on #488
I will do it in Python

[2021-02-27 02:47] kmryashasvi commented on #488
@Nivedita967
Go to the provided link of this problem and scroll down,
Solution of The problem is available and geeks for geeks is not a competitive programming platform Is it right to merge files like that in this repo??

[2021-02-27 02:48] kmryashasvi commented on #487
I will do it in python.

[2021-02-27 03:20] kmryashasvi opened #506 "Diagonal difference on Hackerrank"
### Problem Link
https://www.hackerrank.com/challenges/diagonal-difference/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

![image](https://user-images.githubusercontent.com/66861659/109374101-e4185100-78d8-11eb-93ae-a5169f65136e.png)

[2021-02-27 03:21] kmryashasvi commented on #506
I want to do the above problem in C++

[2021-02-27 05:17] jasmine1601 commented on #506
@Nivedita967 I want to solve this in Java.

[2021-02-27 06:02] Sriram-bb63 commented on #506
@Nivedita967 I would like to solve this in python

[2021-02-27 06:13] greenblade29 opened #509 "Arithmetic Slices"
### Problem Link
https://leetcode.com/problems/arithmetic-slices/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-02-27 06:15] greenblade29 opened #510 "Reducing Dishes"
### Problem Link
https://leetcode.com/problems/reducing-dishes/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-02-27 06:19] arbazalam01 commented on #478
Can i do it in C++

[2021-02-27 06:53] Riddhima-jain commented on #509
I'd like to solve this in C++

[2021-02-27 08:18] Kpraful commented on #510
I want to solve this in c++

[2021-02-27 08:19] Kpraful commented on #506
@Nivedita967 I want to solve this in c++

[2021-02-27 08:46] Ayush7614 commented on #478
@arbazalam01 bro I have already this question in c++ you can solve any other language

[2021-02-27 08:51] Kpraful opened #511 "Total Score"
### Problem Link
https://www.codechef.com/CCRC21C/problems/TOTSCR

### Coding platform
CodeChef

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [x] Python

### Additional context (OPTIONAL)

[2021-02-27 08:54] Kpraful commented on #511
@Nivedita967  I want to do this in C++

[2021-02-27 09:36] weirdrag08 commented on #488
Bro, I get it what you are trying to say, even I thought the same thing when a contributor added this folder. But after that I realised that at the end it's up to the person that if he or she wants to cheat or not. The overall motive of this event is that we can learn new things, concepts and new questions and not just to score points to top some kind of leaderboard. If someone wants to just cheat

[2021-02-27 10:05] jayantjethi commented on #480
I would Like to Work On this Issue In C++.Kindly Assign Me.

[2021-02-27 11:52] Riddhima-jain commented on #511
I'd like to solve this in C++

[2021-02-27 13:57] jayantjethi commented on #308
Mam I Have Solved This Issue in the same PR with Airplane Seat Assignment Probability.

[2021-02-27 14:00] jayantjethi commented on #476
I would like to work on this issue in C++.Kindly Assign Me.

[2021-02-27 14:00] rahil-1407 opened #514 "Trapping Rain Water (LeetCode Hard)"
Problem Link
https://leetcode.com/problems/trapping-rain-water/

Coding platform
LeetCode

Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

Additional context (OPTIONAL)
This is  nice problem often asked in Coding Interviews.

[2021-02-27 14:00] jayantjethi commented on #477
I would like to work on this issue in C++.Kindly Assign Me.

[2021-02-27 14:01] rahil-1407 commented on #514
Please see the problem and assign me for C++ language.

[2021-02-27 16:38] Nivedita967 commented on #480
@jayantjethi C++ is not open for this issue

[2021-02-27 16:44] kanak22 commented on #502
I would like to o this in C++

[2021-02-27 17:08] Nivedita967 commented on #476
@Ayush7614 Clear all the previous assigned issues.

[2021-02-27 17:09] Nivedita967 commented on #477
@Ayush7614 Clear all the previous assigned issues.

[2021-02-27 17:11] Nivedita967 commented on #502
@kiruba-r11 Go for it.
@kanak22 C++ is not open for this.

[2021-02-27 17:12] Nivedita967 commented on #506
@Kpraful C++ is not open for this issue.

[2021-02-27 17:16] kanak22 commented on #502
Okay 😊

[2021-02-27 17:17] Nivedita967 commented on #511
@Kpraful @Riddhima-jain Go for it :)

[2021-02-27 17:18] Nivedita967 commented on #514
@rahil-1407 Go for it :)

[2021-02-27 17:24] kiruba-r11 opened #518 "Magical Candy Store"
### Problem Link
[Problem Link](https://www.codechef.com/NOV20A/problems/CNDYGAME)

### Coding platform
[CodeChef](https://www.codechef.com)

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-27 17:25] kiruba-r11 commented on #518
@Nivedita967 Please assign it to me

[2021-02-27 17:26] kanak22 commented on #464
I would like to do this in  C++

[2021-02-27 17:27] kanak22 commented on #463
I would like to do this in c++

[2021-02-27 17:27] kiruba-r11 opened #519 "Find XOR (Interactive Problem)"
### Problem Link
[Problem Link](https://www.codechef.com/SEPT20B/problems/FINXOR)

### Coding platform
[CodeChef](https://www.codechef.com)

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-02-27 17:28] kiruba-r11 commented on #519
@Nivedita967 Please have a look at it and assign it to me. It is an interactive problem.

[2021-02-27 17:35] kanak22 commented on #210
I would like to do this in c++

[2021-02-27 17:44] #426 closed

[2021-02-27 17:44] #420 closed

[2021-02-27 17:44] #415 closed

[2021-02-27 17:45] #411 closed

[2021-02-27 17:45] #396 closed

[2021-02-27 17:46] #395 closed

[2021-02-27 17:47] #392 closed

[2021-02-27 17:47] #366 closed

[2021-02-27 17:47] Nivedita967 commented on #365
@Sloth-Panda Are you working?

[2021-02-27 17:48] #354 closed

[2021-02-27 17:49] #353 closed

[2021-02-27 17:49] #327 closed

[2021-02-27 17:50] #323 closed

[2021-02-27 17:51] #305 closed

[2021-02-27 17:53] Nivedita967 commented on #292
Sure @kiruba-r11 Go for it :)

[2021-02-27 19:13] Akash20x commented on #514
Can you please assign me this issue, I want to solve it in python

[2021-02-27 19:33] Kpraful commented on #511
@Nivedita967 Thank you for this opportunity, I have created  pull request, please let me know if I have to modify something or somethings is wrong with it. As I am fairly new, so any suggestion is appreciated.

[2021-02-27 23:39] kmryashasvi commented on #506
@Kpraful I am doing it in c++, you can do it in C

[2021-02-28 01:01] Kpraful commented on #506
I want to solve this in c.

[2021-02-28 08:08] kiruba-r11 commented on #250
@Nivedita967 can I work on this for C and Python

[2021-02-28 08:16] kiruba-r11 commented on #73
@Nivedita967 I would love to work in C and Python

[2021-02-28 08:21] kiruba-r11 commented on #428
@Nivedita967 Can I work on it in Python? Please assign it to me

[2021-02-28 08:40] kiruba-r11 commented on #514
@Nivedita967 Please assign it to me, I want to solve it in C

[2021-02-28 10:28] rahil-1407 commented on #514
@Nivedita967 I have created pull request. Please let me know if there is any anamoly.

[2021-02-28 10:41] rahil-1407 opened #530 "Best Time to Buy and Sell Stock with Transaction Fee"
### https://leetcode.com/problems/best-time-to-buy-and-sell-stock-with-transaction-fee/

### Coding platform
LeetCode

### Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
A nice DP problem of medium difficulty to learn from.

[2021-02-28 10:41] rahil-1407 commented on #530
@Nivedita967 Please assign me this problem in C++.

[2021-02-28 11:58] greenblade29 opened #534 "Where Will the Ball Fall"
### Problem Link
https://leetcode.com/problems/where-will-the-ball-fall/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-02-28 11:59] greenblade29 opened #535 "Build Array Where You Can Find The Maximum Exactly K Comparisons"
### Problem Link
https://leetcode.com/problems/build-array-where-you-can-find-the-maximum-exactly-k-comparisons/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-02-28 14:19] kiruba-r11 commented on #511
@Nivedita967 Shall I solve it in C

[2021-02-28 14:29] kiruba-r11 commented on #488
@Nivedita967 Please assign me for C

[2021-02-28 15:18] urvashiramdasani opened #537 "Longest Substring Without Repeating Characters"
### Problem Link
https://leetcode.com/problems/longest-substring-without-repeating-characters/

### Coding platform
LeetCode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve this problem in C++ as a part of crossWoC.

[2021-02-28 16:01] kanak22 commented on #535
I would like to solve this in C++

[2021-02-28 16:01] kanak22 commented on #534
I would like to solve this in C++

[2021-02-28 16:08] kanak22 opened #538 "Chef and Coupon"
### Problem Link
https://www.codechef.com/START1C/problems/COUPON2

### Coding platform
Codechef

### Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
I want to solve this in C++

[2021-02-28 16:49] Akash20x commented on #510
I want to solve it in python
Please assign me this issue

[2021-02-28 19:46] jasmine1601 commented on #538
@Nivedita967 I want to solve this in Java.

[2021-03-01 04:00] saksham-s1ngh commented on #73
Hey, I'd like to complete this in Python. @Nivedita967

[2021-03-01 05:05] kmryashasvi opened #542 "Plus Minus On Hackerrank"
### Problem Link
https://www.hackerrank.com/challenges/plus-minus/problem

### Coding platform
Hackerrak

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.
![image](https://user-images.githubusercontent.com/66861659/109454261-d1894d80-7a79-11eb-9f60-c597e199f8d6.png)

[2021-03-01 05:08] kmryashasvi commented on #542
I will solve this in C++

[2021-03-01 05:14] kmryashasvi opened #543 "Staircase on hackerrank"
### Problem Link
https://www.hackerrank.com/challenges/staircase/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

[2021-03-01 05:14] kmryashasvi commented on #543
I want to do it in C++

[2021-03-01 06:21] jasmine1601 commented on #543
@Nivedita967 I want to solve this in Java.

[2021-03-01 06:34] Amit366 commented on #473
@Nivedita967 can i implement in C ?

[2021-03-01 08:55] AbhipsaGuru1012 commented on #511
@Nivedita967 I would like to solve this in java. Please assign it to me.

[2021-03-01 09:29] kiruba-r11 commented on #519
@Nivedita967 Can you please make it a hard problem, because it is an Interactive Problem

[2021-03-01 10:48] TechSpiritSS commented on #543
I can do this in C

[2021-03-01 11:09] TechSpiritSS commented on #542
I can do this in C

[2021-03-01 11:11] #292 closed

[2021-03-01 11:16] TechSpiritSS commented on #538
I can do this in C

[2021-03-01 12:00] #433 closed

[2021-03-01 12:03] #364 closed

[2021-03-01 12:04] Nivedita967 commented on #312
@ItsmeSauravSonu Are you working??

[2021-03-01 12:07] Nivedita967 commented on #250
@kiruba-r11 Sure go for it :)

[2021-03-01 12:09] Nivedita967 commented on #73
@saksham-s1ngh then complete this ASAP.

[2021-03-01 14:38] Akash20x commented on #514
Please check my pull request

[2021-03-01 15:50] Kpraful commented on #535
I would like to solve this in Python

[2021-03-01 18:09] ishikabansal04 commented on #530
I would like to do this in Java.

[2021-03-01 18:09] weirdrag08 commented on #530
Please assign me this problem in C

[2021-03-02 06:39] ishikabansal04 opened #562 "Number of subsequences of the form a^i b^j c^k"
### Problem Link
https://www.geeksforgeeks.org/number-subsequences-form-ai-bj-ck/

### Coding platform
GeeksforGeeks

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-02 06:39] ishikabansal04 commented on #562
Please review this issue and assign me in Java.

[2021-03-02 06:40] weirdrag08 commented on #562
I would like to do this in C++.

[2021-03-02 06:49] weirdrag08 opened #563 "Painting Fence Algorithm"
### Problem Link
https://www.geeksforgeeks.org/painting-fence-algorithm/

### Coding platform
GeeksforGeeks

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-02 06:49] weirdrag08 commented on #563
Please assign me in C++.

[2021-03-02 06:50] ishikabansal04 commented on #563
I would like to do in Java.

[2021-03-02 06:58] Sriram-bb63 commented on #475
I would like to work on this in python

[2021-03-02 11:33] greenblade29 opened #568 "Minimum ASCII Delete Sum for Two Strings"
### Problem Link
https://leetcode.com/problems/minimum-ascii-delete-sum-for-two-strings/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-02 11:34] greenblade29 opened #569 "Longest Common Subsequence"
### Problem Link
https://leetcode.com/problems/longest-common-subsequence/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-02 11:35] greenblade29 opened #570 "Minimum Falling Path Sum II"
### Problem Link
https://leetcode.com/problems/minimum-falling-path-sum-ii/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-02 13:20] kanak22 commented on #570
I would like to do this in c++

[2021-03-02 13:21] kanak22 commented on #569
I would like to do this in c++

[2021-03-02 13:21] kanak22 commented on #568
I would like to do this in c++

[2021-03-02 16:09] Abhinav0909 commented on #268
@Nivedita967 I have updated it. Please do have a check.

[2021-03-03 02:50] kmryashasvi commented on #543
I will pull the  request after the above pr gets merged

[2021-03-03 03:29] kmryashasvi opened #573 "Mini Max sum on Hackerrank"
### Problem Link
https://www.hackerrank.com/challenges/mini-max-sum/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-03 03:29] kmryashasvi commented on #573
I will provide code for it in python

[2021-03-03 03:45] kmryashasvi opened #574 "Time conversion on hackerrank"
### Problem Link
https://www.hackerrank.com/challenges/time-conversion/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [x] Python

[2021-03-03 03:45] kmryashasvi commented on #574
I will provide solution in python

[2021-03-03 05:02] Amit366 commented on #514
@Nivedita967 can I solve this using Java??

[2021-03-03 05:17] JASKAMAL22 commented on #537
hello @Nivedita967 ,I would like to work this problem in python. Please assign it to me!!

[2021-03-03 07:59] kanak22 commented on #574
I would like to solve this in C++

[2021-03-03 07:59] kanak22 commented on #573
I would like to solve this in C++

[2021-03-03 09:23] #268 closed

[2021-03-03 09:23] #290 closed

[2021-03-03 09:24] #293 closed

[2021-03-03 09:24] #302 closed

[2021-03-03 09:27] #303 closed

[2021-03-03 09:28] #304 closed

[2021-03-03 09:34] #308 closed

[2021-03-03 09:35] #326 closed

[2021-03-03 09:36] #434 closed

[2021-03-03 09:51] jasmine1601 commented on #573
@Nivedita967 I want to solve this in Java.

[2021-03-03 11:11] JASKAMAL22 commented on #509
I would like to work in Python. Please assign it to me! :)

[2021-03-03 19:04] pri1311 opened #575 "leetcode-sliding window median"
### Problem Link
https://leetcode.com/problems/sliding-window-median/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Would like to submit the solution for c++

[2021-03-03 19:06] pri1311 opened #576 "Add two numbers"
### Problem Link
https://leetcode.com/problems/add-two-numbers/

### Coding platform
Leetcode

### Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
would like to submit the solution for c++

[2021-03-03 19:12] pri1311 commented on #576
please assign this to me under crosswoc

[2021-03-03 19:12] pri1311 commented on #575
please assign this to me under crosswoc

[2021-03-04 08:37] pri1311 commented on #394
I would like to do this one in python

[2021-03-04 08:39] pri1311 commented on #466
I would like to do this in c++

[2021-03-04 14:56] stlyash opened #577 "Carvans on codechef"
### Problem Link
https://www.codechef.com/LRNDSA01/problems/CARVANS

### Coding platform
Codechef

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [x] Python

[2021-03-04 14:56] kmryashasvi commented on #577
I will provide code in c++

[2021-03-05 11:52] Nivedita967 commented on #466
Sure @pri1311 Go for it :)

[2021-03-05 12:15] Nivedita967 commented on #514
Sure @Amit366 .

[2021-03-05 12:39] Nivedita967 commented on #519
This is a medium level problem.

[2021-03-05 13:37] kmryashasvi opened #580 "Associating link of crosswoc website to its banner"
I will associate link of the crosswoc website to its banner such that, if someone clicks the banner on readme file, it will redirect them to the website of crosswoc.

[2021-03-05 13:51] Nivedita967 commented on #537
Sure @JASKAMAL22.

[2021-03-05 14:02] Nivedita967 commented on #535
Sure @Kpraful Go for it.

[2021-03-05 14:06] #506 closed

[2021-03-05 14:10] #510 closed

[2021-03-05 14:13] Nivedita967 commented on #580
@kmryashasvi Go for it.

[2021-03-05 14:16] Nivedita967 commented on #576
Sure @pri1311 Go for it :)

[2021-03-05 14:17] Nivedita967 commented on #575
Go for it @pri1311

[2021-03-05 14:26] Nivedita967 commented on #563
@weirdrag08 @ishikabansal04 There is given practice link, try to work on this because that practice problem gives you exact problem name and exact question description.

[2021-03-05 14:37] #464 closed

[2021-03-05 14:37] #463 closed

[2021-03-05 14:39] Nivedita967 commented on #394
Sure @pri1311 Go for it :)

[2021-03-05 14:40] #365 closed

[2021-03-05 14:41] #341 closed

[2021-03-05 14:41] #361 closed

[2021-03-05 14:45] #580 closed

[2021-03-05 14:59] Akash20x commented on #575
I want to solve it in python
Please assign me this issue as a part of Cross Woc

[2021-03-05 15:06] kmryashasvi commented on #577
since there are so much similarities in C and C++,
Please feel free to let me provide code in C too, if no one else proposes to work on c

[2021-03-05 15:07] TechSpiritSS commented on #573
I can do this in C

[2021-03-05 15:24] TechSpiritSS commented on #574
I can do this in C

[2021-03-05 15:27] rahil-1407 opened #589 "Lowest Common Ancestor of a Binary Tree"
### Problem Link
https://leetcode.com/problems/lowest-common-ancestor-of-a-binary-tree/

### Coding platform
LeetCode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
A Tree Problem

[2021-03-05 15:28] rahil-1407 commented on #589
Assign me in C++.

[2021-03-05 16:44] JASKAMAL22 commented on #542
Hey @Nivedita967, I would like to work in Python. Kindly assign it to me.

[2021-03-05 16:46] JASKAMAL22 commented on #476
I would like to work on this issue in python. Kindly assign it to me.

[2021-03-05 16:59] JASKAMAL22 commented on #543
please assign it to me ,I want to work on this issue in python.

[2021-03-05 17:02] JASKAMAL22 commented on #477
please assign it to me. Want to work using python.. :)

[2021-03-05 17:46] urvashiramdasani opened #593 "Median of Two Sorted Arrays"
### Problem Link
https://leetcode.com/problems/median-of-two-sorted-arrays/

### Coding platform
LeetCode

### Programming language

- [x] C
- [ ] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve this problem in C++ as a part of crossWoC.

[2021-03-05 18:00] arbazalam01 commented on #577
can i do it in python

[2021-03-05 18:00] arbazalam01 commented on #576
can i do it in C++

[2021-03-05 18:02] arbazalam01 commented on #519
can i work on it

[2021-03-05 18:04] arbazalam01 commented on #575
can i work on it in C++

[2021-03-05 18:05] arbazalam01 commented on #280
can i do it in python

[2021-03-06 02:09] jayantjethi opened #598 "Best Time to Buy and Sell Stock"
### Problem Link
https://leetcode.com/problems/best-time-to-buy-and-sell-stock/

### Coding platform
LeetCode

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-06 02:10] jayantjethi commented on #598
I would Like to Solve this problem in c++. Kindly Assign Me.

[2021-03-06 02:16] jayantjethi opened #599 "Daanish and Problems"
### Problem Link
https://www.codechef.com/LTIME93C/problems/DIV03

### Coding platform
Codechef

### Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-06 02:17] jayantjethi commented on #599
I would Like to Solve this problem in C++. Kindly Assign Me.

[2021-03-06 05:29] Akash20x commented on #570
I want to solve it in python
Please assign me this issue as a part of Cross Woc

[2021-03-06 05:50] kmryashasvi opened #600 "I will add name and photo of maintainer in the end of readme file of your repo"
like the one mentioned below
![image](https://user-images.githubusercontent.com/66861659/110196937-01679500-7e6e-11eb-8ac3-40ce278e17c3.png)

[2021-03-06 09:32] Kpraful commented on #577
I want to do it in C.

[2021-03-06 16:33] Nivedita967 commented on #543
@JASKAMAL22 Go for it.

[2021-03-06 16:51] Nivedita967 commented on #577
Sure @arbazalam01 @Kpraful Go for it :)

[2021-03-06 17:06] Nivedita967 commented on #424
@Mansi3546 Are you working?

[2021-03-06 17:11] #491 closed

[2021-03-06 17:12] Nivedita967 commented on #575
@arbazalam01 C++ is not open for this issue.

[2021-03-06 17:18] Amit366 commented on #535
Can I work on this issue in Python??

[2021-03-06 17:53] #184 closed

[2021-03-06 17:54] Nivedita967 commented on #280
Sure @arbazalam01 Go for it :)

[2021-03-06 17:55] Nivedita967 commented on #309
@ItsmeSauravSonu @weirdrag08 ??

[2021-03-06 17:56] Nivedita967 commented on #313
@Abhinav0909 Are you working ??

[2021-03-06 17:56] Nivedita967 commented on #393
@swetakb15 Are you working on this ?

[2021-03-06 17:58] Nivedita967 commented on #473
@ishikabansal04 @weirdrag08 Are you working on this ?

[2021-03-06 17:59] Nivedita967 commented on #467
@saimanoharhm Are you working on this?

[2021-03-06 18:04] Nivedita967 commented on #519
@arbazalam01 in which language you want to work ?

[2021-03-06 18:05] Nivedita967 commented on #535
@Amit366 Python is not open for this.

[2021-03-06 18:08] Nivedita967 commented on #576
@arbazalam01 C++ is not  open for this issue.

[2021-03-06 19:04] Amit366 commented on #563
Can I implement in C++?

[2021-03-06 19:05] Amit366 commented on #562
Can I implement in python?

[2021-03-07 06:17] greenblade29 opened #611 "Filling Bookcase Shelves"
### Problem Link
https://leetcode.com/problems/filling-bookcase-shelves/

### Coding platform
Leetcode

### Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-07 06:18] greenblade29 opened #612 "Number of Submatrices That Sum to Target"
### Problem Link
https://leetcode.com/problems/number-of-submatrices-that-sum-to-target/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-07 06:19] greenblade29 opened #613 "Minimum Distance to Type a Word Using Two Fingers"
### Problem Link
https://leetcode.com/problems/minimum-distance-to-type-a-word-using-two-fingers/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-07 06:41] rahil-1407 commented on #598
This que is already present in the repo.

[2021-03-07 07:33] arbazalam01 commented on #519
In c++

[2021-03-07 07:34] arbazalam01 commented on #576
then is it available for Python

[2021-03-07 12:08] kiruba-r11 commented on #593
@Nivedita967 Please assign this to me in C

[2021-03-07 12:40] Mansi3546 commented on #424
@Nivedita967 ya ya mentor..! I will make the PR by tomorrow..is that okay??

[2021-03-07 13:16] saimanoharhm commented on #467
@Nivedita967 Yes

[2021-03-07 16:44] jayantjethi commented on #598
@Nivedita967 mam close the issue if its already present.

[2021-03-07 16:46] jayantjethi commented on #611
I would Like to Solve it in C++.Kindly Assign Me.

[2021-03-07 18:15] ishikabansal04 commented on #473
Yes. Sorry for a little delay.

[2021-03-07 20:39] weirdrag08 commented on #309
Just give me 2 more days, I will solve it for sure :-)

[2021-03-07 20:42] weirdrag08 commented on #309
Please give me one more day, I will solve it for sure :-)

[2021-03-07 20:56] ItsmeSauravSonu commented on #309
I will do today, please give me some time

On Mon, Mar 8, 2021, 2:12 AM Aditya Anand <notifications@github.com> wrote:

[2021-03-08 03:08] weirdrag08 opened #627 "Red John is Back"
### Problem Link
https://www.hackerrank.com/challenges/red-john-is-back/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-08 03:08] weirdrag08 commented on #627
Please review this question and assign me in C++ ;-)

[2021-03-08 03:09] ishikabansal04 commented on #627
I want to do this in Java.

[2021-03-08 03:11] ishikabansal04 opened #628 "The Maximum Subarray"
### Problem Link
https://www.hackerrank.com/challenges/maxsubarray/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-08 03:12] ishikabansal04 commented on #628
Please review this problem & assign me this in Java.

[2021-03-08 03:12] weirdrag08 commented on #628
Please assign me this in C++ :)

[2021-03-08 03:13] Sriram-bb63 commented on #474
@Nivedita967 I would like to solve this in python

[2021-03-08 03:20] ishikabansal04 opened #629 "Count number of ways to partition a set into k subsets"
### Problem Link
https://www.geeksforgeeks.org/count-number-of-ways-to-partition-a-set-into-k-subsets/

### Coding platform
GeeksforGeeks

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-08 03:20] ishikabansal04 commented on #629
Please review this problem and assign me in Java.

[2021-03-08 03:21] weirdrag08 commented on #629
Please assign me in C++.

[2021-03-08 07:13] saimanoharhm opened #632 "Printing Tokens"
### Problem Link
https://www.hackerrank.com/challenges/printing-tokens-/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-08 07:14] saimanoharhm commented on #632
@Nivedita967 I would like to work on this.  Could you pls assign this for me.

[2021-03-08 07:15] saimanoharhm opened #633 "Digit Frequency"
### Problem Link
https://www.hackerrank.com/challenges/frequency-of-digits-1/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-08 07:15] saimanoharhm commented on #633
@Nivedita967  I would like to work on this. Could you pls assign this for me.

[2021-03-08 07:19] saimanoharhm opened #634 "Boxes through a Tunnel"
### Problem Link
https://www.hackerrank.com/challenges/too-high-boxes/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-08 07:20] saimanoharhm commented on #634
@Nivedita967  I would like to work on this. Could you pls assign this for me.

[2021-03-08 08:06] simonnepinto commented on #599
Can I do this in Java?

[2021-03-08 10:39] pri1311 commented on #633
Assign this to me for c++, please.

[2021-03-08 11:16] #428 closed

[2021-03-08 13:06] Kpraful commented on #593
May I solve this in python ?

[2021-03-08 14:37] jayantjethi commented on #634
I would like to code this in C++.Kindly Assign me.

[2021-03-08 17:26] Nivedita967 commented on #576
Yes @arbazalam01, this is open for Python.

[2021-03-08 17:29] #394 closed

[2021-03-08 17:38] Kpraful commented on #628
I would like to try this with python

[2021-03-08 17:52] #573 closed

[2021-03-08 17:59] #514 closed

[2021-03-08 18:00] Nivedita967 commented on #599
Sure @simonnepinto Go for it :)

[2021-03-08 18:11] #467 closed

[2021-03-08 18:21] Nivedita967 commented on #600
Is it really required?
Means isn't look of readme is better for now?

[2021-03-08 18:23] kmryashasvi commented on #600
Yes, you are right

[2021-03-08 18:23] #600 closed

[2021-03-08 18:24] Nivedita967 opened #638 "Improve Readme."
Anyone can attempt to improve readme of this project, like adding number of closed issues, pull request, stars, fork or adding gif/images or improving fonts or anything.

[2021-03-08 18:27] Amit366 commented on #280
@Nivedita967 can I do in Java??

[2021-03-08 18:34] #598 closed

[2021-03-08 18:35] Nivedita967 commented on #593
Sure @kiruba-r11 @Kpraful Go for it :)

[2021-03-09 04:23] kmryashasvi commented on #638
Please have a look at the contribution that i have done
![image](https://user-images.githubusercontent.com/66861659/110418296-51886680-80bd-11eb-9f49-3001204126a7.png)

[2021-03-09 04:25] kmryashasvi commented on #638
It will be great, if you give me the list of badges to be added, else, I will add them on my own and then we will decide, which one to keep or remove,
Thank you

[2021-03-09 04:29] kmryashasvi commented on #632
I will be glad to do it in C++

[2021-03-09 04:40] kmryashasvi commented on #634
I will do it in python

[2021-03-09 05:32] Akash20x commented on #613
I want to solve this in python
Please assign me this issue as a part of Cross Woc

[2021-03-09 06:53] kanak22 commented on #613
I would like to solve this in C++

[2021-03-09 06:53] kanak22 commented on #612
I would like to solve this in C++

[2021-03-09 07:15] Nivedita967 commented on #638
Open issue, closed issue, open pr, closed pr, star, fork, contributors, open source and maintained badges for now.

[2021-03-09 08:35] #73 closed

[2021-03-09 08:35] Nivedita967 commented on #250
@kiruba-r11 Are you working on this?

[2021-03-09 08:36] Nivedita967 commented on #280
Sure @Amit366 Go for it.

[2021-03-09 08:38] Nivedita967 commented on #309
It's almost 20 days.

[2021-03-09 08:38] Nivedita967 commented on #312
@ItsmeSauravSonu ??

[2021-03-09 08:56] Nivedita967 commented on #474
Sure @Sriram-bb63 Go for it.

[2021-03-09 10:16] kiruba-r11 commented on #250
@Nivedita967 yes

[2021-03-09 11:03] Nivedita967 commented on #563
Yes, @Amit366

[2021-03-09 11:05] #535 closed

[2021-03-09 11:06] Nivedita967 commented on #519
@arbazalam01 C++ is done.

[2021-03-09 11:07] Nivedita967 commented on #511
@AbhipsaGuru1012 Are you working on this ?

[2021-03-09 11:12] Nivedita967 commented on #480
@Ayush7614 This is not good, you changed the language.

[2021-03-09 11:13] Nivedita967 commented on #480
@jayantjethi Do you want to do it in C++ ?

[2021-03-09 11:14] jayantjethi commented on #480
Sure mam I will do it in C++

[2021-03-09 13:43] AbhipsaGuru1012 commented on #511
@Nivedita967 Sorry, I won't be able to work on this as my exams are going on. Apologies for any inconvenience caused.

[2021-03-09 13:46] abhinav5481 commented on #575
Hi,
I would like to work on it. Please assign it to me.

[2021-03-09 18:55] Ayush7614 commented on #480
@jayantjethi said that he will do in C++ thats why i do in python what i am doing wrong thing @Nivedita967

[2021-03-09 23:51] kmryashasvi commented on #480
But he was not assigned to do anything,
In any issue,
The first one to claim the language gets the opportunity to work on it

[2021-03-10 06:10] stlyash opened #660 "Subarray Division"
### Problem Link
https://www.hackerrank.com/challenges/the-birthday-bar/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

[2021-03-10 06:42] stlyash opened #661 "Grading students"
### Problem Link
https://www.hackerrank.com/challenges/grading/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

[2021-03-10 06:42] kmryashasvi commented on #661
I want to contribute in C++

[2021-03-10 06:52] greenblade29 opened #663 "Palindrome Partitioning III"
### Problem Link
https://leetcode.com/problems/palindrome-partitioning-iii/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-10 06:54] greenblade29 opened #664 "Number of Ways to Paint N × 3 Grid"
### Problem Link
https://leetcode.com/problems/number-of-ways-to-paint-n-3-grid/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-10 06:55] greenblade29 opened #665 "Unique Paths"
### Problem Link
https://leetcode.com/problems/unique-paths/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-10 09:08] #562 closed

[2021-03-10 09:20] #424 closed

[2021-03-10 10:56] Amit366 commented on #612
@Nivedita967 Can I implement it in python??

[2021-03-10 11:57] ishikabansal04 opened #671 "Find Maximum Index Product"
### Problem Link
https://www.hackerrank.com/challenges/find-maximum-index-product/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [ ] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-10 11:58] ishikabansal04 commented on #671
I would like to do this issue in Java.

[2021-03-10 11:58] weirdrag08 commented on #671
Please assign me in C++.

[2021-03-10 12:24] weirdrag08 opened #673 "The Longest Increasing Subsequence"
### Problem Link
https://www.hackerrank.com/challenges/longest-increasing-subsequent/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [ ] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-10 12:25] weirdrag08 commented on #673
Please review this problem and assign me in C++.

[2021-03-10 12:49] Sriram-bb63 commented on #671
I would like to do this in python please @Nivedita967

[2021-03-10 14:20] ishikabansal04 opened #677 "Fibonacci Modified"
### Problem Link
https://www.hackerrank.com/challenges/fibonacci-modified/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [ ] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-10 14:21] ishikabansal04 commented on #677
Please review this problem and assign me in Python

[2021-03-10 14:21] weirdrag08 commented on #677
I would like to solve this in Java.

[2021-03-10 16:16] deephunt3r commented on #677
I would like to solve in c++ .could you please assign it to me

[2021-03-10 16:23] deephunt3r commented on #171
@Nivedita967 can I solve in python?
no one has done using py

[2021-03-10 18:08] kanak22 commented on #665
I would like to solve this in c++. kindly assign it to me

[2021-03-10 18:09] kanak22 commented on #664
I would like to solve this in c++. kindly assign it to me

[2021-03-10 18:11] kanak22 opened #679 "Beautiful Year"
### Problem Link
https://codeforces.com/problemset/problem/271/A

### Coding platform
Codeforces

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve this in C++

[2021-03-10 18:12] kanak22 opened #680 "Lights Out"
### Problem Link
https://codeforces.com/problemset/problem/275/A

### Coding platform
Codeforces

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve this in C++.

[2021-03-10 18:13] kanak22 opened #681 "Panoramix's Prediction"
### Problem Link
https://codeforces.com/problemset/problem/80/A

### Coding platform
Codeforces

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve this in C++.

[2021-03-11 09:31] stlyash opened #683 "Cats and a Mouse"
### Problem Link
https://www.hackerrank.com/challenges/cats-and-a-mouse/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

[2021-03-11 09:31] kmryashasvi commented on #683
I will provide code in c++

[2021-03-11 11:08] saimanoharhm opened #685 "Sorting Array of Strings"
### Problem Link
https://www.hackerrank.com/challenges/sorting-array-of-strings/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [ ] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-11 11:09] saimanoharhm commented on #685
@Nivedita967 Could you pls assign this for me.  I will work on c++

[2021-03-11 11:11] saimanoharhm opened #686 "Small Triangles, Large Triangles"
### Problem Link
https://www.hackerrank.com/challenges/small-triangles-large-triangles/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [ ] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-11 11:11] saimanoharhm commented on #686
@Nivedita967 Could you pls assign this for me. I will work on c++

[2021-03-11 11:56] kmryashasvi opened #687 "No Time to wait on codechef"
### Problem Link
https://www.codechef.com/MARCH21C/submit/NOTIME
### Coding platform
Codechef

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

[2021-03-11 11:56] kmryashasvi commented on #687
I would like to provide code in c++

[2021-03-11 14:25] Amit366 commented on #593
@Nivedita967 Can I implement in Java?

[2021-03-12 02:20] rahil-1407 opened #688 "Closest Dessert Cost"
### Problem Link
https://leetcode.com/problems/closest-dessert-cost/

### Coding platform
LeetCode

### Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Med Level Problem

[2021-03-12 02:21] rahil-1407 commented on #688
Assign me in C++.

[2021-03-12 03:39] Sriram-bb63 commented on #686
@Nivedita967 I would like to work on this using python

[2021-03-12 03:46] weirdrag08 opened #689 "The Longest Common Subsequence"
### Problem Link
https://www.hackerrank.com/challenges/dynamic-programming-classics-the-longest-common-subsequence/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-12 03:46] weirdrag08 commented on #689
Please review this problem and assign me in C++ ;-)

[2021-03-12 03:46] ishikabansal04 commented on #689
I want to work on this issue in Java.

[2021-03-12 03:57] Sriram-bb63 commented on #661
I would like to solve this in python @Nivedita967

[2021-03-12 06:12] deephunt3r opened #690 "can I solve in python?"
@Nivedita967 can I solve in python?
no one has done using py

_Originally posted by @deephunt3r in https://github.com/Nivedita967/Data-Structure-and-Algorithms/issues/171#issuecomment-795684723_

[2021-03-12 10:28] deephunt3r opened #691 "Array reversal"
### Problem Link
https://www.hackerrank.com/challenges/reverse-array-c/problem

### Coding platform
HackerRank

### Programming language

- [X] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I would like to solve it using c

[2021-03-12 10:30] deephunt3r opened #692 "sum of elements in the array"
### Problem Link
https://www.hackerrank.com/challenges/1d-arrays-in-c/problem

### Coding platform
Hackerrank

### Programming language

- [X] C
- [x] C++
- [ ] Java
- [x] Python

### Additional context (OPTIONAL)
I would like to solve in c lang. could you please assign it to me

[2021-03-12 13:41] Kpraful commented on #250
@Nivedita967 It is good question, may I give it a try in python ?

[2021-03-12 15:55] #487 closed

[2021-03-12 16:01] #473 closed

[2021-03-12 16:07] #563 closed

[2021-03-12 16:08] #632 closed

[2021-03-12 16:18] Amit366 commented on #250
@Nivedita967 can I implement using Java?

[2021-03-12 16:24] #570 closed

[2021-03-12 16:25] Nivedita967 commented on #612
Sure @Amit366 Go for it.

[2021-03-12 16:31] #613 closed

[2021-03-12 17:01] Nivedita967 commented on #593
Yes @Amit366

[2021-03-12 17:03] Nivedita967 commented on #576
@abhinav5481 In which language you want to code ?

[2021-03-12 17:05] Nivedita967 commented on #575
@abhinav5481 This issue is open for C and C++. In which language you want to code?

[2021-03-12 17:06] Nivedita967 commented on #569
@abhinav5481 Please tell your language.

[2021-03-12 17:07] Nivedita967 commented on #543
@JASKAMAL22 Are you working ?

[2021-03-12 17:08] Nivedita967 commented on #530
@weirdrag08 Are you working?

[2021-03-12 17:10] Nivedita967 commented on #511
No problem @AbhipsaGuru1012 , try to complete it after exam.

[2021-03-12 17:11] Nivedita967 commented on #488
@kiruba-r11 Are you working ?

[2021-03-12 17:12] jasmine1601 commented on #687
@Nivedita967 I want to solve this in Java.

[2021-03-12 17:14] Nivedita967 commented on #480
Exactly, @Ayush7614 You were working on C++ that's why I denied @jayantjethi.

[2021-03-12 17:15] Nivedita967 commented on #480
Sure @jayantjethi Go for it.

[2021-03-12 17:16] Nivedita967 commented on #477
@JASKAMAL22 Are you working?

[2021-03-12 17:16] #478 closed

[2021-03-12 17:17] Nivedita967 commented on #476
@JASKAMAL22 ??

[2021-03-12 17:17] #474 closed

[2021-03-12 17:18] Nivedita967 commented on #443
@Jatin2020-24 Are you working on this ?

[2021-03-12 17:20] Nivedita967 commented on #250
Sure @Kpraful @Amit366 Go for it.

[2021-03-12 17:22] #502 closed

[2021-03-12 17:22] #519 closed

[2021-03-12 17:23] abhinav5481 commented on #569
I can do it in Java & Python. Please tell me in which language do you want me to code.

[2021-03-12 17:24] abhinav5481 commented on #575
I would like to code in C. Please assign it to me.

[2021-03-12 17:26] abhinav5481 commented on #576
I can do it in Python, Java & Javascript. Please assign it to me in any one of the languages.

[2021-03-12 17:40] Nivedita967 commented on #575
Sure @abhinav5481 Go for it :)

[2021-03-12 17:41] Nivedita967 commented on #576
Go for Java @abhinav5481 :)

[2021-03-12 17:43] Nivedita967 commented on #569
This issue is open for Python and C. So, Go with Python @abhinav5481 .

[2021-03-12 18:51] Akash20x commented on #685
I want to solve it in python. Please assign me this issue as a part of Cross Woc

[2021-03-12 18:52] Akash20x commented on #673
I want to solve it in python. Please assign me this issue as a part of Cross Woc

[2021-03-13 01:00] kmryashasvi commented on #543
If he refuses,
I can provide code in Python too

[2021-03-13 02:00] kmryashasvi commented on #691
I will do it in python

[2021-03-13 02:01] kmryashasvi commented on #692
I would like to do it in python

[2021-03-13 06:46] sayantikag98 opened #703 "Fit squares in triangle problem"
### Problem Link
https://www.codechef.com/problems/TRISQ

### Coding platform
CodeChef

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-13 06:47] sayantikag98 commented on #703
I want to do this in C++.
Please assign this problem to me.

Thank You.

[2021-03-13 07:30] chiragagrawal9200 commented on #692
i want to contribute....please let me know if i can?...i am crosswoc participant

[2021-03-13 07:41] bhardwaj2000 commented on #476
I would like to work on this issue in C++. Kindly Assign Me.

[2021-03-13 07:42] kanak22 commented on #538
@Nivedita967 kindly close the issue if anyone isnt there for python.

[2021-03-13 07:48] bhardwaj2000 commented on #542
I would like to work on this issue in python. Kindly Assign Me.

[2021-03-13 07:48] bhardwaj2000 commented on #542
I would like to work on this issue in python. Kindly Assign Me.

[2021-03-13 07:53] bhardwaj2000 commented on #683
I would like to work on this issue in python. Kindly Assign Me.

[2021-03-13 09:54] kmryashasvi commented on #685
I will provide code in C

[2021-03-13 09:56] kmryashasvi commented on #673
I will provide code in C

[2021-03-13 09:57] kmryashasvi commented on #663
I will solve it in python

[2021-03-13 09:57] kmryashasvi commented on #664
I will solve it in python

[2021-03-13 10:37] muthuannamalai12 commented on #692
@Nivedita967 Can I implement it in java as a part of Cross-woc. Kindly assign it to me.

[2021-03-13 10:39] muthuannamalai12 commented on #688
I would love to implement in python as a part of Cross-woc. Kindly assign it to me.

[2021-03-13 10:40] muthuannamalai12 commented on #691
@Nivedita967 I would love to implement it in java. Kindly assign it to me.

[2021-03-13 10:59] saimanoharhm commented on #686
@Nivedita967 I will work on c. Pls change it to c

[2021-03-13 17:10] Nivedita967 commented on #703
@sayantikag98 Go for it :)

[2021-03-13 17:13] Nivedita967 commented on #692
@chiragagrawal9200 Please tell your language in which you want to code.

[2021-03-13 17:17] #280 closed

[2021-03-13 17:29] Nivedita967 commented on #683
Sure @bhardwaj2000 Go for it :)

[2021-03-13 17:49] #690 closed

[2021-03-13 18:02] Nivedita967 commented on #476
@bhardwaj2000 C++ is done for this.

[2021-03-13 18:06] Nivedita967 commented on #518
@kiruba-r11 Are you working?

[2021-03-13 18:11] Nivedita967 commented on #542
@bhardwaj2000 C++ is done in this issue.

[2021-03-13 18:36] chiragagrawal9200 commented on #692
yes ....i can code this in c++.....please let  me know @Nivedita967

[2021-03-14 01:29] kmryashasvi commented on #661
If anyone fails, I can also provide solution for this in C and Python

[2021-03-14 05:03] sayantikag98 commented on #703
Sure

[2021-03-14 05:11] ArkajyotiChakraborty commented on #680
Good Morning, Can i work on this issue.

[2021-03-14 05:12] ArkajyotiChakraborty commented on #679
Good Morning, can I work on this issue.

[2021-03-14 07:14] kmryashasvi commented on #663
I will provide solution after the above pr gets merged

[2021-03-14 08:56] abhinav5481 commented on #633
Hi @Nivedita967
I would like to do it in Java or Python. Could you please assign it to me in any one of the languages?

[2021-03-14 08:57] abhinav5481 commented on #534
Hi @Nivedita967
I would like to solve this issue in Java Or Python. Could you please assign it to me?

[2021-03-14 08:59] abhinav5481 commented on #309
Hi @Nivedita967
I would like to solve this problem in Python. Could you please assign it to me?

[2021-03-14 09:03] greenblade29 opened #722 "Minimum Insertion Steps to Make a String Palindrome"
### Problem Link
https://leetcode.com/problems/minimum-insertion-steps-to-make-a-string-palindrome/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-14 09:03] abhinav5481 commented on #575
Hi @Nivedita967
Can I do this in C++?

[2021-03-14 09:04] greenblade29 opened #723 "Longest Chunked Palindrome Decomposition"
### Problem Link
https://leetcode.com/problems/longest-chunked-palindrome-decomposition/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-14 09:07] greenblade29 opened #724 "Longest Palindromic Subsequence"
### Problem Link
https://leetcode.com/problems/longest-palindromic-subsequence/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-14 13:02] sayantikag98 commented on #703
#726 Added the solution code for the problem

[2021-03-14 13:37] abhinav5481 opened #728 "Compare the Strings by frequency of the smallest characters"
### Problem Link
Compare the Strings by frequency of the smallest characters
https://leetcode.com/problems/compare-strings-by-frequency-of-the-smallest-character/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

[2021-03-14 13:37] abhinav5481 commented on #728
Hi @Nivedita967
I would like to solve this problem in Java. PLease assign it to me.

[2021-03-14 13:39] abhinav5481 opened #729 "K-diff Pairs in an Array"
### Problem Link
https://leetcode.com/problems/k-diff-pairs-in-an-array/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

[2021-03-14 13:40] abhinav5481 commented on #729
Hi @Nivedita967
I would like to work on this problem in Java. Please assign it to me.

[2021-03-14 13:43] abhinav5481 opened #730 "Decoding Strings"
### Problem Link
https://leetcode.com/problems/decode-string/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

[2021-03-14 13:44] abhinav5481 commented on #730
Hi @Nivedita967
I would like to work on it using Python. Please assign it to me.

[2021-03-14 16:02] Nivedita967 commented on #692
Sure @chiragagrawal9200 Go for it :)

[2021-03-14 16:05] chiragagrawal9200 commented on #692
@Nivedita967 where I need to code? like I can see a link upwards...I need to code on that link only or something else?

[2021-03-14 16:07] chiragagrawal9200 commented on #692
@Nivedita967 and it is showing C lanuage

[2021-03-14 16:10] #509 closed

[2021-03-14 16:10] #543 closed

[2021-03-14 16:14] #686 closed

[2021-03-14 16:17] #612 closed

[2021-03-14 16:29] Nivedita967 commented on #692
@chiragagrawal9200 You have to code from yourself in C++ language such that it can pass all the test cases. You can use V S code.

[2021-03-14 16:31] chiragagrawal9200 commented on #692
@Nivedita967 but the test code is in C language. What should I do?

[2021-03-14 16:34] Nivedita967 commented on #692
Yes, You can use vs code or other editors for writing code.

[2021-03-14 16:36] chiragagrawal9200 commented on #692
@Nivedita967 You did not get my doubt. This issue is stated to be in C language but you are asking to do it in C++. So in which language should I code?

[2021-03-14 16:39] Nivedita967 commented on #692
Yes, This question is of C language but if you got the question you can code it in any language, isn't it?

[2021-03-14 16:42] Nivedita967 commented on #680
Hey @ArkajyotiChakraborty In which language you want to work?

[2021-03-14 16:43] Nivedita967 commented on #679
@ArkajyotiChakraborty Please tell your language in which you want to code.

[2021-03-14 16:46] Nivedita967 commented on #633
Sure @abhinav5481 Go for Java.

[2021-03-14 16:49] Nivedita967 commented on #575
C++ is done for this issue.

[2021-03-14 16:50] chiragagrawal9200 commented on #692
Yes!

[2021-03-14 16:51] Nivedita967 commented on #534
Sure @abhinav5481 Go for Python.

[2021-03-14 16:53] Nivedita967 commented on #692
And C and C++ is almost same. So, Go for it :)

[2021-03-14 16:58] Nivedita967 commented on #309
Sure @abhinav5481 Go for it.

[2021-03-14 17:03] chiragagrawal9200 commented on #692
I have requested a pull request. Please see @Nivedita967

[2021-03-14 20:17] kanak22 commented on #730
I would like to do this in C++.

[2021-03-14 20:17] kanak22 commented on #729
I would like to do this in C++.

[2021-03-14 20:17] kanak22 commented on #728
I would like to do this in C++.

[2021-03-14 20:17] kanak22 commented on #724
I would like to do this in C++.

[2021-03-14 20:17] kanak22 commented on #722
I would like to do this in C++.

[2021-03-14 20:18] kanak22 commented on #723
I would like to do this in C++.

[2021-03-15 02:13] kmryashasvi commented on #722
I will do it in Python

[2021-03-15 02:14] kmryashasvi commented on #723
I will do it in python

[2021-03-15 02:14] kmryashasvi commented on #724
I will do it in python

[2021-03-15 02:15] kmryashasvi commented on #728
I will do it in python

[2021-03-15 02:15] kmryashasvi commented on #729
I will do it in python

[2021-03-15 02:16] kmryashasvi commented on #730
I will do it in python

[2021-03-15 02:42] stlyash opened #738 "Divisible Sum pairs"
### Problem Link
https://www.hackerrank.com/challenges/divisible-sum-pairs/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

[2021-03-15 02:43] kmryashasvi commented on #738
I will provide code in C++

[2021-03-15 03:18] kmryashasvi opened #739 "Migratory birds problem"
### Problem Link
https://www.hackerrank.com/challenges/migratory-birds/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [x] Python

[2021-03-15 03:19] kmryashasvi commented on #739
I will be providing solution in C++

[2021-03-15 03:20] Akash20x commented on #739
I will solve it in python

[2021-03-15 05:11] Amit366 commented on #722
@Nivedita967 can I do in C?

[2021-03-15 05:16] Amit366 commented on #663
@Nivedita967 can I do it in C++?

[2021-03-15 05:20] Amit366 commented on #723
@Nivedita967 can I work in C??

[2021-03-15 06:32] TechSpiritSS commented on #738
I can do this in C

[2021-03-15 07:22] TechSpiritSS commented on #739
I  can do this in C

[2021-03-15 07:30] TechSpiritSS commented on #687
I can do this in C

[2021-03-15 08:03] ArkajyotiChakraborty commented on #680
I want to work in Java.

[2021-03-15 08:04] ArkajyotiChakraborty commented on #679
I want to work in Java.

[2021-03-15 11:13] saimanoharhm opened #746 "Students Marks Sum"
### Problem Link
Mention the problem on which you want to work on
https://www.hackerrank.com/challenges/students-marks-sum/problem

### Coding platform
Mention the coding platform from where you have picked the problem
Hackerrank
### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here

[2021-03-15 11:15] saimanoharhm commented on #746
@Nivedita967 I would like work on this problem using c. Pls assign this to me.

[2021-03-15 13:28] ArkajyotiChakraborty commented on #681
Ma'am can i work on this issue, I can work in Java.

[2021-03-15 13:31] bharth-stack opened #749 "Bitwise Operators"
### Problem Link
Mention the problem on which you want to work on
https://www.hackerrank.com/challenges/bitwise-operators-in-c/problem

### Coding platform
Mention the coding platform from where you have picked the problem
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request

[2021-03-15 13:42] bharth-stack commented on #749
@Nivedita967 I would like to work on this please permit me to do this

[2021-03-15 13:44] bharth-stack commented on #749
I want work on this by using C

[2021-03-15 14:13] Abhinav0909 commented on #313
@Nivedita967  I am working

[2021-03-15 15:15] Nivedita967 commented on #749
Sure @bharth-stack Go for it :)

[2021-03-15 15:18] Nivedita967 commented on #730
Python is not open.

[2021-03-15 15:24] Nivedita967 commented on #681
Sure @ArkajyotiChakraborty Go for it :)

[2021-03-15 15:25] Nivedita967 commented on #680
Sure @ArkajyotiChakraborty Go for it.

[2021-03-15 15:25] cryptus-neoxys commented on #665
Hey, I have solved this problem in C++ without DP. Can you assign this to me.

[2021-03-15 15:26] Nivedita967 commented on #679
Go for it @ArkajyotiChakraborty :)

[2021-03-15 15:30] cryptus-neoxys commented on #665
I can also add the DP memoization solution too.

[2021-03-15 15:32] Nivedita967 commented on #663
Sure @Amit366

[2021-03-15 15:44] Amit366 commented on #250
@Nivedita967  I am getting this error:

fatal: will not add file alias 'Leetcode/Minimum Cost For Tickets/Minimum_cost_for_tickets.cpp' ('Leetcode/Minimum cost for tickets/Minimum_cost_for_tickets.cpp' already exists in index)

[2021-03-15 16:14] kmryashasvi commented on #663
Why aren't you merging the PRs?

[2021-03-15 16:21] Nivedita967 commented on #250
Is this resolved or you are still stuck?

[2021-03-15 16:24] Amit366 commented on #250
Resolved and I have sent the PR

[2021-03-15 16:24] #664 closed

[2021-03-15 16:27] Nivedita967 commented on #663
Have Patience, I am going to this.

[2021-03-15 17:37] Nivedita967 commented on #665
Sure @cryptus-neoxys You can add memoization solution too. Just create one addition file in the folder and add your solution to it.

[2021-03-15 19:29] abhinav5481 opened #760 "All Elements in Two Binary Search Trees"
### Problem Link
https://leetcode.com/problems/all-elements-in-two-binary-search-trees/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

[2021-03-15 19:30] abhinav5481 commented on #760
Hi @Nivedita967
I would like to work on it in Java as part of crossWoc'21. Could you please assign it to me?

[2021-03-15 19:31] abhinav5481 opened #761 "Count Number of Teams"
### Problem Link
https://leetcode.com/problems/count-number-of-teams/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

[2021-03-15 19:32] abhinav5481 commented on #761
Hi @Nivedita967
I would like to work on it in Java. Please assign it to me as part of crosswoc'21

[2021-03-15 19:33] abhinav5481 opened #762 "Minimum Add to Make Parentheses Valid"
### Problem Link
https://leetcode.com/problems/minimum-add-to-make-parentheses-valid/

### Coding platform
Leetcode

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

[2021-03-15 19:34] abhinav5481 commented on #762
Hi @Nivedita967
I would like to work on it in Java as part of crosswoc'21 challenge. Please assign it to me.

[2021-03-15 19:35] abhinav5481 opened #763 "Validate Stack Sequences"
### Problem Link
https://leetcode.com/problems/validate-stack-sequences/

### Coding platform
Leetcode

### Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

[2021-03-15 19:35] kanak22 commented on #760
I would like to do this in C++.

[2021-03-15 19:35] abhinav5481 commented on #763
Hi @Nivedita967
I would like to work on it in Java as part of crossWoc'21. Please assign it to me.

[2021-03-15 19:36] kanak22 commented on #761
I would like to do this in C++.

[2021-03-15 19:36] kanak22 commented on #762
I would like to do this in C++.

[2021-03-15 19:36] kanak22 commented on #763
I would like to do this in C++.

[2021-03-15 19:40] abhinav5481 commented on #685
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me.

[2021-03-15 19:41] abhinav5481 commented on #589
Hi @Nivedita967
I would like to solve it in Java as part of CrossWoc'21. Please assign it to me.

[2021-03-15 19:42] abhinav5481 commented on #568
Hi @Nivedita967
I would like to work on it in Java . Please assign it to me.

[2021-03-15 19:43] abhinav5481 commented on #537
Hi @Nivedita967
I would like to work on this in Java. Please assign it to me.

[2021-03-15 19:44] abhinav5481 commented on #466
Hi @Nivedita967
I would like to work on this in Java. Please assign it to me.

[2021-03-15 19:45] abhinav5481 commented on #722
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me.

[2021-03-16 06:11] arbazalam01 commented on #723
can i do it in python

[2021-03-16 06:11] arbazalam01 commented on #722
can i do it in python

[2021-03-16 06:13] arbazalam01 commented on #685
can i do it in c++

[2021-03-16 06:24] pri1311 opened #773 "Sort integers by power value-leetcode"
### Problem Link
https://leetcode.com/problems/sort-integers-by-the-power-value  difficulty : medium

### Coding platform
leetcode

### Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
would like to do it in c++ under crosswoc

[2021-03-16 06:25] pri1311 commented on #773
would like to do it under crosswoc

[2021-03-16 06:26] pri1311 opened #774 "Binary Tree inorder Traversal"
### Problem Link
https://leetcode.com/problems/binary-tree-inorder-traversal

### Coding platform
leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-16 06:26] pri1311 commented on #774
would like to submit in c++

[2021-03-16 06:27] pri1311 opened #775 "Find peak element"
### Problem Link
https://leetcode.com/problems/find-peak-element

### Coding platform
leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-16 06:27] pri1311 commented on #775
would like to submit in c++ under crosswoc

[2021-03-16 06:30] pri1311 commented on #746
please assign this to me for c++ under crosswoc

[2021-03-16 06:31] pri1311 opened #776 "rotate list"
### Problem Link
https://leetcode.com/problems/rotate-list

### Coding platform
leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-16 06:31] pri1311 commented on #776
would like to submit solution in c++ under crosswoc

[2021-03-16 06:32] pri1311 opened #777 "remove-nth-node-from-end-of-list"
### Problem Link
https://leetcode.com/problems/remove-nth-node-from-end-of-list

### Coding platform
leetcode

### Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-16 06:32] pri1311 commented on #777
would like to submit solution in C++ under crosswoc

[2021-03-16 06:33] pri1311 opened #778 "swap nodes in pair"
### Problem Link
https://leetcode.com/problems/swap-nodes-in-pairs

### Coding platform
leetcode

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-16 06:33] pri1311 commented on #778
would like to submit solution under crosswoc in c++

[2021-03-16 15:37] simonnepinto commented on #730
I want to solve this in Java

[2021-03-16 16:27] #569 closed

[2021-03-16 16:47] #663 closed

[2021-03-16 17:08] Nivedita967 commented on #730
Go for it @simonnepinto.

[2021-03-16 17:09] Nivedita967 commented on #722
python is not open for this issue.

[2021-03-16 17:10] Nivedita967 commented on #722
Java is not open for this issue.

[2021-03-16 17:12] Amit366 commented on #775
@Nivedita967 can I work using Java?

[2021-03-16 17:13] Nivedita967 commented on #685
@abhinav5481 Go for Java.
@arbazalam01 C++ is not open.

[2021-03-16 17:14] Amit366 commented on #776
@Nivedita967 can I work using Java??

[2021-03-17 02:17] Akash20x commented on #776
I want to solve it in python, please assign me this issue as a part of Cross Woc

[2021-03-17 02:18] Akash20x commented on #773
I want to solve it in python, please assign me this issue

[2021-03-17 03:38] Akash20x commented on #739
Please check my pull request

[2021-03-17 03:40] Akash20x commented on #673
Please check my pull request

[2021-03-17 07:58] abhinav5481 commented on #775
Hi @Nivedita967
I would like to solve it in Python. please assign it to me.

[2021-03-17 07:58] abhinav5481 commented on #774
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me.

[2021-03-17 07:59] abhinav5481 commented on #773
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me.

[2021-03-17 08:02] abhinav5481 commented on #688
Hi @Nivedita967
I would like to solve it  in Java. Please assign it to me.

[2021-03-17 08:26] abhinav5481 commented on #629
hi @Nivedita967
I would like to solve it in python. Please assign it to me.

[2021-03-17 08:27] abhinav5481 commented on #627
Hi @ishikabansal04
I would like to solve it in Python. Please assign it to me

[2021-03-17 08:28] abhinav5481 commented on #611
Hi @Nivedita967
I would like to solve it in Java. please assign it to me

[2021-03-17 08:29] abhinav5481 commented on #589
If it is open for Java. Please assign it to me

[2021-03-17 08:40] ishikabansal04 commented on #627
hey @abhinav5481 . I am not the one who assigns the task. Please tag @Nivedita967 . She is the owner for the project.

[2021-03-17 13:47] pri1311 opened #804 "Interesting XOR!"
### Problem Link
https://www.codechef.com/MARCH21C/problems/IRSTXOR/

### Coding platform
Codechef

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-17 13:47] pri1311 commented on #804
Please assign this to me under crosswoc.

[2021-03-17 13:49] pri1311 opened #805 "minimum-number-of-vertices-to-reach-all-nodes"
### Problem Link
https://leetcode.com/problems/minimum-number-of-vertices-to-reach-all-nodes

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-17 13:49] pri1311 commented on #805
Please assign this to me under crosswoc for c++

[2021-03-17 13:52] pri1311 commented on #691
Please assign this to me for C++

[2021-03-17 13:57] kmryashasvi commented on #722
I will provide solution once the previous prs got merged

[2021-03-17 14:11] pri1311 opened #806 "Candies"
### Problem Link
https://www.hackerrank.com/challenges/candies/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-17 14:12] pri1311 commented on #806
Please assign this to me under crosswoc for c++

[2021-03-17 14:13] pri1311 opened #807 "Board Cutting"
### Problem Link
https://www.hackerrank.com/challenges/board-cutting/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-17 14:13] pri1311 commented on #807
Please assign this to under crosswoc for c++

[2021-03-17 14:14] pri1311 opened #808 "Goodland Electricity"
### Problem Link
https://www.hackerrank.com/challenges/pylons/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-17 14:14] pri1311 commented on #808
Please assign this issue to me under crosswoc for c++

[2021-03-17 14:32] pri1311 commented on #749
Please assign this to me for C++

[2021-03-17 14:34] kmryashasvi commented on #774
I will do it in python

[2021-03-17 14:35] kmryashasvi commented on #763
I will provide code in python

[2021-03-17 14:35] kmryashasvi commented on #762
I will do it in python

[2021-03-17 14:36] kmryashasvi commented on #761
Can I do it in python?

[2021-03-17 14:36] kmryashasvi commented on #760
I will do it in python

[2021-03-17 14:37] pri1311 opened #810 "Recursive digit sum"
### Problem Link
https://www.hackerrank.com/challenges/recursive-digit-sum/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-17 14:37] pri1311 commented on #810
Please assign this to me for c++

[2021-03-17 14:37] kmryashasvi commented on #749
I will do it in python

[2021-03-17 14:37] kmryashasvi commented on #746
I will do it in python

[2021-03-17 14:41] abhinav5481 commented on #810
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me

[2021-03-17 14:42] kmryashasvi commented on #312
I will do it in python

[2021-03-17 14:42] abhinav5481 commented on #805
Hi @Nivedita967
I would like to work in Java. Please assign it to me.

[2021-03-17 14:42] kmryashasvi commented on #313
I will do it in python

[2021-03-17 14:43] kmryashasvi commented on #393
If she fails, I can do it in python

[2021-03-17 14:44] pri1311 commented on #810
I can do It in python too. Thank you

[2021-03-17 14:44] abhinav5481 commented on #777
Hi @Nivedita967
I would like to solve it in Java. please assign it to me.

[2021-03-17 15:49] Amit366 commented on #777
@Nivedita967 can I solve this in C??

[2021-03-17 15:51] Amit366 commented on #805
@Nivedita967 can I solve this in python??

[2021-03-17 15:52] Amit366 commented on #778
@Nivedita967 Can I solve it in C??

[2021-03-17 15:53] Amit366 commented on #773
@Nivedita967 Can I solve it in C??

[2021-03-17 16:21] #534 closed

[2021-03-17 16:26] #687 closed

[2021-03-17 16:26] pri1311 opened #814 "top-k-frequent-elements"
### Problem Link
https://leetcode.com/problems/top-k-frequent-elements

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-17 16:26] pri1311 commented on #814
Would like to submit solution for python and c++

[2021-03-17 16:29] pri1311 opened #815 "the-kth-factor-of-n"
### Problem Link
https://leetcode.com/problems/the-kth-factor-of-n

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-17 16:29] pri1311 commented on #815
Would like to provide solutions for python and c++

[2021-03-17 16:58] Nivedita967 commented on #723
Python is not open.

[2021-03-17 17:19] Nivedita967 commented on #688
Sure @abhinav5481

[2021-03-17 17:25] abhinav5481 commented on #814
Hi @Nivedita967
I would like to solve this in Java. Please assign it to me

[2021-03-17 17:36] Nivedita967 commented on #393
@kmryashasvi Go for it.

[2021-03-17 17:37] Nivedita967 commented on #313
Sure @kmryashasvi Go for it.

[2021-03-17 17:38] Nivedita967 commented on #312
@kmryashasvi Go for it.

[2021-03-17 17:41] Nivedita967 commented on #691
@pri1311 Go for it.

[2021-03-17 17:46] Nivedita967 commented on #611
Java is not open for this issue.

[2021-03-17 18:31] pri1311 commented on #775
would like to provide solution for c as well

[2021-03-17 19:10] Amit366 commented on #807
@Nivedita967 can i work using Java?

[2021-03-17 19:12] jayantjethi commented on #611
@Nivedita967 mam Please check my PR.

[2021-03-17 19:14] Amit366 commented on #815
@Nivedita967 can I work using python??

[2021-03-18 02:14] abhinav5481 commented on #806
@Nivedita967
I would like to solve it in Python. Please assign it to me
In Python

[2021-03-18 02:15] abhinav5481 commented on #804
@Nivedita967
I can solve it in Java. Please assign it to me for Java

[2021-03-18 04:40] Amit366 commented on #773
@Nivedita967 please review the PRs. Then only I can send this PR.

[2021-03-18 06:55] pri1311 opened #824 "single-number"
### Problem Link
https://leetcode.com/problems/single-number

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-18 06:56] pri1311 commented on #824
Would like to provide solution for python, C++ and Java

[2021-03-18 07:15] simonnepinto commented on #739
Can I solve this in Java?

[2021-03-18 08:53] Akash20x commented on #739
Please check my pull request

[2021-03-18 16:18] ishikabansal04 opened #826 "Red Knight's Shortest Path"
### Problem Link
https://www.hackerrank.com/challenges/red-knights-shortest-path/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-18 16:18] ishikabansal04 commented on #826
Please review this problem and assign me in Java.

[2021-03-18 16:19] weirdrag08 commented on #826
I want to work on this in C++.

[2021-03-18 16:53] greenblade29 opened #828 "Jump Game V"
### Problem Link
https://leetcode.com/problems/jump-game-v/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-18 17:42] Nivedita967 commented on #739
Sure @simonnepinto Go for it.

[2021-03-18 17:52] #476 closed

[2021-03-18 18:06] jasmine1601 commented on #738
@Nivedita967 I want to solve this in Java.

[2021-03-18 18:39] kanak22 commented on #828
I would like to work on this in c++

[2021-03-18 19:14] jayantjethi commented on #804
I would Like to Work on this issue in c++.Kindly Assign me.

[2021-03-18 19:43] abhinav5481 commented on #828
Hi @Nivedita967
I would like to solve this problem in Java. Please assign it to me in Java

[2021-03-19 02:30] kmryashasvi commented on #542
I can also work in java

[2021-03-19 05:14] rahil-1407 opened #839 "Pascal's Triangle"
### Problem Link
https://leetcode.com/problems/pascals-triangle/

### Coding platform
LeetCode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Easy Array Question.

[2021-03-19 05:14] rahil-1407 commented on #839
Assign me in C++.

[2021-03-19 05:15] rahil-1407 opened #840 "Sort Colors"
### Problem Link
https://leetcode.com/problems/sort-colors/

### Coding platform
LeetCode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Tricky to solve in O(n)

[2021-03-19 05:16] rahil-1407 commented on #840
Assign me in C++

[2021-03-19 09:50] bharth-stack commented on #840
i would like to do it on c

[2021-03-19 09:58] pri1311 commented on #840
Will do it in python

[2021-03-19 09:59] pri1311 commented on #839
will do this in python

[2021-03-19 10:00] pri1311 opened #843 "Counting Number of Inversions"
### Problem Link
https://www.hackerrank.com/challenges/ctci-merge-sort/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Trick to do it in O(nlogn) time using divide and conquer.

[2021-03-19 10:00] pri1311 commented on #843
Can submit solution for python and c++

[2021-03-19 11:00] jayantjethi opened #844 "Move Zeroes"
### Problem Link
https://leetcode.com/problems/move-zeroes/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-19 11:01] jayantjethi commented on #844
@Nivedita967  Mam I would like to solve in c++.Kindly Assign me.

[2021-03-19 11:32] pri1311 commented on #844
Would like to submit solution for java and python

[2021-03-19 11:33] pri1311 commented on #593
Is this open for c++?

[2021-03-19 12:00] pri1311 opened #845 "Water Bottles"
### Problem Link
https://leetcode.com/problems/water-bottles/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-19 12:01] pri1311 commented on #845
Provide solutions in all 4 languages

[2021-03-19 12:29] pri1311 commented on #746
Can I do this in Java too?

[2021-03-19 13:02] #393 closed

[2021-03-19 13:21] #723 closed

[2021-03-19 13:27] pri1311 opened #847 "Running sum of 1d array"
### Problem Link
https://leetcode.com/problems/running-sum-of-1d-array/

### Coding platform
leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-19 13:28] pri1311 commented on #847
Would like to submit solutions in all 4 languages.

[2021-03-19 13:30] pri1311 opened #848 "Array Partition"
### Problem Link
https://leetcode.com/problems/array-partition-i/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-19 13:30] pri1311 commented on #848
Would like to add solution in all 4 languages.

[2021-03-19 13:38] Amit366 commented on #763
@Nivedita967 can I work in C??

[2021-03-19 13:40] Nivedita967 commented on #763
Sure @Amit366 Go for it.

[2021-03-19 14:04] Amit366 commented on #589
@Nivedita967 can I work using python??

[2021-03-19 14:05] Amit366 commented on #593
@Nivedita967 is it open for C??

[2021-03-19 14:08] Amit366 commented on #673
@Nivedita967 is it open for Java??

[2021-03-19 14:38] Abhinav0909 commented on #847
Hi,@Nivedita967 I want to work on this issue in java

[2021-03-19 14:45] Abhinav0909 commented on #477
Hi,@Nivedita967 I want to work on this issue in java

[2021-03-19 15:10] #313 closed

[2021-03-19 15:12] Nivedita967 commented on #775
Sure @pri1311 Go for it.

[2021-03-19 15:16] Amit366 commented on #250
@Nivedita967 is this issue open??