[2021-03-19 15:26] Nivedita967 commented on #804
C++ is not open.

[2021-03-19 15:31] Nivedita967 commented on #808
Complete all the previous assigned first, then I will assign to these further.

[2021-03-19 15:43] Nivedita967 commented on #844
@pri1311 You can work on only one language at a time.

[2021-03-19 15:45] pri1311 commented on #844
Even if I create different PRs?

[2021-03-19 15:46] Nivedita967 commented on #250
Yes

[2021-03-19 15:46] Nivedita967 commented on #250
@Kpraful Are you working?

[2021-03-19 15:47] Amit366 commented on #250
Which language is open??

[2021-03-19 15:47] #309 closed

[2021-03-19 15:47] #312 closed

[2021-03-19 15:48] Amit366 commented on #250
@Nivedita967 i will work using python

[2021-03-19 15:48] #443 closed

[2021-03-19 15:48] Nivedita967 commented on #466
Sure @abhinav5481 Go for it.

[2021-03-19 15:50] Nivedita967 commented on #475
@Ayush7614 Are you working??

[2021-03-19 15:51] Nivedita967 commented on #477
Sure @Abhinav0909 Go for it.

[2021-03-19 15:53] #488 closed

[2021-03-19 15:54] #518 closed

[2021-03-19 15:55] Nivedita967 commented on #537
Sure @abhinav5481 Go for it.

[2021-03-19 15:55] #538 closed

[2021-03-19 15:56] Nivedita967 commented on #542
Sure Go for it.

[2021-03-19 15:56] Nivedita967 commented on #568
Sure @abhinav5481

[2021-03-19 15:57] #568 closed

[2021-03-19 15:58] Nivedita967 commented on #589
Sure @Amit366 Go for it.

[2021-03-19 16:01] Nivedita967 commented on #593
@urvashiramdasani @kiruba-r11 Are you working on it?

[2021-03-19 16:02] Nivedita967 commented on #629
@weirdrag08 Are you working?

[2021-03-19 16:03] Nivedita967 commented on #628
@weirdrag08 Are you working?

[2021-03-19 16:04] Nivedita967 commented on #661
Python is done, you may go for C.

[2021-03-19 16:05] greenblade29 opened #856 "Edit Distance"
### Problem Link
https://leetcode.com/problems/edit-distance/

### Coding platform
Leetcode

### Programming language

- [x] C
- [ ] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-19 16:05] Nivedita967 commented on #673
No.

[2021-03-19 16:06] Nivedita967 commented on #673
@weirdrag08 Are you working?

[2021-03-19 16:08] Nivedita967 commented on #685
Every language is already assigned.

[2021-03-19 16:10] Nivedita967 commented on #685
@saimanoharhm Are you working on this?

[2021-03-19 16:12] Nivedita967 commented on #738
Sure @jasmine1601 Go for it.

[2021-03-19 16:13] Nivedita967 commented on #746
Go for it.

[2021-03-19 16:13] Nivedita967 commented on #746
@saimanoharhm Are you working on this?

[2021-03-19 16:17] Nivedita967 commented on #847
@Abhinav0909 Go for it.

[2021-03-19 16:18] Nivedita967 commented on #844
Yes, At a time, You can work on one language only.

[2021-03-19 16:25] Nivedita967 commented on #828
Sorry, @abhinav5481 Java is not open.

[2021-03-19 16:26] #739 closed

[2021-03-19 16:34] Amit366 commented on #673
@Nivedita967 which language is open??

[2021-03-19 16:36] Amit366 commented on #828
@Nivedita967 can I work in python??

[2021-03-19 16:55] JASKAMAL22 commented on #844
I would like to work in python. Please assign it to me :)

[2021-03-19 16:57] JASKAMAL22 commented on #826
I would like to work in python . Kindly assign it to me!!

[2021-03-19 16:58] JASKAMAL22 commented on #804
Hi @Nivedita967, I would like to work in python. Please assign it to me :)

[2021-03-19 17:00] weirdrag08 commented on #629
Hey, @Nivedita967 , yes am working on all the issues. Apologies for the delay. I am having my exams and lab assignments. I will definitely put the PR for all the issues very soon. Please give me a little more time. Thankyou :)

[2021-03-19 17:03] JASKAMAL22 commented on #680
I would like to work in python. Please assign it to me :)

[2021-03-19 17:10] pri1311 commented on #844
Done with Python, can I work on Java now?

[2021-03-19 17:18] pri1311 commented on #856
Please assign this to me for c++

[2021-03-19 17:46] weirdrag08 commented on #673
yes

[2021-03-19 18:31] pri1311 commented on #847
@Nivedita967  Ma'am why was I not assigned this?

[2021-03-19 18:47] Abhinav0909 commented on #856
Hi,@Nivedita967,I want to work on this issues in java.

[2021-03-19 18:51] Abhinav0909 commented on #845
HI,@Nivedita967 I want to work on this issue in java.

[2021-03-19 19:43] #848 closed

[2021-03-19 19:43] #845 closed

[2021-03-19 19:52] pri1311 commented on #660
will do it in python

[2021-03-19 19:53] pri1311 commented on #839
can I do it in java now?

[2021-03-19 19:54] pri1311 commented on #840
now can I solve in Java now?

[2021-03-19 19:57] pri1311 commented on #689
can i do it in python?

[2021-03-19 19:59] pri1311 commented on #683
Can I do this in Java?

[2021-03-19 20:00] pri1311 commented on #661
Can I do this in Java?

[2021-03-19 20:01] pri1311 commented on #665
Will do it in Python.

[2021-03-19 20:02] pri1311 commented on #679
Can I solve it in Python?

[2021-03-19 20:04] pri1311 commented on #634
will do it in Java.

[2021-03-19 20:05] pri1311 commented on #611
Will do it in Python.

[2021-03-19 20:05] pri1311 commented on #599
Will do it in python

[2021-03-19 20:06] pri1311 commented on #574
Will do it in Java.

[2021-03-20 04:49] abhinav5481 commented on #856
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me python.

[2021-03-20 04:50] abhinav5481 commented on #840
Hi @Nivedita967
I would like to solve this problem in Java. Please assign it to me in Java.

[2021-03-20 04:51] abhinav5481 commented on #807
Hi @Nivedita967
I would like to solve it in Python. please assign it to me in python

[2021-03-20 04:58] abhinav5481 commented on #843
@Nivedita967
I would like to solve it in Java. Please assign it to me in Java.

[2021-03-20 05:43] Amit366 commented on #856
@Nivedita967 can I work in C??

[2021-03-20 06:30] Abhinav0909 commented on #475
Hi, @Nivedita967 I want to work on this issue in java

[2021-03-20 06:31] Abhinav0909 commented on #480
Hi, @Nivedita967 I want to work on this issue in java

[2021-03-20 06:34] Abhinav0909 commented on #577
Hi, @Nivedita967 I want to work on this issue in java

[2021-03-20 06:54] pri1311 commented on #777
Would like to do it in Python too

[2021-03-20 06:55] pri1311 commented on #778
Would like to do it in Python as well

[2021-03-20 10:13] Kpraful commented on #250
Yes I am, Sorry It is taking long. I was busy with some personal issue. I will try to finish it ASAP.

[2021-03-20 10:24] jayantjethi commented on #847
Mam I would like to solve this in c++. kindly assign me

[2021-03-20 13:23] urvashiramdasani commented on #593
Yes, I am working on it.

[2021-03-20 14:43] pri1311 commented on #847
would like to do it in C++

[2021-03-20 18:19] abhinav5481 opened #876 "Final Prices With a Special Discount in a Shop"
### Problem Link
https://leetcode.com/problems/final-prices-with-a-special-discount-in-a-shop/

### Coding platform
Leetcode

### Programming language

- [x] C
- [ ] C++
- [x] Java
- [x] Python

[2021-03-20 18:20] abhinav5481 commented on #876
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me in Java

[2021-03-21 04:56] ishikabansal04 opened #882 "Russian Doll Envelopes"
### Problem Link
https://leetcode.com/problems/russian-doll-envelopes/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-21 04:56] ishikabansal04 commented on #882
Please assign me in Java.

[2021-03-21 04:56] weirdrag08 commented on #882
I want to solve this in C++.

[2021-03-21 05:17] ishikabansal04 opened #883 "Tiling Problem"
### Problem Link
https://www.geeksforgeeks.org/tiling-problem/
Correct link -> https://practice.geeksforgeeks.org/problems/ways-to-tile-a-floor5836/1

### Coding platform
GeeksforGeeks

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-21 05:17] ishikabansal04 commented on #883
Please assign me in Java.

[2021-03-21 05:17] weirdrag08 commented on #883
I want to do in C++.

[2021-03-21 05:18] weirdrag08 opened #884 "Count the number of ways to tile the floor of size n x m using 1 x m size tiles"
### Problem Link
https://www.geeksforgeeks.org/count-number-ways-tile-floor-size-n-x-m-using-1-x-m-size-tiles/
Correct link -> https://practice.geeksforgeeks.org/problems/count-the-number-of-ways-to-tile-the-floor-of-size-n-x-m-using-1-x-m-size-tiles0509/1

### Coding platform
GeeksforGeeks

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add

[2021-03-21 05:19] weirdrag08 commented on #884
I want to solve this in C++.

[2021-03-21 05:19] ishikabansal04 commented on #884
Please assign me in Java.

[2021-03-21 05:34] ishikabansal04 opened #885 "Largest Rectangle"
### Problem Link
https://www.hackerrank.com/challenges/largest-rectangle/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-21 05:34] ishikabansal04 commented on #885
Please assign me in Java.

[2021-03-21 05:34] weirdrag08 commented on #885
I want to do this in C++.

[2021-03-21 05:35] weirdrag08 opened #886 "Cycle Detection"
### Problem Link
https://www.hackerrank.com/challenges/detect-whether-a-linked-list-contains-a-cycle/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-21 05:36] weirdrag08 commented on #886
Please assign me in C++.

[2021-03-21 05:36] ishikabansal04 commented on #886
Please assign me in Java.

[2021-03-21 05:38] ishikabansal04 opened #887 "Ice Cream Parlor"
### Problem Link
https://www.hackerrank.com/challenges/icecream-parlor/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-21 05:39] ishikabansal04 commented on #887
I want to do this in Java.

[2021-03-21 05:39] weirdrag08 commented on #887
Please assign me in C++.

[2021-03-21 05:41] weirdrag08 opened #888 "Compare the Triplets"
### Problem Link
https://www.hackerrank.com/challenges/compare-the-triplets/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-21 05:41] weirdrag08 commented on #888
Please assign me in C++.

[2021-03-21 05:41] ishikabansal04 commented on #888
I want to do this in Java.

[2021-03-21 06:26] weirdrag08 opened #889 "Non-overlapping Intervals"
### Problem Link
https://leetcode.com/problems/non-overlapping-intervals/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-21 06:26] weirdrag08 commented on #889
Please assign me in C++.

[2021-03-21 06:27] ishikabansal04 commented on #889
Please assign me in Java.

[2021-03-21 07:46] Akash20x commented on #882
I want to solve this in python. Please assign me this issue as a part of Cross Woc

[2021-03-21 07:51] Akash20x commented on #889
I want to solve this in python

[2021-03-21 09:09] saimanoharhm commented on #746
@Nivedita967 Sorry, Becz of my exams I didn't spend much time on it. I will submit the code by today.

[2021-03-21 10:04] cryptus-neoxys opened #891 "Set Matrix Zeroes"
### Problem Link
https://leetcode.com/problems/set-matrix-zeroes/

### Coding platform
LeetCode

### Programming language
- [x] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve this in C++. Please assign it to me.

[2021-03-21 10:24] jayantjethi opened #892 "Divisor Game"
### Problem Link
https://leetcode.com/problems/divisor-game/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-21 10:24] jayantjethi commented on #892
I would Like to solve this issue in C++. Kindly Assign Me.

[2021-03-21 12:46] abhinav5481 commented on #883
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-21 12:46] abhinav5481 commented on #884
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-21 12:46] abhinav5481 commented on #885
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-21 12:46] abhinav5481 commented on #886
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-21 12:46] abhinav5481 commented on #887
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-21 12:47] abhinav5481 commented on #888
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-21 12:47] abhinav5481 commented on #891
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me.

[2021-03-21 12:47] abhinav5481 commented on #892
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me.

[2021-03-21 13:07] ishikabansal04 opened #896 "Stock Maximize"
### Problem Link
https://www.hackerrank.com/challenges/stockmax/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [ ] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-21 13:07] ishikabansal04 commented on #896
I want to solve this in Java.

[2021-03-21 13:08] weirdrag08 commented on #896
Please assign me in C++.

[2021-03-21 14:37] Nivedita967 commented on #480
Go for it @Abhinav0909 .

[2021-03-21 15:20] #589 closed

[2021-03-21 15:23] Nivedita967 commented on #807
Sure @abhinav5481

[2021-03-21 15:39] pri1311 commented on #844
would like to work on Python

[2021-03-21 15:40] pri1311 commented on #896
will do it in python

[2021-03-21 15:41] pri1311 commented on #892
will do it in python

[2021-03-21 15:41] pri1311 commented on #891
will do it in python

[2021-03-21 15:42] pri1311 commented on #876
would solve it in c++

[2021-03-21 15:44] #477 closed

[2021-03-21 15:45] pri1311 commented on #883
will do it in C

[2021-03-21 15:46] pri1311 commented on #884
will do it in C

[2021-03-21 15:46] pri1311 commented on #885
will do it in C

[2021-03-21 15:47] pri1311 commented on #886
will do it in C

[2021-03-21 15:47] pri1311 commented on #887
will do it in C

[2021-03-21 15:47] pri1311 commented on #888
will do it in C

[2021-03-21 15:47] Nivedita967 commented on #847
Yes @pri1311 You have opened so many issues at the same time, but you can't assigned to so many issues at a time. You should complete all your previous works first to get assigned to further issues.

[2021-03-21 15:48] pri1311 commented on #889
will do it in C

[2021-03-21 15:49] pri1311 commented on #475
will do it in C

[2021-03-21 15:52] pri1311 commented on #738
will do it in python

[2021-03-21 15:53] Nivedita967 commented on #661
Sure @pri1311 Go for it.

[2021-03-21 15:54] #542 closed

[2021-03-21 16:01] #673 closed

[2021-03-21 16:16] pri1311 commented on #530
will do it in python

[2021-03-21 16:17] pri1311 commented on #537
will do it in C

[2021-03-21 16:18] pri1311 commented on #576
Will do it in C

[2021-03-21 16:20] pri1311 commented on #627
will do it in C

[2021-03-21 16:20] pri1311 commented on #628
will do it in C

[2021-03-21 16:21] pri1311 commented on #629
will do it in C

[2021-03-21 16:24] pri1311 commented on #671
will do it in C

[2021-03-21 16:24] pri1311 commented on #677
will do it in C

[2021-03-21 16:25] pri1311 commented on #688
will do it in C

[2021-03-21 16:57] Ayush7614 commented on #475
@Nivedita967 i work in c++

[2021-03-21 17:07] abhinav5481 commented on #724
Hi @Nivedita967
I would like to solve it in C. Please assign it to me.

[2021-03-21 18:32] Nivedita967 commented on #628
Sure @pri1311

[2021-03-21 18:33] #773 closed

[2021-03-21 18:35] Nivedita967 commented on #466
@pri1311 Are you working on this?

[2021-03-21 18:36] pri1311 commented on #466
Hey yes, when my current pull requests are merged I will Create one for this. Sorry for the delay

[2021-03-21 18:37] Nivedita967 commented on #537
Go for it.

[2021-03-21 18:42] Nivedita967 commented on #826
Sure @JASKAMAL22

[2021-03-21 18:46] #633 closed

[2021-03-21 18:51] pri1311 commented on #774
will do it in C

[2021-03-21 18:57] pri1311 commented on #250
is this still open for any language?

[2021-03-21 18:58] Nivedita967 commented on #844
Python is not open for this.

[2021-03-21 18:59] pri1311 commented on #511
Can I do this in Java?

[2021-03-21 19:00] pri1311 commented on #806
Will do it in C as well

[2021-03-21 19:01] pri1311 commented on #844
Can I work on Java now?

[2021-03-21 19:03] pri1311 commented on #807
would like to do it in C too.

[2021-03-21 19:04] pri1311 commented on #828
will do it in C

[2021-03-21 19:04] Nivedita967 commented on #806
Go for it.

[2021-03-21 19:06] pri1311 commented on #826
Can I do it in C?

[2021-03-21 19:08] Nivedita967 commented on #804
Sure @JASKAMAL22 Go for it.

[2021-03-21 19:08] pri1311 commented on #804
will do it in C as well

[2021-03-21 19:08] Amit366 commented on #810
@Nivedita967 can I work using python??

[2021-03-21 19:10] Nivedita967 commented on #840
Why are you in so hurry?

[2021-03-21 19:11] Amit366 commented on #761
@Nivedita967 can I do it in C??

[2021-03-21 19:12] Nivedita967 commented on #840
Go for it @abhinav5481

[2021-03-21 19:13] pri1311 commented on #840
@Nivedita967  ma'am isnt it supposed to be first come first serve basis?

[2021-03-21 19:13] Amit366 commented on #814
@Nivedita967 can I work in C and python??

[2021-03-21 19:15] Amit366 commented on #876
@Nivedita967 can I work in python and C??

[2021-03-21 19:15] Amit366 commented on #677
@Nivedita967 can I work in Java??

[2021-03-21 19:17] Amit366 commented on #685
@Nivedita967 since only few days are left please assign it to me.

[2021-03-21 19:18] Nivedita967 commented on #840
Yes @pri1311, But you are just collecting all the issues, in all languages. Is it right?
You are here to learn and for contribution ( contribution is collaborating and cooperating with community) but you are not supporting community in any way.

[2021-03-21 19:19] Amit366 commented on #891
@Nivedita967 can I work in C and C++??

[2021-03-21 19:20] pri1311 commented on #840
@Nivedita967, ma'am I am creating pull requests on time with properly commented code. I understand your point but my intention is not to collect issues and stop others.

[2021-03-21 19:36] pri1311 commented on #840
@Nivedita967 Sorry for the trouble :(

[2021-03-21 19:39] Nivedita967 commented on #840
Just collaborate with the community :)
For other things, you are doing great.

[2021-03-21 19:48] Nivedita967 commented on #804
Go for it.

[2021-03-21 19:53] Nivedita967 commented on #250
Yes for C only

[2021-03-21 19:55] Nivedita967 commented on #475
Sure @Abhinav0909 Go for it.

[2021-03-21 19:55] Nivedita967 commented on #475
Sure @pri1311 Go for it.

[2021-03-21 19:58] Nivedita967 commented on #475
Then do it ASAP because it's almost 24 days.

[2021-03-21 20:00] Nivedita967 commented on #530
Go for it.

[2021-03-21 20:00] Nivedita967 commented on #574
Go for it.

[2021-03-21 20:01] Nivedita967 commented on #576
Sure.

[2021-03-21 20:02] Nivedita967 commented on #577
Sure @Abhinav0909 Go for it.

[2021-03-21 20:08] Nivedita967 commented on #677
@Amit366 Java is not open for this issue.

[2021-03-21 20:08] Nivedita967 commented on #677
@deephunt3r Are you working on this?

[2021-03-21 20:09] Nivedita967 commented on #680
Sure @JASKAMAL22 .

[2021-03-21 20:12] Nivedita967 commented on #685
I can assign you to other issues for sure. In which language you code?

[2021-03-21 20:13] #703 closed

[2021-03-21 20:14] #722 closed

[2021-03-21 20:15] Nivedita967 commented on #724
Sure @abhinav5481

[2021-03-21 20:15] #728 closed

[2021-03-21 20:16] #730 closed

[2021-03-21 20:16] #729 closed

[2021-03-21 20:19] Nivedita967 commented on #746
I can understand. I also have exams :/
But try to solve one issue atleast in a day.

[2021-03-21 20:21] Nivedita967 commented on #761
Sure @Amit366 Go for it.

[2021-03-21 20:21] Nivedita967 commented on #762
@Amit366 Can you solve this problem ?

[2021-03-21 20:25] Nivedita967 commented on #749
@kmryashasvi Do you also have exams?

[2021-03-21 20:28] Nivedita967 commented on #814
@pri1311      ->c++
@abhinav5481 -> java
@Amit366     ->python.

[2021-03-21 20:29] Nivedita967 commented on #810
@pri1311 -> c++
@abhinav5481 -> java
@Amit366 -> python

[2021-03-21 20:30] Nivedita967 commented on #815
@pri1311 ->c++
@abhinav5481 -> java
@Amit366 -> python

[2021-03-21 20:32] Nivedita967 commented on #824
@pri1311 Go for C++

[2021-03-21 20:33] abhinav5481 commented on #611
I will do it in c

[2021-03-21 20:34] abhinav5481 commented on #896
I will do it in C. Please assign it to me

[2021-03-21 20:35] Nivedita967 commented on #847
Sure @jayantjethi Go for c++

[2021-03-21 20:36] Nivedita967 commented on #856
Java is not open for this @Abhinav0909

[2021-03-21 20:39] Nivedita967 commented on #876
@abhinav5481 -> java
@pri1311 -> go for c++
@Amit366 -> go for python first

[2021-03-21 20:41] Nivedita967 commented on #883
I have assigned you so many issues, After completing that all I will assign you further.

[2021-03-21 20:48] Nivedita967 commented on #891
@Amit366 Go for C.

[2021-03-22 02:17] abhinav5481 commented on #882
I would like to solve it in c

[2021-03-22 03:29] kmryashasvi commented on #749
I have Exams, but I manage to do other things too,
but the main reason is, I am not able to solve the problem,
Hence, I am unassigning myself now.
I hope you understand

[2021-03-22 03:38] Amit366 commented on #762
Yes

[2021-03-22 03:38] Amit366 commented on #762
@Nivedita967 which language is open?

[2021-03-22 07:24] saimanoharhm commented on #685
@Nivedita967 I am not working on this. Pls assign this someone else Thank you.

[2021-03-22 08:02] saimanoharhm opened #921 "Tree: Huffman Decoding"
### Problem Link
Mention the problem on which you want to work on
https://www.hackerrank.com/challenges/tree-huffman-decoding/problem

### Coding platform
Mention the coding platform from where you have picked the problem
hackerrank

### Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request

[2021-03-22 08:02] saimanoharhm commented on #921
@Nivedita967 I will work on c. Pls assign it to me under crosswoc.

[2021-03-22 09:40] abhinav5481 commented on #921
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me.

[2021-03-23 02:41] kmryashasvi commented on #762
C

[2021-03-23 03:02] bharth-stack commented on #844
i would like to do it in C

[2021-03-23 03:08] bharth-stack commented on #824
i would like to do it in C

[2021-03-23 03:11] bharth-stack commented on #810
i would like to do it in c

[2021-03-23 05:30] Akash20x commented on #921
I want to solve this in python

[2021-03-23 05:41] Nivedita967 commented on #824
Go for it @bharth-stack

[2021-03-23 05:49] #761 closed

[2021-03-23 06:02] Nivedita967 commented on #680
@ArkajyotiChakraborty Are you working??

[2021-03-23 06:13] ArkajyotiChakraborty commented on #680
yes will submit in couple of days, sorry having exams so balancing everything.

[2021-03-23 06:16] abhinav5481 commented on #839
Hi @Nivedita967
I would like to solve it in Java or C. please assign it to me in whichever language it is open.

[2021-03-23 06:17] abhinav5481 commented on #843
@Nivedita967
Is this issue still open?

[2021-03-23 06:18] abhinav5481 commented on #681
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-23 06:20] abhinav5481 commented on #660
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me.

[2021-03-23 06:22] abhinav5481 commented on #599
Hi @Nivedita967
I would like to solve it in C. Please assign it to me.

[2021-03-23 06:22] Amit366 commented on #685
@Nivedita967 can I work in C++??

[2021-03-23 06:23] abhinav5481 commented on #891
Can I get assigned?

[2021-03-23 06:23] Amit366 commented on #593
@Nivedita967 is this issue open??

[2021-03-23 06:25] Amit366 commented on #466
@Nivedita967 can I solve using python??

[2021-03-23 06:47] jayantjethi opened #939 "Pawri Meme"
### Problem Link
https://www.codechef.com/COOK127C/problems/PAWRI

### Coding platform
Codechef

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-23 07:43] ishikabansal04 commented on #939
Is c++ available for this ?

[2021-03-23 07:56] jayantjethi commented on #939
I will like to solve this problem in c++.Kindly Assign me.

[2021-03-23 09:04] greenblade29 opened #944 "Number of Music Playlists"
### Problem Link
https://leetcode.com/problems/number-of-music-playlists/

### Coding platform
Leetcode

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-23 09:05] greenblade29 opened #945 "Minimum Difficulty of a Job Schedule"
### Problem Link
https://leetcode.com/problems/minimum-difficulty-of-a-job-schedule/

### Coding platform
Leetcode

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-23 09:08] greenblade29 opened #946 "Scramble String"
### Problem Link
https://leetcode.com/problems/scramble-string/

### Coding platform
Leetcode

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-23 11:11] abhinav5481 commented on #946
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-23 11:11] abhinav5481 commented on #945
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-23 11:11] abhinav5481 commented on #944
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-23 11:11] abhinav5481 commented on #939
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me.

[2021-03-23 11:29] bharth-stack commented on #815
i can provide solution in c

[2021-03-23 11:43] cryptus-neoxys commented on #840
Can you reassign C++, no submission has been made by the assignee.

[2021-03-23 12:23] Kpraful commented on #250
@Nivedita967 There are 2 folder in this repo for the same name, I have added in the folder which have max file, please let me know if I have to change it.

[2021-03-23 14:35] Akash20x commented on #946
I would like to solve it in c++

[2021-03-23 16:34] Amit366 commented on #945
@Nivedita967 I can do in C++.

[2021-03-23 16:35] Amit366 commented on #946
@Nivedita967 can I do in C?

[2021-03-23 16:35] Amit366 commented on #944
@Nivedita967 can I work in C++?

[2021-03-23 16:38] Amit366 commented on #921
@Nivedita967 I can do in C

[2021-03-23 17:42] Nivedita967 commented on #844
You have not yet completed all your previous works.

[2021-03-23 17:43] Nivedita967 commented on #843
Yes, Go for it.

[2021-03-23 17:57] kanak22 opened #959 "Xenia and Divisors"
### Problem Link
https://codeforces.com/problemset/problem/342/A

### Coding platform
Codeforces

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
I would like to work on this in c++.

[2021-03-23 17:58] kanak22 opened #960 "Letter"
### Problem Link
https://codeforces.com/problemset/problem/43/B

### Coding platform
Codeforces

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
I would like to work on this in C++.

[2021-03-23 17:59] kanak22 opened #961 "Little Girl and Game"
### Problem Link
https://codeforces.com/problemset/problem/276/B

### Coding platform
Codeforces

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I would like to work on this in C++.

[2021-03-23 18:24] Nivedita967 commented on #839
Go for Java.

[2021-03-23 18:25] Nivedita967 commented on #815
Sure @bharth-stack

[2021-03-23 18:26] Nivedita967 commented on #810
Go for it.

[2021-03-23 18:32] #774 closed

[2021-03-23 18:35] #724 closed

[2021-03-23 18:37] Nivedita967 commented on #685
Sure @Amit366 Go for it.

[2021-03-23 18:38] Nivedita967 commented on #681
Sure @abhinav5481

[2021-03-23 18:38] Nivedita967 commented on #680
No problem :)

[2021-03-23 18:40] #638 closed

[2021-03-23 18:43] Nivedita967 commented on #593
Yes @Amit366 This is open for C. Do you want to work on it?

[2021-03-23 18:45] Nivedita967 commented on #466
Sure @Amit366 Go for it.

[2021-03-23 18:49] #250 closed

[2021-03-23 18:55] Amit366 commented on #593
@Nivedita967 yes

[2021-03-23 18:57] #776 closed

[2021-03-24 06:06] abhinav5481 commented on #960
I would like to solve it in Java. Please assign it to me

[2021-03-24 06:24] Kpraful commented on #778
I would like to contribute it in python

[2021-03-24 07:04] Kpraful commented on #961
May I, In python?

[2021-03-24 07:13] Akash20x opened #967 "Count Vowels Permutation"
### Problem Link
https://leetcode.com/problems/count-vowels-permutation/description/

### Coding platform
Leetcode

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve this in python
This is leetcode (Hard) problem

[2021-03-24 07:14] Akash20x commented on #967
Please consider this and assign me this issue to solve in python

[2021-03-24 11:17] abhinav5481 commented on #961
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me

[2021-03-24 11:18] abhinav5481 commented on #967
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me.

[2021-03-24 13:42] kanak22 commented on #967
I would like to solve this in C++

[2021-03-24 16:05] #892 closed

[2021-03-24 16:21] #530 closed

[2021-03-24 16:25] #685 closed

[2021-03-24 16:28] Nivedita967 commented on #762
Open for C. Do you want to work on this?

[2021-03-24 16:29] Nivedita967 commented on #778
Sure @Kpraful Go for it.

[2021-03-24 16:32] Nivedita967 commented on #763
@kmryashasvi I have requested you some changes in your Pull request. Check that ASAP.

[2021-03-24 16:36] JASKAMAL22 commented on #959
I would like to work in python :)

[2021-03-24 16:37] JASKAMAL22 commented on #939
I would like to work in python . Kindly assign it to me!!

[2021-03-24 16:39] abhinav5481 commented on #959
Hi @Nivedita967
I would like to solve it in Python. please assign it to me

[2021-03-24 16:40] JASKAMAL22 commented on #824
I would like to work in python . Kindly assign it to me :)

[2021-03-24 16:42] JASKAMAL22 commented on #961
I would like to do it in python. Kindly assign it to me :)

[2021-03-24 16:43] JASKAMAL22 commented on #960
I would like to do in python. Kindly assign it to me!

[2021-03-24 16:43] Nivedita967 commented on #959
Python is not open.

[2021-03-24 16:45] Nivedita967 commented on #961
Python is not open.

[2021-03-24 16:47] JASKAMAL22 commented on #843
I would like to work in python. Kindly assign it to me :)

[2021-03-24 16:53] JASKAMAL22 commented on #689
Hello @Nivedita967  Can I work it in python!!

[2021-03-24 16:54] pri1311 commented on #967
will do it in C

[2021-03-24 16:56] pri1311 commented on #843
will do it in C++

[2021-03-24 17:06] jayantjethi commented on #939
@Nivedita967 Mam Please check my PR

[2021-03-24 17:07] pri1311 commented on #892
hey @Nivedita967 was this issue closed by mistake?

[2021-03-24 17:08] pri1311 commented on #776
if it is open, will do it in C

[2021-03-24 18:05] pri1311 commented on #749
if it is open, will do it in python

[2021-03-24 18:13] pri1311 commented on #961
will do it in C

[2021-03-24 18:20] pri1311 commented on #960
@Nivedita967 can I do it in C?

[2021-03-24 18:20] pri1311 commented on #959
Can I do it in Java?

[2021-03-24 18:38] abhinav5481 commented on #959
Okay. Can I solve it in Java or C?

[2021-03-25 01:58] kmryashasvi commented on #763
Done
@Nivedita967

[2021-03-25 02:02] stlyash opened #1012 "Counting valleys on hackerrank"
### Problem Link
https://www.hackerrank.com/challenges/counting-valleys/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

[2021-03-25 02:02] kmryashasvi commented on #1012
I will provide solution in C++

[2021-03-25 02:05] Akash20x commented on #1012
I would like to solve this issue in python

[2021-03-25 02:20] stlyash opened #1013 "Electronics shop on hackerrank"
### Problem Link
https://www.hackerrank.com/challenges/electronics-shop/problem?h_r=next-challenge&h_v=zen

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

[2021-03-25 02:20] kmryashasvi commented on #1013
I will do it in C++

[2021-03-25 02:26] Akash20x commented on #1013
I want to solve it in python

[2021-03-25 03:57] abhinav5481 commented on #1012
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me.

[2021-03-25 03:57] abhinav5481 commented on #1013
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me.

[2021-03-26 03:16] ishikabansal04 opened #1029 "Perfect Squares"
### Problem Link
https://leetcode.com/problems/perfect-squares/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-26 03:16] ishikabansal04 commented on #1029
Please assign me in Java.

[2021-03-26 03:17] weirdrag08 commented on #1029
I want to do this in C++ :)

[2021-03-26 03:18] ishikabansal04 opened #1030 "Longest Common Subsequence"
### Problem Link
https://practice.geeksforgeeks.org/problems/longest-common-subsequence-1587115620/1

### Coding platform
GeeksforGeeks

### Programming language

- [x] C
- [ ] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-26 03:18] ishikabansal04 commented on #1030
Please assign me in Java.

[2021-03-26 03:19] weirdrag08 commented on #1030
I want to do in C++:)

[2021-03-26 03:20] weirdrag08 opened #1031 "Longest Palindromic Subsequence"
### Problem Link
https://www.geeksforgeeks.org/longest-palindromic-subsequence-dp-12/

### Coding platform
GeeksforGeeks

### Programming language

- [x] C
- [ ] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-26 03:20] weirdrag08 commented on #1031
Please review and assign me in C++ :)

[2021-03-26 03:21] ishikabansal04 commented on #1031
I want to do this in Java.

[2021-03-26 03:22] weirdrag08 opened #1032 "Longest Palindromic Substring"
### Problem Link
https://leetcode.com/problems/longest-palindromic-substring/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-26 03:22] weirdrag08 commented on #1032
Please review and assign me in C++ :)

[2021-03-26 03:22] ishikabansal04 commented on #1032
Please assign me in Java.

[2021-03-26 03:24] ishikabansal04 opened #1033 "Count Palindromic Subsequences"
### Problem Link
https://practice.geeksforgeeks.org/problems/count-palindromic-subsequences/1

### Coding platform
GeeksforGeeks

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-26 03:24] ishikabansal04 commented on #1033
Please assign me in Java.

[2021-03-26 03:24] weirdrag08 commented on #1033
Please assign me in C++ :)

[2021-03-26 03:25] ishikabansal04 opened #1034 "Count Palindrome Sub-Strings of a String"
### Problem Link
https://practice.geeksforgeeks.org/problems/count-palindrome-sub-strings-of-a-string/0

### Coding platform
GeeksforGeeks

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-26 03:25] ishikabansal04 commented on #1034
Please assign me in Java.

[2021-03-26 03:26] weirdrag08 commented on #1034
I want to work on this in C++ :)

[2021-03-26 03:27] weirdrag08 opened #1035 "Distinct Subsequences II"
### Problem Link
https://leetcode.com/problems/distinct-subsequences-ii/

### Coding platform
Leetcode

### Programming language

- [x] C
- [ ] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-26 03:27] weirdrag08 commented on #1035
Please review and assign me in C++

[2021-03-26 03:27] ishikabansal04 commented on #1035
I want this for Java.

[2021-03-26 03:29] weirdrag08 opened #1036 "Count Different Palindromic Subsequences"
### Problem Link
https://leetcode.com/problems/count-different-palindromic-subsequences/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-26 03:29] weirdrag08 commented on #1036
Please review & assign me in C++ :)

[2021-03-26 03:29] ishikabansal04 commented on #1036
Please assign me in Java.

[2021-03-26 03:30] weirdrag08 opened #1037 "Common Child"
### Problem Link
https://www.hackerrank.com/challenges/common-child/problem

### Coding platform
Hackerrank

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-26 03:30] weirdrag08 commented on #1037
Please review and assign me in C++ :)

[2021-03-26 03:31] ishikabansal04 commented on #1037
Please assign me in Java.

[2021-03-26 03:33] ishikabansal04 opened #1038 "Max Array Sum"
### Problem Link
https://www.hackerrank.com/challenges/max-array-sum/problem?h_l=interview&playlist_slugs%5B%5D=interview-preparation-kit&playlist_slugs%5B%5D=dynamic-programming

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-26 03:33] ishikabansal04 commented on #1038
I want to work on this issue in Java.

[2021-03-26 03:33] weirdrag08 commented on #1038
Please assign me in C++ :)

[2021-03-26 04:27] abhinav5481 commented on #1029
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-26 04:28] abhinav5481 commented on #1035
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-26 04:28] abhinav5481 commented on #1036
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-26 04:28] abhinav5481 commented on #1037
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-26 04:28] abhinav5481 commented on #1038
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-26 04:29] abhinav5481 commented on #1033
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-26 04:29] abhinav5481 commented on #1032
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-26 04:29] abhinav5481 commented on #1034
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-26 04:29] abhinav5481 commented on #1031
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-26 04:30] abhinav5481 commented on #1030
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me.

[2021-03-26 05:42] #763 closed

[2021-03-26 05:43] Nivedita967 commented on #760
Here also check your PR.

[2021-03-26 05:45] Nivedita967 commented on #688
@muthuannamalai12 I have requested you some changes in your PR. Check it ASAP.

[2021-03-26 06:48] Akash20x commented on #1036
I want to solve it in C
Please assign it to me

[2021-03-26 06:48] Akash20x commented on #1035
@Nivedita967 I want to solve it in C
Please assign it to me

[2021-03-26 06:50] Akash20x commented on #1032
@Nivedita967  I want to solve it in C
Please assign it to me

[2021-03-26 06:50] Akash20x commented on #1029
@Nivedita967 I want to solve it in C
Please assign it to me

[2021-03-26 06:52] Akash20x commented on #944
@Nivedita967 I want to solve it in C
Please assign it to me

[2021-03-26 06:52] Akash20x commented on #945
@Nivedita967 I want to solve it in C
Please assign it to me

[2021-03-26 06:59] Akash20x opened #1039 "K-th Smallest Prime Fraction"
### Problem Link
https://leetcode.com/problems/k-th-smallest-prime-fraction/description/

### Coding platform
Leetcode

### Programming language

- [x] C
- [ ] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
This is leetcode hard problem
I want to solve it in python, please assign me this issue

[2021-03-26 06:59] Akash20x commented on #1039
@Nivedita967 I want to solve it in python. Please assign me this issue as a part of Cross Woc

[2021-03-26 07:01] #807 closed

[2021-03-26 07:01] Akash20x commented on #967
Please check my pull request

[2021-03-26 07:35] Akash20x commented on #944
Please check my pull request

[2021-03-26 07:48] Akash20x commented on #944
@Nivedita967 please check my pull request

[2021-03-26 07:51] #537 closed

[2021-03-26 07:54] #574 closed

[2021-03-26 07:58] Akash20x commented on #945
@Nivedita967 Please check my pull request

[2021-03-26 08:03] Nivedita967 commented on #576
@arbazalam01 I have requested you some changes in your PR. Check it ASAP.

[2021-03-26 08:15] #611 closed

[2021-03-26 08:15] #599 closed

[2021-03-26 08:40] Amit366 commented on #1039
@Nivedita967 can I work in Java??

[2021-03-26 10:34] jayantjethi commented on #1039
I would Like to solve this problem in c++. kindly assign me

[2021-03-26 10:44] kanak22 commented on #466
is it open for C++?

[2021-03-26 10:47] kanak22 commented on #843
can i work on this in C++?

[2021-03-26 10:52] kanak22 opened #1044 "First Missing Positive"
### Problem Link
https://leetcode.com/problems/first-missing-positive/

### Coding platform
Leetcode

### Programming language

- [x] C
- [ ] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I would like to work on this in C++

[2021-03-26 10:59] Akash20x commented on #1044
I want to solve it in python

[2021-03-26 11:04] kanak22 opened #1046 "Wildcard Matching"
### Problem Link
https://leetcode.com/problems/wildcard-matching/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I would like to do this in C++.

[2021-03-26 11:06] kanak22 opened #1047 "Sail"
### Problem Link
https://codeforces.com/problemset/problem/298/B

### Coding platform
Codeforces

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I would like to do this in C++.

[2021-03-26 11:12] kanak22 commented on #1037
I would like to do this in C.

[2021-03-26 11:12] kanak22 commented on #1038
I would like to do this in C.

[2021-03-26 11:13] Akash20x commented on #1047
I want to solve it in python

[2021-03-26 11:14] Akash20x commented on #1046
I want to solve it in python

[2021-03-26 11:14] kanak22 commented on #1034
I would like to do this in C.

[2021-03-26 11:15] kanak22 commented on #1033
I would like to do this in C.

[2021-03-26 11:16] abhinav5481 commented on #1044
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me.

[2021-03-26 11:16] abhinav5481 commented on #1046
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me.

[2021-03-26 11:16] abhinav5481 commented on #1047
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me.

[2021-03-26 11:16] kanak22 commented on #1031
I would like to do this in C.

[2021-03-26 11:16] kanak22 commented on #1030
I would like to do this in C.

[2021-03-26 11:17] abhinav5481 commented on #1039
Hi @Nivedita967
I would like to solve it in c. Please assign it to me.

[2021-03-26 11:17] kanak22 commented on #1013
I would like to do this in C.

[2021-03-26 11:17] kanak22 commented on #1012
I would like to do this in C.

[2021-03-26 12:50] ArkajyotiChakraborty commented on #680
![image](https://user-images.githubusercontent.com/72427901/112633758-c4d0fd00-8e5f-11eb-964c-dd878efc42ae.png)

Hey, the solution got accepted what i need to do make get it merge,  new to open source.

[2021-03-26 12:56] kanak22 commented on #680
Hey @ArkajyotiChakraborty  you need to make a PR for getting it merged. You can google about how to make a pull request and can follow steps and learn by it and welcome to opensource :)

[2021-03-26 13:52] #804 closed

[2021-03-26 14:29] rahil-1407 opened #1050 "Flatten Binary Tree to Linked List"
### Problem Link
https://leetcode.com/problems/flatten-binary-tree-to-linked-list/

### Coding platform
LeetCode

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-03-26 14:31] #665 closed

[2021-03-26 14:38] Nivedita967 commented on #683
@bhardwaj2000 I have requested you changes. Check your PR.

[2021-03-26 14:46] ArkajyotiChakraborty commented on #680
ok will do it in completion of the other question.

[2021-03-26 14:51] pri1311 commented on #1050
can do it in C++ or python

[2021-03-26 14:52] pri1311 commented on #1047
will do it in C

[2021-03-26 14:52] Amit366 commented on #1046
@Nivedita967 can I solve in c++?

[2021-03-26 14:52] pri1311 commented on #1046
can I do it in C?

[2021-03-26 14:53] pri1311 commented on #1044
Can I do it in C?

[2021-03-26 14:54] pri1311 commented on #1013
can I do it in Python or Java?

[2021-03-26 14:55] Amit366 commented on #1050
@Nivedita967 can I work in Java?

[2021-03-26 14:57] Akash20x commented on #1050
I want to solve it in python

[2021-03-26 15:01] Amit366 commented on #808
@Nivedita967 my PR isn't reviewed and the issue is closed

[2021-03-26 15:05] #775 closed

[2021-03-26 15:17] #628 closed

[2021-03-26 15:19] #856 closed

[2021-03-26 15:32] rahil-1407 commented on #1050
Assign me in C++.

[2021-03-26 15:51] Akash20x commented on #967
@Nivedita967 Please now check my pull request

[2021-03-26 15:52] Amit366 commented on #876
@Nivedita967 now can i work in C??

[2021-03-26 15:55] Nivedita967 commented on #689
@pri1311 has still so many pending issues. So @JASKAMAL22 Go for Python.

[2021-03-26 16:05] #944 closed

[2021-03-26 16:24] Nivedita967 commented on #876
Go for it @Amit366

[2021-03-26 16:36] Akash20x commented on #967
@Nivedita967 Please check my pull request

[2021-03-26 16:48] Amit366 commented on #885
@Nivedita967 is this issue open??

[2021-03-26 16:49] Amit366 commented on #814
@Nivedita967 can I work in C??

[2021-03-26 16:56] Nivedita967 commented on #1013
Not open

[2021-03-26 17:12] abhinav5481 commented on #1050
Hi @Nivedita967
I would like to solve it in C. Please assign it to me.

[2021-03-26 17:15] JASKAMAL22 commented on #1038
Hello @Nivedita967 , I would like to do it in python. Kindly assign it to me! :)

[2021-03-26 17:16] JASKAMAL22 commented on #1044
I would like to do it in python. Can you please assign it to me!

[2021-03-26 17:23] Nivedita967 commented on #1038
Not open.

[2021-03-26 17:26] Nivedita967 commented on #1044
Java solution of this problem is already present in this project.

[2021-03-26 17:26] Nivedita967 commented on #1044
Python is not open.

[2021-03-26 17:35] Nivedita967 commented on #1050
@rahil-1407 ->C++
@pri1311 ->python
@Amit366 ->Java
@abhinav5481 ->C

[2021-03-26 17:37] Nivedita967 commented on #480
@Abhinav0909 Are you working?

[2021-03-26 17:39] Nivedita967 commented on #466
@pri1311 Are you on this?

[2021-03-26 17:43] Nivedita967 commented on #511
@AbhipsaGuru1012 Are your exams over?

[2021-03-26 17:44] Nivedita967 commented on #627
@pri1311 You have many pending issues, Complete ASAP.

[2021-03-26 17:44] #961 closed

[2021-03-26 17:50] pri1311 commented on #627
Yes @Nivedita967

[2021-03-26 17:51] Nivedita967 commented on #960
Complete your all pending issues first @pri1311

[2021-03-26 17:53] Nivedita967 commented on #959
I have assigned you many issues. Complete them first.

[2021-03-26 17:53] Nivedita967 commented on #959
Go for Java.

[2021-03-26 18:10] Akash20x commented on #967
@Nivedita967 Please check my pull request

[2021-03-26 18:15] Akash20x commented on #945
Please check my pull request

[2021-03-26 18:18] KaranBhut44 commented on #1044
I would like to do it in C++. Please assign it to me

[2021-03-26 18:19] Akash20x commented on #921
Please check my pull request

[2021-03-26 18:28] abhinav5481 commented on #1044
Okay then. Can I do it in C?

[2021-03-26 18:29] Akash20x commented on #1046
@Nivedita967 Please check my pull request

[2021-03-26 18:40] Akash20x commented on #1044
@Nivedita967 Please check my pull request

[2021-03-26 18:51] Akash20x commented on #1039
@Nivedita967 Please check my pull request

[2021-03-26 19:24] Amit366 commented on #946
@Nivedita967 can I work in Java??

[2021-03-26 19:27] Amit366 commented on #762
@Nivedita967 please assign it to me

[2021-03-26 19:33] Amit366 commented on #960
@Nivedita967 is it open for C??

[2021-03-26 19:37] Amit366 commented on #777
@Nivedita967 can I work in python??

[2021-03-26 19:38] Amit366 commented on #677
@Nivedita967 is this issue open??

[2021-03-26 19:39] Amit366 commented on #884
@Nivedita967 can I work in C??

[2021-03-26 20:45] ArkajyotiChakraborty commented on #679
@Nivedita967 I have done the question will make the PR tomorrow.

[2021-03-26 20:46] ArkajyotiChakraborty commented on #681
@Nivedita967 i have done the question, will make the PR tomorrow.

[2021-03-27 02:56] Amit366 commented on #889
@Nivedita967 is it open??

[2021-03-27 03:03] Akash20x commented on #1047
@Nivedita967 Please check my pull request

[2021-03-27 03:37] Akash20x commented on #1036
@Nivedita967 Please check my pull request

[2021-03-27 05:28] jasmine1601 opened #1087 "Invert Binary Tree"
### Problem Link
https://leetcode.com/problems/invert-binary-tree/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve this in Java.

[2021-03-27 05:30] jasmine1601 opened #1088 "Odd Even Linked List"
### Problem Link
https://leetcode.com/problems/odd-even-linked-list/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve this in Java.

[2021-03-27 05:35] abhinav5481 commented on #1087
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me

[2021-03-27 05:36] abhinav5481 commented on #1088
Hi @Nivedita967
I would like to solve it in Python. Please assign it to me

[2021-03-27 05:40] JASKAMAL22 commented on #1087
I want to solve it in C++. Kindly assign it to me!

[2021-03-27 05:40] JASKAMAL22 commented on #1088
I want to do it in C++. Kindly assign it to me! :)

[2021-03-27 06:24] Akash20x commented on #1087
I want to solve it in python

[2021-03-27 06:25] Akash20x commented on #1087
I want to solve it in C.
Please assign me this issue as a part of Cross Woc

[2021-03-27 06:25] Akash20x commented on #1088
I want to solve it in C. Please assign me this issue as a part of Cross Woc

[2021-03-27 08:45] Kpraful commented on #777
I would like to try it in python.

[2021-03-27 08:51] Kpraful opened #1096 "Odd Divisor"
### Problem Link
https://codeforces.com/problemset/problem/1475/A

### Coding platform
Codeforces

### Programming language

- [x] C
- [x] C++
- [x] Java
- [ ] Python

### Additional context (OPTIONAL)
I would like to solve this in c++

[2021-03-27 08:53] JASKAMAL22 commented on #1096
I would like to solve in python.  Kindly assign me:)

[2021-03-27 09:05] Akash20x commented on #1096
I want to solve it in C

[2021-03-27 09:19] abhinav5481 commented on #1096
Hi @Nivedita967
I would like to solve it Java. Please assign it to me

[2021-03-27 09:52] Amit366 opened #1101 "kth-smallest-number-in-multiplication-table"
### Problem Link
https://leetcode.com/problems/kth-smallest-number-in-multiplication-table/

### Coding platform
Leetcode

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.
I want to work in Java and python

[2021-03-27 09:54] JASKAMAL22 commented on #1101
Hey @Nivedita967 I would like to do it in python. Can you please assign it to me! :)

[2021-03-27 10:46] Akash20x commented on #1101
I want to solve it in C++

[2021-03-27 10:50] abhinav5481 commented on #1101
Hi @Nivedita967
I would like to solve it in C. Please assign it to me.

[2021-03-27 11:01] #576 closed

[2021-03-27 11:25] greenblade29 opened #1103 "Maximum Frequency Stack"
### Problem Link
https://leetcode.com/problems/maximum-frequency-stack/

### Coding platform
Leetcode

### Programming language

- [x] C
- [ ] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-27 11:26] #660 closed

[2021-03-27 11:32] Nivedita967 commented on #876
@pri1311 Are you working?

[2021-03-27 11:37] greenblade29 opened #1104 "Subarrays with K Different Integers"
### Problem Link
https://leetcode.com/problems/subarrays-with-k-different-integers/

### Coding platform
Leetcode

### Programming language

- [x] C
- [ ] C++
- [x] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-27 11:39] #466 closed

[2021-03-27 11:43] Akash20x commented on #1104
I want to solve it in python

[2021-03-27 11:43] Akash20x commented on #1103
I want to solve it in python

[2021-03-27 11:46] greenblade29 opened #1105 "Count All Valid Pickup and Delivery Options"
### Problem Link
https://leetcode.com/problems/count-all-valid-pickup-and-delivery-options/

### Coding platform
Leetcode

### Programming language

- [x] C
- [ ] C++
- [ ] Java
- [x] Python

### Additional context (OPTIONAL)
I want to solve it in Java

[2021-03-27 11:48] #945 closed

[2021-03-27 11:54] #805 closed

[2021-03-27 12:00] Nivedita967 commented on #1044
C is not open.

[2021-03-27 12:09] Akash20x commented on #1105
I want to solve it in python

[2021-03-27 13:07] pri1311 commented on #1105
I can solve it in C++

[2021-03-27 13:08] pri1311 commented on #1104
I can solve it in C++

[2021-03-27 13:08] pri1311 commented on #1103
I can solve it in C++

[2021-03-27 13:08] pri1311 commented on #1101
If it is open can do it in C++ or python

[2021-03-27 13:08] Abhinav0909 commented on #480
@Nivedita967, yes I am working

[2021-03-27 13:13] pri1311 commented on #627
@Nivedita967  Hey sorry for the delay, actually even though I have been assigned issue it wasn't showing up in my assigned section. Will send all PRs today itself.

[2021-03-27 13:16] stlyash commented on #760
Done, Please recheck it

[2021-03-27 13:54] #1046 closed

[2021-03-27 13:54] Amit366 commented on #1103
@Nivedita967 can I work in C??

[2021-03-27 13:56] Amit366 commented on #1105
@Nivedita967 can I work in C??

[2021-03-27 16:23] JASKAMAL22 commented on #843
Hello @Nivedita967 , Please review the PR and let me know if any change is required. :)

[2021-03-27 16:43] abhinav5481 commented on #1105
Hi @Nivedita967
I would like to solve it in c++. Please assign it to me

[2021-03-27 16:44] abhinav5481 commented on #1104
Hi @Nivedita967
I would like to solve it in C. Please assign it to me

[2021-03-27 16:44] abhinav5481 commented on #1103
Hi @Nivedita967
I would like to solve it in C++. Please assign it  to  me

[2021-03-27 17:06] #939 closed

[2021-03-27 17:10] #778 closed

[2021-03-27 17:24] #814 closed

[2021-03-27 17:27] #946 closed

[2021-03-27 17:29] #1047 closed

[2021-03-27 17:35] #887 closed

[2021-03-27 17:38] #806 closed

[2021-03-27 18:02] abhinav5481 opened #1127 "Stone Game IV"
### Problem Link
https://leetcode.com/problems/stone-game-iv/

### Coding platform
Leetcode

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

I would like to solve it in Java. Please assign it to me.

[2021-03-27 18:03] abhinav5481 commented on #1127
Hi @Nivedita967
I would like to solve it in Java. Please assign it to me

[2021-03-27 18:05] Nivedita967 commented on #1101
@Amit366 Go for Java only.

[2021-03-27 18:06] Nivedita967 commented on #1101
Not open.

[2021-03-27 18:08] Nivedita967 commented on #1103
Not open.

[2021-03-27 18:09] abhinav5481 commented on #1103
I which language is it open for?

[2021-03-27 18:10] Nivedita967 commented on #1105
Not open.

[2021-03-27 18:11] abhinav5481 commented on #1105
Which language is open?

[2021-03-27 18:12] Amit366 commented on #1127
@Nivedita967 can I do in python??

[2021-03-27 18:12] #661 closed

[2021-03-27 18:14] Amit366 commented on #762
@Nivedita967 please assign this to me

[2021-03-27 18:15] Amit366 commented on #777
@Nivedita967 please assign this to me

[2021-03-27 18:16] #627 closed

[2021-03-27 18:17] #876 closed

[2021-03-27 18:18] abhinav5481 opened #1130 "Couples Holding Hands"
### Problem Link
https://leetcode.com/problems/couples-holding-hands/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

I would like to solve it in Java. Please assign it to me.

[2021-03-27 18:18] abhinav5481 commented on #1130
Hi
I would like to solve it in Java

[2021-03-27 18:23] #746 closed

[2021-03-27 18:25] Akash20x commented on #1130
I want to solve it in python

[2021-03-27 18:26] Akash20x commented on #1127
I want to solve it in C++

[2021-03-27 18:31] #760 closed

[2021-03-27 18:31] #689 closed

[2021-03-27 18:33] Nivedita967 commented on #475
@Abhinav0909 Are you working??

[2021-03-27 18:34] Nivedita967 commented on #593
@urvashiramdasani Are you working on this??

[2021-03-27 18:35] Nivedita967 commented on #629
@pri1311 Complete all your pending issues ASAP. Are you doing?

[2021-03-27 18:36] pri1311 commented on #629
Hey, yes will send today

[2021-03-27 18:36] Nivedita967 commented on #738
@TechSpiritSS Are you working??

[2021-03-27 18:37] Nivedita967 commented on #749
Go for it.

[2021-03-27 18:37] pri1311 commented on #629
Actually my assigned section is not showing all issues, so as soon my current PRs are merged, Ill go through the issues section and create PRs

[2021-03-27 18:39] Nivedita967 commented on #677
Sure @Amit366 Go for C++

[2021-03-27 18:42] Nivedita967 commented on #738
Go for it @pri1311

[2021-03-27 18:43] Nivedita967 commented on #777
@Amit366 Go for it.

[2021-03-27 18:44] #808 closed

[2021-03-27 18:45] Nivedita967 commented on #826
@weirdrag08 Are you working on this?

[2021-03-27 18:45] #839 closed

[2021-03-27 18:47] Nivedita967 commented on #843
I have assigned you issues, please complete them.

[2021-03-27 18:47] Nivedita967 commented on #843
@kanak22 You go ahead for C++

[2021-03-27 18:49] Nivedita967 commented on #847
@jayantjethi Are you working on this?

[2021-03-27 18:49] Nivedita967 commented on #882
@abhinav5481 Are you working on this?

[2021-03-27 18:49] #883 closed

[2021-03-27 18:50] abhinav5481 commented on #882
Yeah,
I will create PR soon.

[2021-03-27 18:50] Nivedita967 commented on #885
Yes @Amit366 Go for C.

[2021-03-27 18:51] Nivedita967 commented on #886
@weirdrag08 Are you working?

[2021-03-27 18:52] Nivedita967 commented on #889
Yes, Go for C.

[2021-03-27 18:52] abhinav5481 commented on #691
Hi @Nivedita967
Is this issue still open? Can I get assigned to any language?

[2021-03-27 18:52] Amit366 commented on #1130
@Nivedita967 can I do in c++??

[2021-03-27 18:53] #888 closed

[2021-03-27 18:54] abhinav5481 commented on #577
Hi @Nivedita967
Is this issue still open? Can I solve it in Java?

[2021-03-27 18:54] Nivedita967 commented on #896
@ishikabansal04 @weirdrag08 Are you working on this?

[2021-03-27 18:55] abhinav5481 commented on #511
Hi @Nivedita967
Is this issue still open? Can I solve it in Java?

[2021-03-27 18:56] Nivedita967 commented on #960
yes

[2021-03-27 18:56] abhinav5481 commented on #680
Hi @Nivedita967
Is this issue still open? Can I solve it in Java or c?

[2021-03-27 18:57] abhinav5481 commented on #671
Hi @Nivedita967
Is this issue still open? Can I solve it in C++?

[2021-03-27 19:02] abhinav5481 commented on #593
Hi @Nivedita967
Is this issue still open? Can I solve it in C++?

[2021-03-27 19:12] abhinav5481 commented on #738
Hi @Nivedita967
Is this issue still open? Can I solve it in C?

[2021-03-27 19:12] abhinav5481 commented on #749
Hi @Nivedita967
Is this issue still open?

[2021-03-27 19:13] abhinav5481 commented on #824
Hi @Nivedita967
Is this issue still open? Can I solve it in C?

[2021-03-27 19:13] abhinav5481 commented on #844
Hi @Nivedita967
Is this issue still open? Can I solve it in Java or C?

[2021-03-27 19:14] abhinav5481 commented on #847
Hi @Nivedita967
Is this issue still open? Can I solve it in C++, Python or C?

[2021-03-27 19:15] abhinav5481 commented on #891
Hi @Nivedita967
Is this issue still open? Can I solve it in Python?

[2021-03-27 19:17] abhinav5481 commented on #967
Hi @Nivedita967
Is this issue still open? Can I solve it in C?

[2021-03-27 19:19] #1044 closed

[2021-03-27 19:29] Nivedita967 commented on #749
Yes @abhinav5481 This is open for Java.

[2021-03-27 19:30] Nivedita967 commented on #749
@bharth-stack Are you unable to work ?

[2021-03-27 19:32] abhinav5481 commented on #749
Can I go ahead?

[2021-03-27 19:39] Amit366 commented on #1130
@Nivedita967 can I solve in C??

[2021-03-27 19:46] abhinav5481 commented on #1127
Hi @Nivedita967
If it's possible, Can you assign it to me in C?

[2021-03-28 03:39] jayantjethi commented on #847
Yess Mam.. Check My PR I have Submitted It . Sorry For Getting Late.

[2021-03-28 05:18] Akash20x commented on #1130
@Nivedita967 Please check my pull request

[2021-03-28 05:41] Akash20x commented on #1127
@Nivedita967 Please check my pull request

[2021-03-28 06:09] Akash20x commented on #1105
@Nivedita967 Please check my pull request

[2021-03-28 06:17] Akash20x commented on #1104
@Nivedita967 Please check my pull request

[2021-03-28 08:52] Akash20x commented on #1103
@Nivedita967 Please check my pull request

[2021-03-28 09:39] Nivedita967 commented on #843
@JASKAMAL22 I have requested changes in your pull request. Check it ASAP.

[2021-03-28 09:40] Akash20x commented on #1101
@Nivedita967 Please check my pull request

[2021-03-28 09:42] Abhinav0909 commented on #475
@Nivedita967 , I am working

[2021-03-28 09:48] #1101 closed

[2021-03-28 09:53] Nivedita967 commented on #847
Yes @abhinav5481 Go for Python.

[2021-03-28 10:00] #1039 closed

[2021-03-28 10:12] Akash20x commented on #1096
@Nivedita967 Please check my pull request

[2021-03-28 10:38] Kpraful commented on #1130
In which language is it open?

[2021-03-28 10:44] Akash20x commented on #1012
@Nivedita967 Please check my pull request

[2021-03-28 11:07] Akash20x commented on #1088
@Nivedita967 Please check my pull request

[2021-03-28 11:20] Akash20x commented on #1032
@Nivedita967 Please check my pull request

[2021-03-28 11:30] abhinav5481 commented on #593
Hi
@Nivedita967
If no one is working on it then can I get assigned to it for C++

[2021-03-28 11:34] abhinav5481 commented on #896
Hi @Nivedita967
If this issue is open & no one is working on C++ then can I do it in C++?

[2021-03-28 11:36] abhinav5481 commented on #886
Hi @Nivedita967
Can I solve it in C?

[2021-03-28 11:36] weirdrag08 commented on #896
Yes , I am working on this.

[2021-03-28 11:38] abhinav5481 commented on #844
Is this issue still open?

[2021-03-28 11:39] weirdrag08 commented on #826
Yes, I am working on this .

[2021-03-28 11:41] abhinav5481 commented on #828
Hi @Nivedita967
Can I do it in C?

[2021-03-28 11:42] abhinav5481 commented on #826
Hi @Nivedita967
Can I solve it in C?

[2021-03-28 11:43] abhinav5481 commented on #815
Hi,
Can I try solving it in C?

[2021-03-28 11:46] abhinav5481 commented on #688
Hi @Nivedita967
Can I solve it in C?

[2021-03-28 11:51] abhinav5481 commented on #683
Hi  @Nivedita967
I would like to solve it in C. Please assign it to me.

[2021-03-28 11:51] abhinav5481 commented on #681
Hi @Nivedita967
I would like to solve it in C. Please assign it to me.

[2021-03-28 11:52] abhinav5481 commented on #960
Hi @Nivedita967
Can I solve it in C?

[2021-03-28 13:28] #671 closed

[2021-03-28 13:29] Nivedita967 commented on #1130
Open for C

[2021-03-28 13:32] Nivedita967 commented on #475
@Abhinav0909 Today is the last day of contribution under CrossWoC. Complete it ASAP.

[2021-03-28 13:35] #889 closed

[2021-03-28 13:40] Nivedita967 commented on #891
Sure Go for it @abhinav5481

[2021-03-28 13:41] Amit366 commented on #1127
@Nivedita967 please review my PR

[2021-03-28 13:42] #885 closed

[2021-03-28 13:42] Amit366 commented on #960
@Nivedita967 please assign me

[2021-03-28 13:43] #884 closed

[2021-03-28 13:46] #882 closed

[2021-03-28 13:46] Amit366 commented on #1130
@Nivedita967 please assign this to me

[2021-03-28 13:48] Nivedita967 commented on #828
@pri1311 Are you working for C?

[2021-03-28 13:49] Nivedita967 commented on #815
Sure Go for it @abhinav5481

[2021-03-28 13:49] Nivedita967 commented on #824
Go for it @abhinav5481

[2021-03-28 13:51] Nivedita967 commented on #844
Go for Java @abhinav5481

[2021-03-28 13:52] Amit366 commented on #843
@Nivedita967 can I work in C??

[2021-03-28 13:53] #777 closed

[2021-03-28 13:55] #762 closed

[2021-03-28 13:58] #691 closed

[2021-03-28 14:00] #692 closed

[2021-03-28 14:02] Nivedita967 commented on #896
Raise PR ASAP.

[2021-03-28 14:05] Nivedita967 commented on #1130
Have you completed all issues assigned to you?

[2021-03-28 14:07] Amit366 commented on #1130
@Nivedita967 yes

[2021-03-28 14:08] Amit366 commented on #1130
In fact I don't have any assigned issues

[2021-03-28 14:10] Nivedita967 commented on #1130
Okay @Amit366 Go for C.

[2021-03-28 14:17] Nivedita967 commented on #1013
@Akash20x Are you working on this?

[2021-03-28 14:19] Nivedita967 commented on #1127
Sure Go for  C also.

[2021-03-28 14:23] #1012 closed

[2021-03-28 14:47] Amit366 commented on #1130
@Nivedita967 please merge the PR

[2021-03-28 15:14] Nivedita967 commented on #1050
@rahil-1407 Are you working on this?

[2021-03-28 15:17] #1105 closed

[2021-03-28 15:19] #1104 closed

[2021-03-28 15:21] #1103 closed

[2021-03-28 15:26] #1030 closed

[2021-03-28 15:27] Nivedita967 commented on #749
Sure @abhinav5481

[2021-03-28 15:30] #738 closed

[2021-03-28 15:38] #634 closed

[2021-03-28 15:40] #1031 closed

[2021-03-28 15:41] #1032 closed

[2021-03-28 15:43] Nivedita967 commented on #1033
@kanak22 Are you working on this?

[2021-03-28 15:45] Nivedita967 commented on #1034
@kanak22 Are you working on this?

[2021-03-28 15:45] Amit366 commented on #847
@Nivedita967 can I do in Java??

[2021-03-28 15:47] kanak22 commented on #1034
As I opened it I found out its not for C. :)

[2021-03-28 15:48] kanak22 commented on #1034
I m trying :)

[2021-03-28 15:49] Amit366 commented on #688
@Nivedita967 is it open??

[2021-03-28 15:49] kanak22 commented on #1033
@Nivedita967 its not for C :(

[2021-03-28 15:54] Amit366 commented on #1038
@Nivedita967 is it open??

[2021-03-28 16:04] #1035 closed

[2021-03-28 16:05] #1037 closed

[2021-03-28 16:07] Nivedita967 commented on #1038
NO.

[2021-03-28 16:07] Nivedita967 commented on #1038
@kanak22 Are you working on this?

[2021-03-28 16:10] #886 closed

[2021-03-28 16:14] #1088 closed

[2021-03-28 16:19] kanak22 commented on #1038
yes just give me half an hour :)

[2021-03-28 16:35] kanak22 commented on #1038
@Nivedita967  I made the PR. Kindly check :)

[2021-03-28 16:35] kanak22 commented on #1034
@Nivedita967 Kindly check the PR :)

[2021-03-28 16:36] kanak22 commented on #1033
@Nivedita967 Kindly check the PR :)

[2021-03-28 16:45] Akash20x commented on #1013
Yes, send PR soon

[2021-03-28 16:45] Akash20x commented on #1029
@Nivedita967 Please check my pull request

[2021-03-28 16:46] #1127 closed

[2021-03-28 16:49] #891 closed

[2021-03-28 16:51] #844 closed

[2021-03-28 16:52] #824 closed

[2021-03-28 16:53] #815 closed

[2021-03-28 16:55] #1130 closed

[2021-03-28 16:57] Akash20x commented on #1087
@Nivedita967 Please check my pull request

[2021-03-28 16:59] #1050 closed

[2021-03-28 17:00] #1096 closed

[2021-03-28 17:02] #843 closed

[2021-03-28 17:07] #896 closed

[2021-03-28 17:08] #629 closed

[2021-03-28 17:13] Amit366 commented on #826
@Nivedita967 can I work in C??

[2021-03-28 17:13] Nivedita967 commented on #1036
@Akash20x I have requested you changes in your PR. Check it ASAP.

[2021-03-28 17:14] Amit366 commented on #810
@Nivedita967 can I work in C??

[2021-03-28 17:14] #1033 closed

[2021-03-28 17:15] #1034 closed

[2021-03-28 17:16] abhinav5481 commented on #826
@Nivedita967
You assigned me this issue 5mins ago. I think it got unassigned by mistake. Please reassign it to me for c

@Nivedita967
You assigned me this issue 5 mins ago, I think it got unassigned by mistake. please reassign it

[2021-03-28 17:17] abhinav5481 commented on #826
@Nivedita967
You assigned me this issue 5 mins ago, I think it got unassigned by mistake. please reassign it

[2021-03-28 17:17] Nivedita967 commented on #810
Yes @Amit366

[2021-03-28 17:18] Nivedita967 commented on #826
Not open.

[2021-03-28 17:18] Nivedita967 commented on #826
Nope, You are still assigned.

[2021-03-28 17:20] Nivedita967 commented on #688
No.

[2021-03-28 17:26] #1038 closed

[2021-03-28 17:28] #1029 closed

[2021-03-28 17:29] Akash20x commented on #1036
Done

[2021-03-28 17:30] #688 closed

[2021-03-28 17:35] Amit366 commented on #810
@Nivedita967 please review the PR

[2021-03-28 17:38] #1087 closed

[2021-03-28 17:39] abhinav5481 commented on #828
Hi @Nivedita967
If it is open please assign it to me for C.

[2021-03-28 17:41] Akash20x commented on #1087
@Nivedita967 Please check my pull request

[2021-03-28 17:42] abhinav5481 commented on #593
Hi @Nivedita967
If it is open please assign it to me for C++.

[2021-03-28 17:43] #967 closed

[2021-03-28 17:47] #847 closed

[2021-03-28 17:48] #1013 closed

[2021-03-28 17:49] #826 closed

[2021-03-28 17:50] #810 closed

[2021-03-28 17:51] Amit366 commented on #593
@Nivedita967 if it is open for C++ please assign.

[2021-03-28 17:52] Amit366 commented on #828
@Nivedita967 if it is open please assign it to me.

[2021-03-28 17:54] #1036 closed

[2021-03-28 17:55] Amit366 commented on #683
@Nivedita967 is it open for java??

[2021-03-28 17:55] Nivedita967 commented on #921
@Akash20x I have requested you changes in your PR. Check it ASAP.

[2021-03-28 17:56] abhinav5481 commented on #577
Hi @Nivedita967
Is this issue still open? Can I solve it in Java?

[2021-03-28 17:57] abhinav5481 commented on #511
Hi @Nivedita967
Is this issue still open? Can I solve it in Java?

[2021-03-28 17:58] abhinav5481 commented on #840
Hi @Nivedita967
Is this issue still open? Can I solve it in C?

[2021-03-28 17:58] Amit366 commented on #840
@Nivedita967 can I solve in C??

[2021-03-28 18:01] Nivedita967 commented on #511
Go for it @abhinav5481

[2021-03-28 18:02] Nivedita967 commented on #577
Go for it @abhinav5481

[2021-03-28 18:03] Nivedita967 commented on #828
Sure Go for it @abhinav5481

[2021-03-28 18:04] Nivedita967 commented on #840
@abhinav5481 I have assigned you some issues. So @Amit366 You go for C.

[2021-03-28 18:05] Nivedita967 commented on #959
@JASKAMAL22 Are you working on this?

[2021-03-28 18:06] Nivedita967 commented on #960
Sure @Amit366 Go for it.

[2021-03-28 18:06] Nivedita967 commented on #960
@JASKAMAL22 Are you working?

[2021-03-28 18:06] Akash20x commented on #921
Done

[2021-03-28 18:08] #921 closed

[2021-03-28 18:10] Nivedita967 commented on #593
@abhinav5481 Go for it.

[2021-03-28 18:13] Amit366 commented on #683
@Nivedita967 can I do in Java???

[2021-03-28 18:13] #683 closed

[2021-03-28 18:15] #828 closed

[2021-03-28 18:18] #840 closed

[2021-03-28 18:19] #577 closed

[2021-03-28 18:22] #593 closed

[2021-03-28 18:27] #511 closed

[2021-03-28 18:33] #749 closed

[2021-03-29 06:39] #677 closed

[2021-03-29 06:40] #960 closed

[2021-03-29 06:40] #959 closed

[2021-03-29 11:25] TechSpiritSS commented on #738
I was having my end sems

[2021-03-31 02:14] stlyash opened #1235 "Apple and Orange"
### Problem Link
https://www.hackerrank.com/challenges/apple-and-orange/problem

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-03-31 02:14] stlyash commented on #1235
I will provide solution in c++

[2021-03-31 02:57] stlyash opened #1236 "Number line jumps"
### Problem Link
https://www.hackerrank.com/challenges/kangaroo/problem?h_r=next-challenge&h_v=zen

### Coding platform
Hackerrank

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-03-31 02:57] stlyash commented on #1236
I will do it in c++

[2021-03-31 14:14] #679 closed

[2021-03-31 14:15] #681 closed

[2021-03-31 14:15] #21 closed

[2021-03-31 16:09] Abhinav0909 commented on #475
@Nivedita967 , I have removed unwanted files

[2021-04-01 16:30] #475 closed

[2021-04-01 18:29] #480 closed

[2021-04-02 16:41] Nivedita967 commented on #1235
@stlyash You may directly open PR.

[2021-04-03 01:50] #1235 closed

[2021-04-03 01:53] #1236 closed

[2021-04-05 18:15] UG-SEP opened #1239 "Can I add diagonal difference in c language(Hackerrank Question)"
### Problem Link
## [Link]( https://github.com/Nivedita967/Data-Structure-and-Algorithms/tree/main/Hackerrank/Diagonal%20Difference)
### Coding platform
I am picking this Question from Hackerrank
### Programming language

- [x] C

### Additional context (OPTIONAL)

[2021-04-06 13:04] Nivedita967 commented on #1239
Sure @UG-SEP Go for it.

[2021-04-06 17:49] UG-SEP commented on #1239
@Nivedita967  i can't add this because someone had added this question in c language but  created other repository
![1](https://user-images.githubusercontent.com/75884061/113755973-89231680-972e-11eb-9596-0dc4d56876c9.jpg)
So can I merge the both repo in a repo

[2021-04-06 17:51] UG-SEP commented on #1239
can i create a new issue and add another question

[2021-04-07 08:16] Nivedita967 commented on #1239
Yah Sure Go ahead.

[2021-04-07 08:17] #1239 closed

[2021-04-07 14:54] UG-SEP opened #1249 "Wanted to add encryption program(Hackerrank)"
### Problem Link
[Problem Link](https://www.hackerrank.com/challenges/encryption/problem)
### Coding platform
This program has been coded in Hackerrank
### Programming language

- [x] C
- [ ] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Example:
`Input:`  feedthedog

1: Read the String size here string length is 10 suppose 10 as square root of 10
2: Now find the number between 10

[2021-04-07 14:54] UG-SEP commented on #1249
Please assign me

[2021-04-13 16:33] Nivedita967 commented on #1249
Sure @UG-SEP, Go for it.

[2021-04-19 16:17] #1249 closed

[2021-04-19 16:30] UG-SEP opened #1251 "Wanted to add Minimum Distance"
### Problem Link
[Click me](https://www.hackerrank.com/challenges/minimum-distances/problem)
### Coding platform
Hackerrank
### Programming language

- [x] C
- [ ] C++
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-04-23 13:37] Nivedita967 commented on #1251
@UG-SEP Go for it :)

[2021-06-19 07:19] #1251 closed

[2021-11-20 14:54] Nivedita967 opened #1253 "Fit squares in triangle problem"
### Problem Link
https://www.codechef.com/problems/TRISQ

### Coding platform
CodeChef

### Programming language

- [ ] C
- [ ] Java
- [ ] Python

### Additional context (OPTIONAL)

C++ file is already present in the question folder "Fit Squares in Triangle". Feel free to add code to this problem in other languages.

[2021-11-20 15:21] Nivedita967 opened #1254 "Is Subsequence"
### Problem Link
 https://leetcode.com/problems/is-subsequence/

### Coding platform
Leetcode

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-11-21 05:22] stlyash commented on #231
I would like to do it in C and Python.
Please assign me.

[2022-04-07 11:25] #231 closed

[2022-06-23 05:12] sriniva7 commented on #1253
can I submit this in java?